<p-dialog [header]="header | translate" [(visible)]="visible"  styleClass="error-pop-up" [closable]="true" (onHide)="closePopup()" [modal]="true"
[draggable]="false" [responsive]="true">
    <p *ngIf="subHeading" class="text-danger">{{subHeading | translate}}</p>
    <p-table [value]="errorMessage" styleClass="body-header-row-span-table">
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr>
                <td [attr.rowspan]="rowData?.errorDetails?.length + 1" class="strong text-danger">{{rowData.errorHeading}}</td>
            </tr>
            <tr *ngFor="let errorDetail of rowData?.errorDetails">
                <td>{{errorDetail}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
