<div class="col tank-outer-ohq">
    <div class="rear-top-ohq"></div>
    <div class="rear-bottom-ohq"></div>
    <div class="rear-tank-wrapper-ohq">
        <ng-container *ngFor="let group of rearTanks">
            <div *ngFor="let tank of group" [ngClass]="{'active': tank?.id === selectedTankId}"
                [ngStyle]="{'visibility': tank?.categoryId === 23? 'hidden': 'visible'}"
                (click)="onTankSelect($event, tank?.id)">
                <div class="tank-level"
                    [ngStyle]="{'height': tank?.percentageFilled, 'background-color': tank?.commodity?.colorCode}">
                </div>
                <p-overlayPanel #op appendTo="body">
                    <ul *ngIf="tank?.commodity">
                        <li>{{'TANK_LAYOUT_TANK'| translate}} : {{tank?.shortName}}</li>
                        <li>{{'TANK_LAYOUT_DENSITY'| translate}} : {{tank?.commodity[options?.densityField]}}</li>
                        <li>{{'TANK_LAYOUT_QUANTITY'| translate}} : {{tank?.commodity[options?.weightField]}}
                        </li>
                        <li>{{'TANK_LAYOUT_PERCENTAGE'| translate}} : {{options?.fillingPercentageField ?
                            tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled}}%</li>
                    </ul>
                </p-overlayPanel>
                <div class="tank-name">
                    <div class="bunker-bullet"
                        style="background-color: black;width:10px;height:10px;border-radius: 50%;"
                        *ngIf="options?.isBullet" (mouseover)="tank?.commodity && op.toggle($event)"
                        (mouseout)="tank?.commodity && op.toggle($event)"></div>
                    {{tank?.shortName}}
                </div>
            </div>
        </ng-container>
    </div>
    <div class="tanks-inner-wrapper-ohq">
        <div class="tanks-inner-outer-ohq">
            <div class="tanks-column-ohq" *ngFor="let group of tanks"
                [ngStyle]="{'width': getTankGroupWidthPercentage(tanks[0], group, tanks[tanks.length-1])}">
                <div *ngFor="let tank of group" [ngClass]="{'active': tank?.id === selectedTankId}"
                    [ngStyle]="{'grid-column': tank?.gridColumn, 'visibility': tank?.categoryId === 22? 'hidden': 'visible'}"
                    (click)="onTankSelect($event, tank?.id)">
                    <div class="tank-level"
                        [ngStyle]="{'height':  tank?.percentageFilled, 'background-color': tank?.commodity?.colorCode}">
                    </div>
                    <p-overlayPanel #op appendTo="body">
                        <ul *ngIf="tank?.commodity">
                            <li>{{'TANK_LAYOUT_TANK'| translate}} : {{tank?.shortName}}</li>
                            <li>{{'TANK_LAYOUT_ULLAGE'| translate}} : {{tank?.commodity[options?.ullageField]}}
                                {{options?.ullageUnit}}</li>
                            <li>{{'TANK_LAYOUT_SG'| translate}} : {{tank?.commodity[options?.densityField]}}</li>
                            <li>{{'TANK_LAYOUT_QUANTITY'| translate}} : {{tank?.commodity[options?.weightField]}}
                            </li>
                            <li>{{'TANK_LAYOUT_PERCENTAGE'| translate}} : {{options?.fillingPercentageField ?
                                tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled}}%</li>
                        </ul>
                    </p-overlayPanel>
                    <div class="tank-name">
                        <div class="bunker-bullet"
                            style="background-color: black;width:10px;height:10px;border-radius: 50%;"
                            *ngIf="options?.isBullet" (mouseover)="tank?.commodity && op.toggle($event)"
                            (mouseout)="tank?.commodity && op.toggle($event)"></div>
                        {{tank?.shortName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>