<div class="col tank-outer-ohq">
    <div class="rear-top-ohq"></div>
    <div class="rear-bottom-ohq"></div>
    <div class="rear-tank-wrapper-ohq">
        <ng-container *ngFor="let group of rearTanks">
            <div *ngFor="let tank of group" [ngClass]="{'active': tank?.id === selectedTankId}" (click)="onTankSelect($event, tank?.id)">
                <div class="tank-level"
                    [ngStyle]="{'height': tank?.percentageFilled, 'background-color': tank?.commodity?.colorCode}">
                </div>
                <div class="tank-name">{{tank?.shortName}}</div>
            </div>
        </ng-container>
    </div>
    <div class="tanks-inner-wrapper-ohq">
        <div class="tanks-inner-outer-ohq">
            <div class="tanks-column-ohq" *ngFor="let group of tanks"
                [ngStyle]="{'width': getTankGroupWidthPercentage(tanks[0], group, tanks[tanks.length-1])}">
                <div *ngFor="let tank of group" [ngClass]="{'active': tank?.id === selectedTankId}"
                    [ngStyle]="{'grid-column': tank?.gridColumn}"  (click)="onTankSelect($event, tank?.id)">
                    <div class="tank-level"
                        [ngStyle]="{'height':  tank?.percentageFilled, 'background-color': tank?.commodity?.colorCode}">
                    </div>
                    <div class="tank-name">{{tank?.shortName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>