<form [formGroup]="loadingDischargingDetailsForm" id="form_load_discharge_details" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="row item-row-wrapper">
            <div class="col  no-right-padding">
                <div class="row form-group">
                    <ng-container *ngIf="timeOfSunrisePermission?.view && timeOfSunsetPermission?.view;then single else multi">
                    </ng-container>
                    <ng-template #multi>
                        <label *ngIf="timeOfSunrisePermission?.view" for="timeOfSunrise"
                            class="col-5 no-left-padding">{{'LOADING_DETAILS_SUNRISE' |
                            translate}}</label>
                        <label *ngIf="timeOfSunsetPermission?.view" for="timeOfSunrise"
                            class="col-5 no-left-padding">{{'LOADING_DETAILS_SUNSET' |
                            translate}}</label>
                    </ng-template>
                    <ng-template #single>
                        <label for="timeOfSunrise" class="col-5 no-left-padding">{{'LOADING_DETAILS_SUNRISE_SUNSET' |
                            translate}}</label>
                    </ng-template>
                    <div class="col error-icon-wrapper" *ngIf="timeOfSunrisePermission?.view">
                        <ng-template *ngIf="timeOfSunrisePermission?.edit;then editable else nonEditable">
                            
                        </ng-template>
                       
                            <ng-template #editable>
                        
                                <p-calendar formControlName="timeOfSunrise" [timeOnly]="true" appendTo="body" inputId="timeOfSunrise"
                                    placeholder="{{'LOADING_DETAILS_SUNRISE_LABEL' | translate}}" hourFormat="24" [readonlyInput]="true"
                                    [showButtonBar]="false" todayButtonStyleClass="hide" #timeOfSunRiseCalender>
                                    <p-footer>
                                        <div class="row">
                                            <div class="col">
                                                <button class="btn btn-default"
                                                    (click)="clearTimeInput(timeOfSunRiseCalender,'timeOfSunrise')">{{'DATA_TABLE_CLEAR_BUTTON_LABEL'
                                                    | translate}}</button>
                                            </div>
                                            <div class="col text-right">
                                                <button class="btn btn-default"
                                                    (click)="onTimeChange(timeOfSunRiseCalender,'timeOfSunrise')">{{'DATA_TABLE_OK_BUTTON_LABEL'
                                                    |
                                                    translate}}</button>
                                            </div>
                                        </div>
                                    </p-footer>
                                </p-calendar>
                                <cpdss-portal-validation-error [errors]="fieldError('timeOfSunrise')"
                                    [errorMessages]="errorMessages.timeOfSunrise">
                                </cpdss-portal-validation-error>
                        
                            </ng-template>
                        
                            <ng-template #nonEditable>
                                <label>{{this.loadingDischargingDetailsResponse?.timeOfSunrise}}</label>
                            </ng-template>

                        </div>           
                    
                    <div class="pt-5" *ngIf="timeOfSunrisePermission?.view && timeOfSunsetPermission?.view">
                        /
                    </div>
                    <div class="col error-icon-wrapper" *ngIf="timeOfSunsetPermission?.view">
                    <ng-template  *ngIf="timeOfSunsetPermission?.edit;then editSunSet else nonEditableSunSet">
                    </ng-template>
                    <ng-template #editSunSet>
                        <p-calendar formControlName="timeOfSunset" [timeOnly]="true" appendTo="body" readonly="true"
                            *ngIf="timeOfSunsetPermission?.edit" inputId="timeOfSunset"
                            placeholder="{{'LOADING_DETAILS_SUNSET_LABEL' | translate}}" hourFormat="24" #timeOfSunSetCalender>
                            <p-footer>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-default"
                                            (click)="clearTimeInput(timeOfSunSetCalender,'timeOfSunset')">{{'DATA_TABLE_CLEAR_BUTTON_LABEL'
                                            | translate}}</button>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-default"
                                            (click)="onTimeChange(timeOfSunSetCalender,'timeOfSunset')">{{'DATA_TABLE_OK_BUTTON_LABEL' |
                                            translate}}</button>
                                    </div>
                                </div>
                            </p-footer>
                            <cpdss-portal-validation-error [errors]="fieldError('timeOfSunset')"
                                [errorMessages]="errorMessages.timeOfSunset">
                            </cpdss-portal-validation-error>
                        </p-calendar>
                    </ng-template>
                    <ng-template #nonEditableSunSet>
                       <label> {{this.loadingDischargingDetailsResponse?.timeOfSunset}}</label>
                    </ng-template>                       
                </div>
               
                </div>
                <div class="row form-group">
                    <label for="startTime" class="col-5 no-left-padding">{{'LOADING_DETAILS_START_TIME_LABEL' |
                        translate}}</label>
                    <div class="col error-icon-wrapper">
                        <p-calendar  formControlName="startTime" styleClass="full-width-field" [timeOnly]="true" appendTo="body"
                            inputId="startTime"
                            placeholder="{{'LOADING_DETAILS_START_TIME_CALENDER_LABEL' | translate}}" showTime="true"
                            hourFormat="24"  #startTimeCalender>
                            <p-footer>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-default" (click)="clearTimeInput(startTimeCalender,'startTime')">{{'DATA_TABLE_CLEAR_BUTTON_LABEL' | translate}}</button>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-default" (click)="onTimeChange(startTimeCalender,'startTime')">{{'DATA_TABLE_OK_BUTTON_LABEL' | translate}}</button>
                                    </div>
                                </div>
                            </p-footer> 
                        </p-calendar>
                            <cpdss-portal-validation-error [errors]="fieldError('startTime')"
                            [errorMessages]="errorMessages.startTime">
                        </cpdss-portal-validation-error>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="trim" class="col-5 no-left-padding">{{'LOADING_DETAILS_TRIM_ALLOWED_LABEL' |
                        translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false"  class="form-control" id="trim"
                            formControlName="initialTrim" placeholder="{{'LOADING_DETAILS_TRIM_INITIAL' | translate}}"
                            (change)="trimValueChange('initialTrim')" [readonly]="false">
                        <cpdss-portal-validation-error [errors]="fieldError('initialTrim')"
                            [errorMessages]="errorMessages.initialTrim">
                        </cpdss-portal-validation-error>
                    </div>
                    <div class="pt-5">
                        /
                    </div>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                            id="trim-max" formControlName="maximumTrim"
                            placeholder="{{'LOADING_DETAILS_TRIM_MAXIMUM' | translate}}" (change)="trimValueChange('maximumTrim')"
                            [readonly]="false">
                        <cpdss-portal-validation-error [errors]="fieldError('maximumTrim')"
                            [errorMessages]="errorMessages.maximumTrim">
                        </cpdss-portal-validation-error>
                    </div>
                    <div class="pt-5">
                        /
                    </div>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                            id="trim-final" formControlName="finalTrim"
                            placeholder="{{'LOADING_DETAILS_TRIM_FINAL' | translate}}" (change)="trimValueChange('finalTrim')"
                            [readonly]="false">
                        <cpdss-portal-validation-error [errors]="fieldError('finalTrim')"
                            [errorMessages]="errorMessages.finalTrim">
                        </cpdss-portal-validation-error>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="tide-details" class="col-5 no-left-padding">{{'LOADING_DETAILS_TIDE_DETAIL_LABEL' |
                        translate}}</label>
                    <div class="col">
                        <div class="upload-file v-bottom">
                            {{'LOADING_DETAILS_BROWSE_BUTTON_LABEL' | translate}}
                            <input type="file" name="fl_attachMail" #fileUpload
                                accept="image/jpeg,image/jpg,image/png,application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document,.eml,.msg"
                                title="No file selected"  focusTrap/>
                        </div>
                        <a type="button" class="download-icon ml-10 mr-10"></a>
                        <a type="button" class="pencil-icon"></a>
                    </div>
                    <!-- <div class="col error-column">
                        <cpdss-portal-validation-error [errors]="fieldError('portName')"
                            [errorMessages]="errorMesages.portName"></cpdss-portal-validation-error>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</form>
