<div class="content-outer-instruction">
  <div class="sidebar relative">
    <div class="sidebar-content">
      <cpdss-portal-instruction-side-panel [panelList]="sidePanelList"
        (selectedInstructionChange)="sidePanelInstructionChange($event)"></cpdss-portal-instruction-side-panel>
    </div>
  </div>

  <div class="pl-30">
    <cpdss-portal-instruction-check-list #instructionCheckList [operation]="OPERATIONS.DISCHARGING" (tabStatus)="setTabStatus($event)"
      (updateData)="getDischargingInstructionDetails()" [vesselId]="vesselId" [voyageId]="voyageId" [portRotationId]="portRotationId"
      [groupId]="groupId" [instructionList]="instructionList" [permission]="permission" [loadingDischargingInfoId]="dischargeInfoId">
    </cpdss-portal-instruction-check-list>
  </div>
</div>
