<p-dialog header="{{vesselDetails?.name}} - {{'NEW_VOYAGE_POPUP_HEADER' | translate}}" [(visible)]="showPopUp"
  styleClass="new-voayge-pop-up" [closable]="false" [draggable]="false" [modal]="true">
  <form [formGroup]="newVoyageForm" (submit)="onSubmit()" *ngIf="newVoyageForm">

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group row">
            <label for="captain_name" class="col-md-3 col-form-label text-secondary">{{'CAPTAIN' | translate}}</label>
            <div class="col-md-6">
              <input type="text" readonly class="form-control-plaintext" formControlName="captain" id="captain_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="chief_name" class="col-md-3 col-form-label text-secondary">{{'CHIEF_OFFICER' |
              translate}}</label>
            <div class="col-md-3">
              <input type="text" readonly class="form-control-plaintext" formControlName="chiefOfficer" id="chief_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="voyage_no_label" class="col-md-3 col-form-label text-secondary">{{'VOYAGE_NO' |
              translate}}</label>
            <div class="col-9">
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form-control" id="voyage_no" formControlName="voyageNo"
                    (change)="trimVoyageNo($event)">
                </div>
                <div class="pt-5">
                  <cpdss-portal-validation-error *ngIf="fieldError('voyageNo')" [errors]="fieldError('voyageNo')"
                    [errorMessages]="errorMessages.voyageNo">
                  </cpdss-portal-validation-error>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="start_date_label"
              class="col-md-3 col-form-label text-secondary">{{'VOYAGE_POP_UP_START_DATE_LABEL' |
              translate}}</label>
            <div class="col-9">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col">
                      <p-calendar appendTo="body" inputId="start_date" formControlName="start_date"
                        dateFormat="dd-M-yy" #startDateTime [minDate]="date" showTime="true"
                        [hideOnDateTimeSelect]="false" (onClose)="onDateSelect(startDateTime)" (onInput)="onDateSelect(startDateTime)">
                        <p-footer>
                          <button class="btn btn-main"
                            (click)="onDateSelect(startDateTime)">{{'DATA_TABLE_OK_BUTTON_LABEL'
                            | translate}}</button>
                        </p-footer>
                      </p-calendar>
                    </div>
                    <div>
                      <cpdss-portal-validation-error *ngIf="fieldError('start_date')"
                        [errors]="fieldError('start_date')" [errorMessages]="errorMessages.start_date">
                      </cpdss-portal-validation-error>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row">
                    <div class="col">
                      <p-dropdown [(ngModel)]="startDateTimeZone" id="new_voyage_start_date_time_zone"
                        styleClass="form-control" appendTo="body" formControlName="selectStartDateTimeZone"
                        [options]="globalTimeZones" optionLabel="timezone"
                        placeholder="{{'VOYAGE_POP_UP_START_DATE_TIME_ZONE_PLACEHOLDER'|translate}}" filter="true"
                        resetFilterOnHide="true" focusTrap>
                      </p-dropdown>
                    </div>
                    <div>
                      <cpdss-portal-validation-error *ngIf="fieldError('selectStartDateTimeZone')"
                        [errors]="fieldError('selectStartDateTimeZone')"
                        [errorMessages]="errorMessages.selectStartDateTimeZone">
                      </cpdss-portal-validation-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="form-group row">
            <label for="end_date_label" class="col-md-3 col-form-label text-secondary">{{'VOYAGE_POP_UP_END_DATE_LABEL'
              |
              translate}}</label>
            <div class="col-9">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col">
                      <p-calendar appendTo="body" inputId="end_date" formControlName="end_date" dateFormat="dd-mm-yy"
                        #endDateTime [minDate]="date" showTime="true" [hideOnDateTimeSelect]="false" (onClose)="onDateSelect(endDateTime)" (onInput)="onDateSelect(endDateTime)">
                        <p-footer>
                          <button class="btn btn-main"
                            (click)="onDateSelect(endDateTime)">{{'DATA_TABLE_OK_BUTTON_LABEL'
                            | translate}}</button>
                        </p-footer>
                      </p-calendar>
                    </div>
                    <div>
                      <cpdss-portal-validation-error *ngIf="fieldError('end_date')" [errors]="fieldError('end_date')"
                        [errorMessages]="errorMessages.end_date">
                      </cpdss-portal-validation-error>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col">
                      <p-dropdown [(ngModel)]="endDateTimeZone" styleClass="form-control"
                        id="new_voyage_end_date_time_zone" appendTo="body" formControlName="selectEndDateTimeZone"
                        [options]="globalTimeZones" optionLabel="timezone"
                        placeholder="{{'VOYAGE_POP_UP_END_DATE_TIME_ZONE_PLACEHOLDER'|translate}}" filter="true"
                        resetFilterOnHide="true" focusTrap>
                      </p-dropdown>
                    </div>
                    <div>
                      <cpdss-portal-validation-error *ngIf="fieldError('selectEndDateTimeZone')"
                        [errors]="fieldError('selectEndDateTimeZone')"
                        [errorMessages]="errorMessages.selectEndDateTimeZone">
                      </cpdss-portal-validation-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </form>
  <p-footer>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-main mr-10" id="voyage_popup_cancel" (click)="cancel()">{{
          'CANCEL_BUTTON_NEW_VOYAGE_POPUP' | translate }}</button>
        <button class="btn btn-main" type="submit" id="voyage_popup_submit" (click)="saveNewVoyagePopup()">{{
          'SAVE_BUTTON_NEW_VOYAGE_POPUP' | translate }}</button>
      </div>
    </div>

  </p-footer>
</p-dialog>