<p-dialog header=" {{'LOADABLE_PLAN_USER_ROLE_SELECT_HEADER'| translate}}" [(visible)]="visible" styleClass="user-role-select-popup" [closable]="false"
    [draggable]="false" [modal]="true">
    <div class="row">
        <div class="col text-center text-uppercase pt-10">
            <label class="radio-custom">
                {{'LOADABLE_PLAN_USER_ROLE_SELECT_MASTER_LABEL' | translate}}
                <input type="radio" id="user_role_master" name="role" class="custom-control-input" [(ngModel)]="role"
                    value="Master" >
                <span class="checkmark"></span>
            </label>

            <label class="radio-custom">
                {{'LOADABLE_PLAN_USER_ROLE_SELECT_VIEWER_LABEL' | translate}}
                <input type="radio" id="user_role_viewer" name="role" class="custom-control-input" [(ngModel)]="role"
                    value="Viewer" >
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <p-footer>
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-main mr-10" id="user_role_select_cancel" (click)="cancel()" focusTrap>{{'LOADABLE_PLAN_USER_ROLE_SELECT_CANCEL_BUTTON_LABEL' | translate}}</button>
                <button class="btn btn-main" id="user_role_select_submit" (click)="submit()" autofocus focusTrap>{{'LOADABLE_PLAN_USER_ROLE_SELECT_OK_BUTTON_LABEL' | translate}}</button>
            </div>
        </div>

    </p-footer>

</p-dialog>