<div class="content-outer-obq">
    <div class="">
        <div class="container-fluid">
            <div class="row h-100 no-wrap">
                <div class="col">
                    <div class="row">
                        <div class="col" style="max-width: 120px;">
                            <span class="text-secondary text-uppercase">{{'OBQ_SELECTED_PORT'| translate}}</span>
                        </div>
                        <div class="col pl-0">
                            <ul class="list-unstyled list-inline port-list mb-0">
                                <li class="list-inline-item" class="active">
                                    {{selectedPort?.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" *ngIf="obqForm">
                            <form [formGroup]="obqForm">
                                <div class="form-group row">
                                    <div class="col">
                                        <div class="table-responsive-custom cargo-nomination-table obq">
                                            <cpdss-portal-datatable [tableId]="'obq'" [form]="obqForm"
                                                [columns]="columns" [value]="selectedPortOBQTankDetails"
                                                [editMode]="editMode" [filterable]="true" [listData]="listData"
                                                [selectionMode]="selectionMode" (editComplete)="onEditComplete($event)"
                                                (rowSelection)="onRowSelection($event)" [selection]="selectedTank">
                                            </cpdss-portal-datatable>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="pr-15">
        <div class=" tank-wrapper-obq">
            <div class="row">
                <div class="col">
                    <p class="text-uppercase text-center text-secondary">{{'OBQ_TANK_FILLS' | translate}}</p>
                </div>
            </div>
            <div class="row mb-10">
                <div class="col text-center">
                    <span class="mr-10 text-uppercase text-secondary">{{'OBQ_GRADE'| translate}}</span>
                    <ng-container *ngFor="let cargo of cargoList">
                        <span class="badge-custom mr-5" *ngIf="cargo?.id"
                            [ngStyle]="{'background-color': cargo?.colorCode}">{{cargo?.id}}</span>
                    </ng-container>

                </div>
                <div class="col" *ngIf="selectedTankId">{{selectedTank?.percentageFilled}}
                    {{'OHQ_FILLED'| translate}}</div>
            </div>
            <div class="row">
                <div class="col">
                    <cpdss-portal-cargo-tank-layout [tanks]="tanks" [(selectedTankId)]="selectedTankId">
                    </cpdss-portal-cargo-tank-layout>
                </div>
            </div>
            <form *ngIf="obqForm && selectedIndex >= 0" [formGroup]="obqForm">
                <div class="row text-uppercase text-secondary mt-10">
                    <div class="col-3">
                        <div class="row mb-15">
                            <label for="" class="col-12 text-center">{{'OBQ_CARGO'| translate}}</label>
                            <div class="col">
                                <input type="text" readonly class="form-control" formControlName="cargo">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-15">
                            <label for="" class="col-12 text-center">{{'OBQ_SOUNDING'| translate}}</label>
                            <div class="col">
                                <input type="number" class="form-control" formControlName="sounding"
                                    (change)="onChange($event,'sounding')" [readonly]="isEditable">
                                <cpdss-portal-validation-error [errors]="fieldError(selectedIndex, 'sounding')"
                                    [errorMessages]="getErrorMessages('sounding')">
                                </cpdss-portal-validation-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-15">
                            <label for="" class="col-12 text-center">{{'OBQ_WEIGHT'| translate}}</label>
                            <div class="col">
                                <input type="number" class="form-control" formControlName="weight"
                                    (change)="onChange($event,'weight')" [readonly]="isEditable">
                                <cpdss-portal-validation-error [errors]="fieldError(selectedIndex, 'weight')"
                                    [errorMessages]="getErrorMessages('weight')">
                                </cpdss-portal-validation-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-15">
                            <label for="" class="col-12 text-center">{{'OBQ_VOL'| translate}}</label>
                            <div class="col">
                                <input type="number" class="form-control" formControlName="volume"
                                    (change)="onChange($event,'volume')" [readonly]="isEditable">
                                <cpdss-portal-validation-error [errors]="fieldError(selectedIndex, 'volume')"
                                    [errorMessages]="getErrorMessages('volume')">
                                </cpdss-portal-validation-error>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>