<div class="content-outer-obq">
    <div class="">
        <div class="container-fluid">
            <div class="row h-100 no-wrap">
                <div class="col">
                    <div class="row">
                        <div class="col" style="max-width: 120px;">
                            <span class="text-secondary text-uppercase">{{'OBQ_SELECTED_PORT'| translate}}</span>
                        </div>
                        <div class="col pl-0">
                            <ul class="list-unstyled list-inline port-list mb-0">
                                <li class="list-inline-item" class="active">
                                    {{selectedPort?.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" *ngIf="obqForm">
                            <form [formGroup]="obqForm">
                                <div class="form-group row">
                                    <div class="col">
                                        <div class="table-responsive-custom cargo-nomination-table obq">
                                            <cpdss-portal-datatable [tableId]="'obq'" [form]="obqForm"
                                                [columns]="columns" [value]="selectedPortOBQTankDetails"
                                                [editMode]="editMode" [filterable]="true" [listData]="listData"
                                                (editComplete)="onEditComplete($event)">
                                            </cpdss-portal-datatable>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>