.content-outer-obq{
    display: grid;
    grid-template-columns: calc(100% - 500px) 500px;
    height: calc(100vh - 200px);
}
@media (max-width: 1400px){
    .content-outer-obq{
        grid-template-columns: calc(100% - 370px) 370px;
    }
}