<div class="container-fluid">
    <div class="row">
        <div class="col"><h5 class="main-head inline-block">{{'ROLE_LISTING'| translate}}</h5></div>
        <div class="col text-right">
            <a id="add_user" class="btn btn-link icon-btn plus-icon-rounded float-right" (click)="addUser(true)" *cpdssPortalPermission="addUserBtnPermissionContext">{{'ADD_ROLE_BUTTON_LABEL'| translate}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 role-listing-wrapper">
            <cpdss-portal-datatable *ngIf="userList" [filterable]="true" [tableId]="'user_list'" [columns]="columns" [value]="userList"
                  (buttonClick)="buttonClick($event)"></cpdss-portal-datatable>

        </div>
    </div>
</div>
