<div class="row">
    <div class="col-md-2">
        <label>{{'TOPPING_OFF_TANK' | translate }}</label>
    </div>
    <div class="col-md-10 table-column-flexible-wrapper" *ngIf="toppingOffSequenceForm">
        <ng-container *ngFor="let cargoType of cargoTypeList; let i = index;">
            <cpdss-portal-datatable [tableId]="'drparture-details-tbl'"  [form]="toppingOffSequenceForm.controls[i]" [columns]="cargoTypeColumns"
            [value]="cargoType" [editMode]="editMode" [scrollable]="false" [showHeader]="i === 0" [tableRowReOrder]="true"
            (rowReorder)="onRowReorder($event, i)" (editComplete)="onEditComplete($event, i)">
        </cpdss-portal-datatable>
        </ng-container>
    </div>
</div>