<div class="container-fluid">
  <div class="row">
    <div class="col pl-0 pr-0" style="max-width: 60px;" *ngIf="showCaseLabel">
      <p class="left text-secondary text-uppercase sub-heading-size mr-10 mb-5">{{'GRADE_LOADING_ORDER_CASE_LABEL' |
        translate}} {{index}}</p>
    </div>
    <div class="col pl-5 pr-0" [ngStyle]="showCaseLabel && {'margin-right': '65px'}">
      <ul class="list-inline text-center tank-order mb-5">
        <ng-container *ngFor="let cargoDetail of loadablePatternCargoDetails">
          <li class="list-inline-item" *ngIf="!cargoDetail?.isCommingle">
            <span class="badge-custom mr-5" class="badge-custom" [ngStyle]="{'background': cargoDetail.cargoColor}">
              {{cargoDetail.cargoAbbreviation}} </span> <span class="ml-5 mr-5">></span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
