<div class="container-fluid">
    <div class="row">
        <div class="col pl-0 pr-0" style="max-width: 60px;" *ngIf="showCaseLabel">
            <p class="left text-secondary text-uppercase sub-heading-size mr-10 mb-5">{{'GRADE_LOADING_ORDER_CASE_LABEL' | translate}} {{index}}</p>
        </div>
        <div class="col" [ngStyle]="showCaseLabel && {'margin-right': '65px'}">
            <ul class="list-inline text-center tank-order mb-5">
                <li class="list-inline-item" *ngFor="let cargoDetail of loadablePatternCargoDetails">
                    <span class="badge-custom mr-5" class="badge-custom" [ngClass]="cargoDetail?.isCommingle ? 'commingle' : ''"
                    [ngStyle]="!cargoDetail?.isCommingle && {'background': cargoDetail.cargoColor}">
                        {{cargoDetail.cargoAbbreviation}} </span> <span class="ml-5 mr-5">></span>
                </li>
            </ul>
        </div>
    </div>
</div>
