<div class="container-fluid">
    <div class="row">
        <div class="col pl-0 pr-0" style="max-width: 50px;">
            <p class="left text-secondary text-uppercase sub-heading-size mr-10 mb-5">{{'GRADE_LOADING_ORDER_CASE_LABEL' | translate}} {{index}}</p>
        </div>
        <div class="col" style="margin-right: 65px;">
            <ul class="list-inline text-center tank-order mb-5">
                <li class="list-inline-item" *ngFor="let cargoDetail of loadablePatternCargoDetails">
                    <span class="badge-custom mr-5" [ngStyle]="{'background': cargoDetail.cargoColor}">
                        {{cargoDetail.cargoAbbreviation}} </span> <span>></span>
                </li>
            </ul>
        </div>
    </div>
</div>
