.tank-order{
    li{
        margin-right: 0;
        &:last-child{
            span:last-child{
                display: none;
            }
        }
    }
}
.badge-custom{
    border-radius:3px;
    }

    @media (max-width:1399px){
        .tank-order{
            .badge-custom{
                font-size: 11px;
            }
        }
    }