$heading-color:#e0ca7a;
$body-bg: rgb(187, 191, 196);
$text-primary:#000;
$text-secondary:#484c51;
$link-color:#cbeefd;
$card-bg:#162133;
$border-color:#313a4a;/* also use this variable to selected background*/
$tank-border:#d2f0fd;
$tank-bg:#162133;
$tab-border:#516269;
$tank-btn:#019ace;
$login-btn:#005397;
$login-btn-hover:#fff;
$login-btn-text:#e4e4e4;
$login-textfield:#748193;
$login-border:#748193;
$text-dark:#000;
$link-text:#cbeefd;


$images-theme: "/assets/images/themes/light/";
$images: "/assets/images/";