<p-dialog header=" {{'ADD_ROLE_HEADING'| translate}}" [(visible)]="visible"
  styleClass="new-voayge-pop-up" [closable]="false" [draggable]="false" [modal]="true">
  <form [formGroup]="addUserForm" (submit)="saveNewUserRole()" *ngIf="addUserForm">

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group row">
            <label for="new_user_role" class="col-md-6 col-form-label text-secondary">{{'ADD_NEW_ROLE' | translate}}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="new_user_role" formControlName="roleName"
               (change)="trimFormControl('roleName')" (input)="isExisting = false">
            </div>
            <cpdss-portal-validation-error [errors]="fieldError('roleName')" [errorMessages]="errorMessages.roleName">
            </cpdss-portal-validation-error>

          </div>
          <div class="form-group row">
            <label for="role_description" class="col-md-6 col-form-label text-secondary">{{'ADD_NEW_DESCRIPTION' | translate}}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="role_description" maxlength="100" formControlName="roleDescription"
              (change)="trimFormControl('roleDescription')" >
            </div>
            <cpdss-portal-validation-error  [errors]="fieldError('roleDescription')" [errorMessages]="errorMessages.roleDescription">
            </cpdss-portal-validation-error>

          </div>

          <div class="row">
            <div class="col">
              <div *ngIf="addUserForm.valid && isExisting" class="pt-5 text-danger">
                {{'NEW_USER_ROLE_ALREADY_EXIST' | translate}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </form>
  <p-footer>
    <div class="row">
      <div class="col text-right">
        <button class="btn btn-main mr-10" id="role_user_popup_cancel" (click)="cancel()">{{
          'CANCEL_BUTTON_NEW_ROLE_POPUP' | translate }}</button>
        <button class="btn btn-main" type="submit" id="role_user_popup_submit" (click)="saveNewUserRole()">{{
          'SAVE_BUTTON_NEW_ROLE_POPUP' | translate }}</button>
      </div>
    </div>

  </p-footer>
</p-dialog>