<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5 class="main-head inline-block">{{'CARGO_LISTING' | translate}}</h5>
    </div>
    <div class="col text-right">
      <a id="add_user" class="btn btn-link icon-btn plus-icon-rounded float-right" (click)="addCargo()" *cpdssPortalPermission="addCargoBtnPermissionContext">{{'ADD_CARGO'| translate}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 user-listing-wrapper">
      <cpdss-portal-datatable *ngIf="cargos" [tableId]="'cargos'" [columns]="columns" [value]="cargos"
        (columnClick)="onColumnClick($event)" (deleteRow)="onDeleteRow($event)" (editRow)="ediCargo($event)"
        [filterable]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [lazy]="true"
        (dataStateChange)="onDataStateChange($event)" [loading]="loading" [(currentPage)]="currentPage"
        [(first)]="first" [(reset)]="resetDataTable">
      </cpdss-portal-datatable>
    </div>
  </div>
</div>
