# UI application code owners

/web/cpdss-portal/apps/login/ @shafeer-ao varsha.ts@alphaori.sg arun.johnson@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/login/ @shafeer-ao varsha.ts@alphaori.sg arun.johnson@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/business/voyage-status/ rishiraj.cr@alphaori.sg varsha.ts@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/business/cargo-planning/ @shafeer-ao varsha.ts@alphaori.sg arun.johnson@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/business/operations/ varsha.ts@alphaori.sg arun.johnson@alphaori.sg @rishi-tp-alphaori @varunKn-ao
/web/cpdss-portal/apps/cpdss/src/app/business/admin/ varsha.ts@alphaori.sg arun.johnson@alphaori.sg @vipinkv14
/web/cpdss-portal/apps/cpdss/src/app/business/voyages/ varsha.ts@alphaori.sg gokul.p@alphaori.sg @rishi-tp-alphaori
/web/cpdss-portal/apps/cpdss/src/app/business/fleet/ varsha.ts@alphaori.sg gokul.p@alphaori.sg @rishi-tp-alphaori
/web/cpdss-portal/apps/cpdss/src/app/business/synoptical/ varsha.ts@alphaori.sg gokul.p@alphaori.sg @vipinkv14

# API applications code owners

/api/ @johnsoorajxavier @pranavkrishna97 @sreekumar-ao @sanalkumarkk92 @mathewgillroy-ao