# UI application code owners

/web/cpdss-portal/apps/login/ @shafeer-ao varsha.ts@alphaori.sg arun.johnson@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/login/ @shafeer-ao varsha.ts@alphaori.sg arun.johnson@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/business/voyage-status/ rishiraj.cr@alphaori.sg varsha.ts@alphaori.sg gokul.p@alphaori.sg
/web/cpdss-portal/apps/cpdss/src/app/business/cargo-planning/ @shafeer-ao varsha.ts@alphaori.sg arun.johnson@alphaori.sg gokul.p@alphaori.sg

# API applications code owners

/api/cp-dss-api/cargo-info/ @johnsoorajxavier @jeringeorgealpha
/api/cp-dss-api/port-info/ @johnsoorajxavier @jeringeorgealpha
/api/cp-dss-api/vessel-info/ @johnsoorajxavier @jeringeorgealpha
/api/cp-dss-api/loadable-study/ @johnsoorajxavier @jeringeorgealpha
/api/cp-dss-api/company-info/ @jeringeorgealpha @johnsoorajxavier
/api/cp-dss-api/gateway/ @jeringeorgealpha @johnsoorajxavier
/api/cp-dss-api/user-authorization/ @jeringeorgealpha @johnsoorajxavier