<div class="row vessel-card mr-25 pt-10" [ngClass]="{'active-vessel': vessel.id === selectedVesselId}"
  (click)="onClickVesselCard($event, vessel)" *ngFor="let vessel of vesselValues">
  <div class="col-md-2">
    <img src="{{vessel.flagImage}}" width="42" height="30">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col">
        <h5>{{vessel.vesselName}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>{{'VESSEL_INFO_IMO' | translate}} {{vessel.imoNo}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col"> &nbsp; </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div>{{vessel.voyageStart}}</div>
      </div>
      <div class="col-6 text-right">
        <div>{{vessel.voyageEnd}}</div>
      </div>
    </div>
  </div>
</div>
