$heading-color:#e0ca7a;
$body-bg:rgb(0, 13, 32);
$text-primary:#96acb5;
$text-secondary:#e4e4e4;
$link-color:#cbeefd;
$card-bg:#162133;
$border-color:#313a4a;/* also use this variable to selected background*/
$tank-border:#d2f0fd;
$tank-bg:#162133;
$tab-border:#516269;
$tank-btn:#019ace;
$login-btn:#327ab4;
$login-textfield:#748193;
$login-border:#748193;
$text-dark:#000;
$link-text:#cbeefd;
$outline-border:#96acb5;
$text-area-bg:#475266;
$red:  #e66471;
$validation-icon-bg:  #8c0000;
$dropdown-bg:#1c273b;
$dropdown-menu-hover-bg:#313a4b;
$status-border:#96acb5;
$table-border:#506269;
$table-textarea-border:#95acb6;
$scrollbar:#434d59;
$success-bg: #115700;
$green: #55ae58;
$tank-ohq-border:#99a9b9;
$card-border:#0094ce;
$images-theme: "/assets/images/themes/dark/";
$images-menu-icons: "/assets/images/themes/dark/menu-icons/";
