<ul class="list-group bg-transparent list-group-flush bg-transparent">
    <li class="list-group-item bg-transparent">KU<span class="pull-right">0 MT</span></li>
    <li class="list-group-item bg-transparent">AEL<span class="pull-right">0 MT</span></li>
    <li class="list-group-item bg-transparent pb-20">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_TOTAL_CARGO' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_BALLAST' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_F' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_A' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_MD' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_TRIM' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_MANIFOLD_HEIGHT' | translate}}<span class="pull-right">0 MT'</span></li>
    <li class="list-group-item bg-transparent">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_FREEBOARD' | translate}}<span class="pull-right">0 MT'</span></li>
</ul>