<div class="row item-row-wrapper">
    <div class="col pl-30">
        <div class="row no-gutters" *ngFor="let cargo of departureConditionCargoInfo">
            <div class="col pt-5 pb-5" >
                <span [ngStyle]="{'background-color': cargo?.colorCode}" class="badge-custom">{{cargo?.abbreviation}}</span>
            </div>
            <div class="pull-right pt-5 pb-5">{{cargo?.quantity | quantityDecimalFormat: 'MT'}} {{QUANTITY_UNIT.MT}}</div>
        </div>
        
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_TOTAL_CARGO' | translate}}
                <span *ngIf="hasCommingle" class="inline-block ml-5 v-middle pointer pi pi-info-circle"
                pTooltip="{{ 'CARGO_PRIORITY_GRID_FOOTER_TOTAL_COMMINGLE_INFO' | translate}}" tooltipPosition="top"></span>
            </div>
            <div class="text-right pt-5 pb-5">{{departureConditionCargoTotalQuantity | quantityDecimalFormat: 'MT'}} {{QUANTITY_UNIT.MT}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_BALLAST' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{ballastQuantity | quantityDecimalFormat: 'MT'}} {{QUANTITY_UNIT.MT}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_F' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{draftFValue | quantityDecimalFormat: 'MT'}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_A' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{draftAValue | number : '1.2-2' }} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_MD' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{draftMValue | number : '1.2-2'}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_TRIM' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{trimValue | number : '1.2-2'}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_MANIFOLD_HEIGHT' | translate}}
            </div>
            <div class="text-right pt-5 pb-5">{{manifoldHeight | number : '1.2-2'}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_FREEBOARD' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{freeboard | number : '1.2-2'}} {{LENGTH_UNIT.M}}</div>
        </div>
    </div>
</div>
