<div class="row item-row-wrapper">
    <div class="col">
        <div class="row no-gutters" *ngFor="let cargo of departureConditionCargoInfo">
            <div class="col pt-5 pb-5" >
                <span [ngStyle]="{'background-color': cargo?.colorCode}" class="badge-custom">{{cargo?.abbreviation}}</span>
            </div>
            <div class="pull-right pt-5 pb-5">{{cargo?.quantity}} {{QUANTITY_UNIT.MT}}</div>
        </div>
        
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_TOTAL_CARGO' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{departureConditionCargoTotalQuantity}} {{QUANTITY_UNIT.MT}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_BALLAST' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{ballastQuantity}} {{QUANTITY_UNIT.MT}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_F' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{draftFValue}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_A' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{draftAValue}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_DRAFT_MD' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{draftMValue}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_TRIM' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{trimValue}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_MANIFOLD_HEIGHT' | translate}}
            </div>
            <div class="text-right pt-5 pb-5">{{manifoldHeight}} {{LENGTH_UNIT.M}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col pt-5 pb-5">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_SIDE_PANEL_FREEBOARD' | translate}}</div>
            <div class="text-right pt-5 pb-5">{{freeboard}} {{LENGTH_UNIT.M}}</div>
        </div>
    </div>
</div>
