<form>
    <p-table *ngIf="adminRules?.length; else empty" [columns]="columns" [value]="adminRules" dataKey="header"
        id="rules-table" styleClass="body-header-row-span-table" >
        <ng-template pTemplate="colgroup" >
            <colgroup>
                <col class="column-checkbox">
                <col>
                <col class="column-dropdown">
                <col class="column-checkbox">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns let-rowData>
            <tr>
                <th *ngFor="let column of columns">{{column.header | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td class="text-center"><input type="checkbox"></td>
                <td>
                    <ng-container *ngFor="let input of rowData.inputs; let inputIndex = index">
                        <span class="mr-10">{{input.prefix}}</span>
                        <div class="error-icon-wrapper">
                            <input *ngIf="input?.type" [id]="rowIndex + 'input' + inputIndex" class="form-control" [formControl]="getControl('inputs',rowIndex,inputIndex)">
                            <cpdss-portal-validation-error [errors]="fieldError('inputs',rowIndex,inputIndex)"
                                [errorMessages]="errorMessages">
                            </cpdss-portal-validation-error>
                        </div>
                        {{input.suffix}}
                    </ng-container>
                </td>
                <td>
                    <p-dropdown [id]="'rule_type' + rowIndex " [options]="ruleTypes" styleClass="form-control" [formControl]="getControl('ruleType',rowIndex)"
                        (onChange)="onRuleTypeSelected($event)" optionLabel="value" optionValue="value"
                        resetFilterOnHide="true"></p-dropdown>
                </td>
                <td class="text-center">
                    <p-inputSwitch [id] = "'enable' + rowIndex" [formControl]="getControl('enable',rowIndex)"></p-inputSwitch>
                </td>
            </tr>
        </ng-template>
    </p-table>
</form>
<ng-template #empty>
    {{'NO_RECORDS_FOUND'| translate}}
</ng-template>