
<div>
    <div>
        <div>
            <label for="user_role_name">{{'USER_ROLE_NAME'| translate }}</label>
            <input type="text" id="user_role_name"/>
        </div>
        <div>
            <label for="user_role_description">{{'USER_ROLE_DESCRIPTION'| translate }}</label>
            <input type="text" id="user_role_description"/>
        </div>
    </div>

     <div>
         <div>
             <button type="button" id="user_role_shore">{{'USER_ROLE_SHORE_BUTTON_LABEL'| translate }}</button>
         </div>
         <div>
            <button type="button" id="user_role_ship">{{'USER_ROLE_SHIP_BUTTON_LABEL'| translate }}</button>
        </div>
     </div>
</div>


<div>
    <h4>{{'ROLE_MAPPING'| translate }}</h4>
    <p>{{'ROLE_MAPPING_HEADING'| translate }}</p>
    <p-treeTable [value]="treeNode"  selectionMode="checkbox" [(selection)]="selectedNodes" (onNodeSelect)="nodeSelect($event,true)" (onNodeUnselect)="nodeSelect($event,false)">
        <ng-template pTemplate="body" let-rowNode  let-rowData="rowData">
            <tr>
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                    {{rowData.name}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                
                <ng-container *ngFor = "let col of cols">
                        <td [ttEditableColumn]="rowData" [ttEditableColumnField]="col.field" *ngIf="rowData[col.isViewable]"> 
                            {{col.header}}
                            <input type="checkbox"  [checked]="rowData[col.field]" (change)="checkboxChange($event,rowData, rowNode,col.field)"/>
                        </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-treeTable>
</div>


<cpdss-portal-user-allocate (selectedUserDetails)="userSelected($event)"></cpdss-portal-user-allocate>
