<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5 class="main-head inline-block">{{'PORT_MASTER_PORT_LISTING' | translate}}</h5>
    </div>
    <div class="col text-right">
      <a id="portMasterAddPort" class="btn btn-link icon-btn plus-icon-rounded float-right" (click)="addPort()"
        *cpdssPortalPermission="addPortBtnPermissionContext">{{'PORT_MASTER_ADD_PORT' | translate}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 port-listing-wrapper">
      <cpdss-portal-datatable *ngIf="portList" [tableId]="'portMasterList'" [columns]="columns" [value]="portList"
        (columnClick)="onRowSelect($event)" [filterable]="true" [paginator]="true" [rows]="10"
        [totalRecords]="totalRecords" [lazy]="true" (dataStateChange)="onDataStateChange($event)" [loading]="loading"
        [(currentPage)]="currentPage" [(first)]="first">
      </cpdss-portal-datatable>
    </div>
  </div>
</div>
