<ng-container>
    <a id="add_cargo_btn" class="btn btn-link icon-btn plus-icon-rounded float-right"
        (click)="addBerth()">{{'ADD_BERTH_BUTTON_LABEL'|
        translate}}</a>
</ng-container>
<div class="" *ngIf="berthDetailsForm">
    <form [formGroup]="berthDetailsForm"></form>
    <div class="form-group row">
        <div class="col table-responsive-custom">
            <cpdss-portal-datatable [tableId]="berth" [form]="berthDetailsForm" [columns]="columns" [value]="berthList"
                [filterable]="true" [editMode]="editMode" (deleteRow)="onDeleteRow($event)">
            </cpdss-portal-datatable>
        </div>
    </div>

</div>
