<div class="row heading-border no-gutters mb-10">
  <div class="col-md-6">
    <h5 class="">{{'DISCHARGING_INFORMATION_DISCHARGING_RATES_HEADER' | translate}}</h5>
  </div>
  <div class="col-md-6 text-right">
    <p-dropdown id="discharging_rate_conversion_dropdown" [options]="conversionDropdown"
      name="discharging_rate_conversion_dropdown" [(ngModel)]="selectedConversion" (onChange)="onConversionChange()"
      optionLabel="value" optionValue="value" resetFilterOnHide="true"></p-dropdown>
  </div>
</div>

<form [formGroup]="dischargingRatesFormGroup" id="form_load_discharge_details">
  <div class="container-fluid">
    <div class="row item-row-wrapper">
      <div class="col">
        <div class="row form-group">
          <label for="min_discharging_rate" class="col-5 no-left-padding">{{'DISCHARGING_RATE_INITIAL_DISCHARGING_RATE'
            |
            translate}}</label>
          <div class="col error-icon-wrapper text-right">
            <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control text-right"
              *ngIf="editMode;else initialDischargingRate" id="initial_discharging_rate"
              formControlName="initialDischargingRate"
              placeholder="{{'DISCHARGING_RATE_INITIAL_DISCHARGING_RATE_PLACEHOLDER' | translate}}"
              (change)="onChange('initialDischargingRate')" [readonly]="false">
            <ng-template #initialDischargingRate>
              <span>{{dischargingRatesFormGroupControl?.initialDischargingRate?.value}}</span>
            </ng-template>
            <cpdss-portal-validation-error [errors]="fieldError('initialDischargingRate')"
              [errorMessages]="errorMesages?.initialDischargingRate"></cpdss-portal-validation-error>
          </div>
        </div>
        <div class="row form-group">
          <label for="max_discharging_rate" class="col-5 no-left-padding">{{'DISCHARGING_RATE_MAX_DISCHARGING_RATE' |
            translate}}</label>
          <div class="col error-icon-wrapper text-right">
            <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control text-right" *ngIf="editMode;else maxDischargingRef" id="max_discharging_rate"
              formControlName="maxDischargingRate"
              placeholder="{{'DISCHARGING_RATE_MAX_DISCHARGING_PLACEHOLDER' | translate}}"
              (change)="onChange('maxDischargingRate')" [readonly]="false">
            <ng-template #maxDischargingRef><span>{{dischargingRatesFormGroupControl?.maxDischargingRate?.value}}</span>
            </ng-template>
            <cpdss-portal-validation-error [errors]="fieldError('maxDischargingRate')"
              [errorMessages]="errorMesages?.maxDischargingRate"></cpdss-portal-validation-error>
          </div>

        </div>
        <div class="row form-group">
          <label for="min_debellast_discharging_rate"
            class="col-5 no-left-padding">{{'DISCHARGING_RATE_MIN_BALLAST_RATE'
            |
            translate}}</label>
          <div class="col error-icon-wrapper text-right">
            <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control text-right"
              *ngIf="editMode;else minDeballstRef" id="min_debellast_discharging_rate"
              formControlName="minBallastingRate"
              placeholder="{{'DISCHARGING_RATE_MIN_BALLAST_RATE_PLACEHOLDER'| translate}}"
              (change)="onChange('minBallastingRate')" [readonly]="false">
            <ng-template #minDeballstRef><span>{{dischargingRatesFormGroupControl?.minBallastingRate?.value}}</span>
            </ng-template>
            <cpdss-portal-validation-error [errors]="fieldError('minBallastingRate')"
              [errorMessages]="errorMesages.minBallastingRate"></cpdss-portal-validation-error>
          </div>
        </div>
        <div class="row form-group">
          <label for="max_de_ballast_discharging_rate"
            class="col-5 no-left-padding">{{'DISCHARGING_RATE_MAX_BALLAST_RATE'|
            translate}}</label>
          <div class="col error-icon-wrapper text-right">
            <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control text-right"
              *ngIf="editMode;else maxDeballstRef" id="max_de_ballast_discharging_rate"
              formControlName="maxBallastingRate"
              placeholder="{{'DISCHARGING_RATE_MAX_BALLAST_RATE_PLACEHOLDER'| translate}}"
              (change)="onChange('maxBallastingRate')" [readonly]="false">
            <ng-template #maxDeballstRef><span>{{dischargingRatesFormGroupControl?.maxBallastingRate?.value}}</span>
            </ng-template>
            <cpdss-portal-validation-error [errors]="fieldError('maxBallastingRate')"
              [errorMessages]="errorMesages.maxBallastingRate"></cpdss-portal-validation-error>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
