.tank-outer-ohq{
    height: 300px;
    position: relative;
    .rear-top-ohq{
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 56px solid transparent;
        position: absolute;
        top: 0;
        left: 15px;
        &:after{
            content: "";
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 56px solid transparent;
            position: absolute;
            top: -26px;
            left: -3px;
            z-index: 1;
        }
    }
    .rear-bottom-ohq{
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 56px solid transparent;
        position: absolute;
        bottom: 0;
        left: 15px;
        z-index: 1;
        &:after{
            content: "";
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 56px solid transparent;
            position: absolute;
            top: 3px;
            left: 0px;
            z-index: 1;
        }
    }
}
.tank-wrapper-ohq{
    width: 500px;
    max-width: 500px;
}

.tanks-inner-wrapper-ohq{
    height: 100%;
    position: relative;
    margin-left: 50px;
    border-right: 0;
}
.tanks-inner-outer-ohq{
    width: 70%;
    height: 100%;
    position: relative;
    .tanks-column-ohq{
        display: block;
        width: 33.33%;
        height: 100%;
        float: right;
        position: relative;
        > div{
            height: 33.33%;
            width: 100%;
            border: 1px solid;
            position: relative;
        .tank-level {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 30%;
            left: 0;
          }
          .tank-name{
              position: absolute;
              left: 3px;
              right: 3px;
              top: 17px;
              z-index: 2;
              text-align: center;
              font-size: 12px;
          }
          &:first-child{
              border-top: 0;
          }
        //   &:last-child{
        //     border-right: 0;
        // }
        }
        
    } 
}
.rear-tank-wrapper-ohq{
    position: absolute;
    left: 15px;
    bottom: 0;
    top: 0;
    width: 50px;
    > div{
        border-bottom: 1px solid;
        position: relative;
        width: 100%;
        height: 20%;
        .tank-level {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 30%;
            left: 0;
          }
          .tank-name{
            position: absolute;
            left: 3px;
            right: 3px;
            top: 17px;
            z-index: 2;
            text-align: center;
            font-size: 12px;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
    &:after{

    }
}

.port-list{
    li{
        margin-right: 40px;
        padding: 2px 10px;
        border-radius: 3px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            right: -30px;
            top: 5px;
            width: 14px;
            height: 11px;
        }
        &:last-child, &:only-child{
            &:after{
                display: none;
            }
        }
    }
}