.tank-wrapper-ohq {
    width: 500px;
    max-width: 500px;
    padding-right: 23px;
}

.port-list {
    li {
        margin-right: 40px;
        padding: 2px 10px;
        border-radius: 3px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            right: -30px;
            top: 5px;
            width: 14px;
            height: 11px;
        }

        &:last-child,
        &:only-child {
            &:after {
                display: none;
            }
        }
    }
}

.content-outer-ohq {
    display: grid;
    grid-template-columns: calc(100% - 500px) 500px;
    height: calc(100vh - 220px);
}

@media (max-width: 1440px) {
    .tank-wrapper-ohq {
        width: 100%;
        max-width: 100%;
    }

    .content-outer-ohq {
        grid-template-columns: calc(100% - 370px) 370px;
    }
}
.tank-ohq-outer{
    overflow-y: auto;
    overflow-x: hidden;
}