<h5 *ngIf="editMode" class="text-uppercase heading-border pt-30">{{'DISCHARGING_COW_PLAN' | translate }}</h5>
<h5 *ngIf="!editMode" class="text-uppercase heading-border pt-30">{{'DISCHARGING_COW_OPTIONS' | translate }}</h5>

<div class="container-fluid" *ngIf="cowDetails && cowDetailsForm" [formGroup]="cowDetailsForm">
  <div class="row" *ngIf="editMode">
    <div class="col ml-15">
      <div class="row">
        <label for="cow_option" class="col-3 col-form-label">{{ 'DISCHARGING_SELECT_COW_OPTION' | translate}}</label>
        <div class="col-2">
          <p-dropdown [options]="listData?.cowOptions" formControlName="cowOption" optionLabel="name"
            styleClass="form-control" (onChange)="onCowOptionChange($event)"></p-dropdown>
        </div>
      </div>

      <div class="row">
        <label for="cow_option" class="col-3 col-form-label">{{ 'DISCHARGING_NO_OF_TANKS' | translate}}</label>
        <div class="col-2">
          <p-dropdown [options]="listData?.cowPercentages" formControlName="cowPercentage" optionLabel="name"
            styleClass="form-control" (onChange)="onChange($event)"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="editMode">
    <div class="col ml-15 pt-20">
      <h5 class="text-uppercase">{{'DISCHARGING_SELECT_COW_OPTIONS' | translate }}
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-6 pl-30 right-border">
      <div class="row">
        <div class="col">
          <div class="row">
            <label class="col-5 col-form-label">{{ 'DISCHARGING_COW_TYPE' | translate}}</label>
            <label class="col-7 col-form-label">{{ 'DISCHARGING_COW_TANKS' | translate}}</label>
          </div>

          <div class="row" [ngClass]="{'heading-border': !editMode}">
            <label for="cow_option" class="col-5 col-form-label">{{ 'DISCHARGING_TOP_COW' | translate}}</label>
            <div class="col-7 error-icon-wrapper">
              <p-multiSelect *ngIf="editMode;else topCOWTanks" [options]="cargoTanks" optionLabel="shortName"
                styleClass="form-control" formControlName="topCOWTanks" (onChange)="onChange($event)" id="topCOWTanks" appendTo="body" resetFilterOnHide="true" defaultLabel="{{'DISCHARGING_COW_SELECT_TANKS' | translate}}">
              </p-multiSelect>
              <ng-template #topCOWTanks>
                <span>{{cowDetailsFormControl?.selectedTopCOWTanks?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('topCOWTanks')"
                [errorMessages]="errorMesages?.topCOWTanks"></cpdss-portal-validation-error>
            </div>
          </div>

          <div class="row" [ngClass]="{'heading-border': !editMode}">
            <label for="cow_option" class="col-5 col-form-label">{{ 'DISCHARGING_BOTTOM_COW' | translate}}</label>
            <div class="col-7 error-icon-wrapper">
              <p-multiSelect *ngIf="editMode;else bottomCOWTanks" [options]="cargoTanks" optionLabel="shortName"
                styleClass="form-control" formControlName="bottomCOWTanks" (onChange)="onChange($event)" id="bottomCOWTanks" appendTo="body" resetFilterOnHide="true" defaultLabel="{{'DISCHARGING_COW_SELECT_TANKS' | translate}}">
              </p-multiSelect>
              <ng-template #bottomCOWTanks>
                <span>{{cowDetailsFormControl?.selectedBottomCOWTanks?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('bottomCOWTanks')"
                [errorMessages]="errorMesages?.bottomCOWTanks">
              </cpdss-portal-validation-error>
            </div>
          </div>

          <div class="row" [ngClass]="{'heading-border': !editMode}">
            <label for="cow_option" class="col-5 col-form-label">{{ 'DISCHARGING_ALL_COW' | translate}}</label>
            <div class="col-7 error-icon-wrapper">
              <p-multiSelect *ngIf="editMode;else allCOWTanks" [options]="cargoTanks" optionLabel="shortName"
                styleClass="form-control" formControlName="allCOWTanks" (onChange)="onChange($event)" id="allCOWTanks" appendTo="body" resetFilterOnHide="true" defaultLabel="{{'DISCHARGING_COW_SELECT_TANKS' | translate}}">
              </p-multiSelect>
              <ng-template #allCOWTanks>
                <span>{{cowDetailsFormControl?.selectedAllCOWTanks?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('allCOWTanks')"
                [errorMessages]="errorMesages?.allCOWTanks">
              </cpdss-portal-validation-error>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-20">
        <div class="col ">
          <h5 class="text-uppercase">
            <div class="switch-wrapper">
              <span *ngIf="editMode"
                class="switch-label">{{'DISCHARGING_SELECT_TANKS_FOR_WASHING_WITH_DIFFERENT_CARGO' | translate }}</span>
              <span *ngIf="!editMode"
                class="switch-label">{{'DISCHARGING_TANKS_FOR_WASHING_WITH_DIFFERENT_CARGO' | translate}}</span>
            </div>
          </h5>
        </div>
        <div class="pr-15" *ngIf="editMode">
          <p-inputSwitch formControlName="washTanksWithDifferentCargo"
            (onChange)="onWashWithDifferentCargoChange($event)"></p-inputSwitch>
        </div>
      </div>

      <div class="row">
        <div class="col" formArrayName="tanksWashingWithDifferentCargo">
          <div class="row">
            <label class="col-2 col-form-label">{{ 'DISCHARGING_CARGO' | translate}}</label>
            <label class="col-6 col-form-label">{{ 'DISCHARGING_TANKS' | translate}}</label>
            <label class="col-4 col-form-label">{{ 'DISCHARGING_WASHING_CARGO' | translate}}</label>
          </div>

          <ng-container *ngIf="cowDetails?.tanksWashingWithDifferentCargo">
            <div class="row" [ngClass]="{'heading-border': !editMode}"
              *ngFor="let cargoDetails of cowDetails?.tanksWashingWithDifferentCargo; let index = index;"
              formGroupName="{{index}}">
              <div class="col-2 mb-5">
                <span class="badge-custom"
                  [ngStyle]="{'background': cargoDetails?.cargo?.colorCode }">{{cargoDetails?.cargo?.abbreviation}}</span>
              </div>

              <div class="col-6 mb-5">
                <p-multiSelect *ngIf="editMode;else selectedTanks" [options]="cargoDetails?.selectedTanks"
                  optionLabel="shortName" styleClass="form-control" formControlName="tanks" (onChange)="onChange($event)" id="tanks_{{index}}" appendTo="body" resetFilterOnHide="true" defaultLabel="{{'DISCHARGING_COW_SELECT_TANKS' | translate}}">
                </p-multiSelect>
                <ng-template #selectedTanks>
                  <span>{{joinDropOptionsToLabel(cargoDetails?.selectedTanks)}}</span>
                </ng-template>
              </div>

              <div class="col-4 mb-5">
                <p-dropdown *ngIf="editMode;else washingCargo" [options]="loadedCargos" optionLabel="abbreviation" placeholder="{{ 'DISCHARGING_COW_SELECT_CARGO'| translate }}"
                  formControlName="washingCargo" styleClass="form-control" [showClear]="true" (onChange)="onWashingCargoChange($event, index)">
                  <ng-template pTemplate="selectedItem">
                    <span *ngIf="cargoDetails?.washingCargo">
                      <i class="color-rounded align-text-bottom mr-5"
                        [ngStyle]="{'background' : cargoDetails?.washingCargo?.colorCode}"></i>
                      <span>{{cargoDetails?.washingCargo.abbreviation}}</span>
                    </span>
                  </ng-template>
                  <ng-template let-cargo pTemplate="item">
                    <span>
                      <i class="color-rounded align-text-bottom mr-5"
                        [ngStyle]="{'background' : cargo.value.colorCode}"></i>
                      <span>{{cargo.label}}</span>
                    </span>
                  </ng-template>
                </p-dropdown>
                <ng-template #washingCargo>
                  <span *ngIf="cargoDetails?.washingCargo">
                    <i class="color-rounded align-text-bottom mr-5"
                      [ngStyle]="{'background' : cargoDetails?.washingCargo?.colorCode}"></i>
                    <span>{{cargoDetails?.washingCargo.abbreviation}}</span>
                  </span>
                </ng-template>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-6 pt-30">
      <div class="row">
        <div class="col">
          <div class="row">
            <label for="cow_option"
              class="col-3 pr-0 col-form-label">{{ 'DISCHARGING_COW_START_TIME' | translate}}</label>
            <div class="col-3 error-icon-wrapper">
              <p-inputMask *ngIf="editMode;else cowStart" type="text" styleClass="form-control"
                formControlName="cowStart" mask="99:99" (onComplete)="onCowStartEndChange()">
              </p-inputMask>
              <ng-template #cowStart>
                <span>{{cowDetailsFormControl?.cowStart?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('cowStart')" [errorMessages]="errorMesages?.cowStart">
              </cpdss-portal-validation-error>
            </div>
            <div class="col-6 pl-0 form-text font-small text-muted">
              {{ 'DISCHARGING_COW_START_TIME_HELP' | translate}}
            </div>
          </div>

          <div class="row">
            <label for="cow_option"
              class="col-3 pr-0 col-form-label">{{ 'DISCHARGING_COW_END_TIME' | translate}}</label>
            <div class="col-3 error-icon-wrapper">
              <p-inputMask *ngIf="editMode;else cowEnd" type="text" styleClass="form-control" formControlName="cowEnd"
                mask="99:99" (onComplete)="onCowStartEndChange()">
              </p-inputMask>
              <ng-template #cowEnd>
                <span>{{cowDetailsFormControl?.cowEnd?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('cowEnd')" [errorMessages]="errorMesages?.cowEnd">
              </cpdss-portal-validation-error>
            </div>
            <div class="col-6 pl-0 form-text font-small text-muted">
              {{ 'DISCHARGING_COW_END_TIME_HELP' | translate}}
            </div>
          </div>

          <div class="row">
            <label for="cow_option" class="col-3 col-form-label">{{ 'DISCHARGING_EST_COW_DURATION' | translate}}</label>
            <div class="col-3">
              <p-inputMask *ngIf="editMode;else cowDuration" type="text" styleClass="form-control"
                formControlName="cowDuration" mask="99:99" readonly>
              </p-inputMask>
              <ng-template #cowDuration>
                <span>{{cowDetailsFormControl?.cowDuration?.value}}</span>
              </ng-template>
            </div>
            <div class="col-6 pl-0 form-text font-small text-muted">
              {{ 'DISCHARGING_EST_COW_DURATION_HELP' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col pt-25">
          <h5 class="text-uppercase">{{'DISCHARGING_PREFERRED_TRIM_FOR_COW' | translate }}
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-row">
            <div class="col-auto error-icon-wrapper">
              <label for="cow_option">{{ 'DISCHARGING_TRIM_MIN' | translate}}</label>
              <input *ngIf="editMode;else cowTrimMin" type="text" cpdssPortalNumberDecimal formControlName="cowTrimMin"
                class="form-control" (change)="onChange($event)" />
              <ng-template #cowTrimMin>
                <br><span>{{cowDetailsFormControl?.cowTrimMin?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('cowTrimMin')"
                [errorMessages]="errorMesages?.cowTrimMin">
              </cpdss-portal-validation-error>
            </div>

            <div class="col-auto error-icon-wrapper">
              <label for="cow_option">{{ 'DISCHARGING_TRIM_MAX' | translate}}</label>
              <input *ngIf="editMode;else cowTrimMax" type="text" cpdssPortalNumberDecimal formControlName="cowTrimMax"
                class="form-control" (change)="onChange($event)" />
              <ng-template #cowTrimMax>
                <br><span>{{cowDetailsFormControl?.cowTrimMax?.value}}</span>
              </ng-template>
              <cpdss-portal-validation-error [errors]="fieldError('cowTrimMax')"
                [errorMessages]="errorMesages?.cowTrimMax">
              </cpdss-portal-validation-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-20" *ngIf="editMode">
    <div class="col">
      <div class="row">
        <div class="col ml-15 pt-25">
          <h5 class="text-uppercase">{{'DISCHARGING_ADDITIONAL_REQUIREMENTS' | translate }}
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col ml-15">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="checkbox-custom pr-20">{{'DISCHARGING_ADDITIONAL_REQUIREMENT_CRUDE_STORAGE' | translate}}
                <input type="checkbox" formControlName="needFreshCrudeStorage" (change)="onChange($event)">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="col-auto">
              <label class="checkbox-custom pr-20">{{'DISCHARGING_ADDITIONAL_REQUIREMENT_FLUSHING_OIL' | translate}}
                <input type="checkbox" formControlName="needFlushingOil" (change)="onChange($event)">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
