.map {
  width: 100%;
  height: calc(100vh - 70px);
}

.port-popup {
  min-width: 330px;
  width: auto;
  height: 120px;
  padding: 1%;
  z-index: 999;
  border-radius: 10px;
  background-color: #c1c8d3;
  font-size: 12px;
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  margin-top: -40px;
  margin-left: 25px;
}

.vessel-card-notification-container, .vessel-card-container {
  z-index: 1;
  position: absolute;
}

.vessel-notification {
  width: 360px;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 15px;
}

.vessel-card-container {
  left: 380px;
  right: 0px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.vessel-card-expand-collapse-btn{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
    text-align: center;
    line-height: 25px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}