.map {
  width: 100%;
  height: calc(100vh - 70px);
}

.port-popup {
  min-width: 330px;
  width: auto;
  height: 120px;
  padding: 1%;
  z-index: 999;
  border-radius: 10px;
  background-color: #c1c8d3;
  font-size: 12px;
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  margin-top: -40px;
  margin-left: 25px;
}

.vessel-card-notification-container {
  z-index: 9999;
  position: absolute;
}

.vessel-notification {
  width: 27%;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 15px;
}

.vessel-card {
  left: 27%;
  width: 73%;
  padding-left: 15px;
  padding-top: 10px;
}