<div class="row">
  <div id="fleetMap" class="map"></div>

  <div class="row port-popup" id="portPopup" #portPopup [hidden]="hidePortPopUp">
    <div class="col-md-2">
      <img src="{{cardValues?.iconUrl}}" width="30" height="30">
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col">
          <h5>{{'FLEET_POPUP_PORT_OF' | translate}} {{cardValues?.portname}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>{{cardValues?.vesselName}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col"> &nbsp; </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div>{{cardValues?.prevPort}}</div>
        </div>
        <div class="col-6 text-right">
          <div>{{cardValues?.nextPort}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="vessel-card-notification-container">
    <div class="col pt-10 pl-25">
      <cpdss-portal-fleet-vessel-card *ngIf="vessels" [vesselValues]="vessels" (selectVessel)="onSelectVessel($event)">
      </cpdss-portal-fleet-vessel-card>
    </div>
  </div>

</div>
