.btn-new-loadable-study{
    min-width: 63px;
    padding: 1px;
    height: auto;
    text-transform: uppercase;
    position: absolute;
    right: 23px;
    top: 22px;
    z-index: 2;
}
.view-details-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    margin: auto;
}

.sidebar-table-scroll{
    max-height: calc(100vh - 263px);
    min-height: 80px;
}