<p-dialog header=" {{'ADD_CREW_DETAILS'| translate}}" [(visible)]="visible"
  styleClass="new-crew-pop-up" [closable]="false" [draggable]="false" [modal]="true">
  <form [formGroup]="addCrewForm" *ngIf="addCrewForm">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label for="new_user_role" class="col-md-4 col-form-label text-secondary">{{'ADD_CREW_NAME_LABEL' | translate}}</label>
            <div class="col-md-8">
              <input type="text"  class="form-control" id="new_crew" formControlName="crewName"
               (change)="trimFormControl('crewName')" (input)="isExisting = false" maxlength="30" [placeholder]="'ADD_CREW_NAME_PLACEHOLDER' | translate" focusTrap />
               <ng-template #viewCrewNameRef><span  class="form-control">{{formContolValue('crewName')}}</span> </ng-template>
               <span *ngIf="addCrewForm.valid && isExisting" class="pt-5 text-danger">{{'CREW_NAME_ALREADY_EXIST' | translate}}</span>
            </div>
            <cpdss-portal-validation-error [errors]="fieldError('crewName')" [errorMessages]="errorMessages.crewName">
            </cpdss-portal-validation-error>
          </div>


          <div class="form-group row">
            <label for="role_description" class="col-md-4 col-form-label text-secondary">{{'CREW_RANK' | translate}}</label>
            <div class="col-md-8">
              <p-dropdown styleClass="form-control" [options]="ranks" appendTo="body"
                id="crew_rank_id" formControlName="crewRank" optionLabel="rankName"
                placeholder="{{'CREW_RANK_PLACEHOLDER' | translate}}" focusTrap
                resetFilterOnHide="true" [filter]="true">
            </p-dropdown>
            <ng-template #viewcrewRankRef><span  class="form-control">{{formContolValue('crewRank','rankName')}}</span></ng-template>
            </div>
            <cpdss-portal-validation-error  [errors]="fieldError('crewRank')" [errorMessages]="errorMessages.crewRank">
            </cpdss-portal-validation-error>
          </div>

          <div class="form-group row">
            <label for="vessel_description" class="col-md-4 col-form-label text-secondary">{{'CREW_VESSEL' | translate}}</label>
            <div class="col-md-8">
              <p-multiSelect  [options]="vesselList" appendTo="body"
                  optionLabel="name" styleClass="form-control" formControlName="vesselInformation"
                   id="crew_vessel_id"  resetFilterOnHide="true" defaultLabel="{{'CREW_VESSEL_PLACEHOLDER' | translate}}">
                </p-multiSelect>
            <ng-template #viewcrewRankRef><span  class="form-control">{{formContolValue('vesselInformation','name')}}</span></ng-template>
            </div>
            <cpdss-portal-validation-error  [errors]="fieldError('vesselInformation')" [errorMessages]="errorMessages.vesselInformation">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
    </div>

  </form>
  <p-footer>
    <div class="row">
      <div class="col text-right">
        <button class="btn btn-main mr-10" id="role_user_popup_cancel" (click)="cancel()" autofocus focusTrap>{{
          'CREW_CANCEL_BUTTON' | translate }}</button>
        <button class="btn btn-main" type="submit" id="role_user_popup_submit" (click)="saveNewCrew()" focusTrap>
         {{ 'CREW_SAVE_BUTTON' | translate }}</button>
      </div>
    </div>

  </p-footer>
</p-dialog>
