<div>
    <form [formGroup]="dischargeStudyForm">
        <div formArrayName="portDetails">
        <div *ngFor="let portDetail of portDetails;let portIndex = index;let last = last" formGroupName="{{portIndex}}">

            <div>
                <div  style="display: inline-block;">
                    <label>{{ 'DISCHARGE_STUDY_PORT_NAME' | translate }}{{portIndex+1}}</label>
                    {{portDetail.portName}}
                </div>
                <div  style="display: inline-block;">
                    <label>{{ 'DISCHARGE_STUDY_INSTRUCTION' | translate }}</label>
                    <p-dropdown id="instruction_dropdown"  [options]="instructions"
                    formControlName="instruction" filter="true" optionLabel="value"
                    resetFilterOnHide="true"></p-dropdown>
                </div>
                <div  style="display: inline-block;">
                    <label>{{ 'DISCHARGE_STUDY_DRAFT_RESTRICTION' | translate }}</label>
                    <input type="text" formControlName="draftRestriction" id="draftRestriction"/>
                    <cpdss-portal-validation-error
                        [errors]="fieldError(portIndex,'draftRestriction')"
                        [errorMessages]="errorMessages.draftRestriction">
                    </cpdss-portal-validation-error>
                </div>
            </div>
            <div>
                <cpdss-portal-datatable [tableId]="'discharge_cargo'" [form]="getFeild(portIndex,'cargoDetail')" [columns]="columns"
                    [value]="portDetail.cargoDetail" [editMode]="editMode" [listData]="listData" (editComplete)="onEditCompleteCargo($event,portIndex)">
                </cpdss-portal-datatable>
            </div>
            <div>
                <label>{{ 'DISCHARGE_STUDY_COW' | translate }}</label>
                <p-dropdown id="cow_dropdown"  [options]="mode"
                    formControlName="cow" filter="true" optionLabel="name"
                    resetFilterOnHide="true"></p-dropdown>
                <ng-container *ngIf="getFeild(portIndex,'cow').value?.id === 1">
                    <label>{{ 'DISCHARGE_STUDY_DISCHARGE_PERCENTAGE' | translate }}</label>
                    <p-dropdown id="percentage_dropdown"  [options]="percentageList"
                        formControlName="percentage" filter="true" optionLabel="name"
                        resetFilterOnHide="true"></p-dropdown>
                </ng-container>
                <ng-container *ngIf="getFeild(portIndex,'cow').value?.id === 2">
                    <label>{{ 'DISCHARGE_STUDY_DISCHARGE_TANK' | translate }}</label>
                    <p-dropdown id="tank_dropdown"  [options]="tank"
                        formControlName="tank" filter="true" optionLabel="name"
                        resetFilterOnHide="true"></p-dropdown>
                </ng-container>
                <ng-container *ngIf="!last">
                    <label>{{ 'DISCHARGE_STUDY_ENABLE_BACK_LOADING' | translate }}</label>
                    <input type="checkbox" id="enable_back_loading" [attr.disabled]="last ? 'disabled' : null" formControlName="enableBackToLoading"
                    (change)="resetBackLoading($event,portIndex)"/>
                </ng-container>
            </div>

            <div *ngIf="getFeild(portIndex,'enableBackToLoading').value">
                {{'DISCHARGE_STUDY_BACK_LOADING' | translate}}
                <a id="add_cargo_btn" class="btn btn-link icon-btn plus-icon-rounded float-right"
                    (click)="addBackLoading(portIndex,'backLoadingDetails')">{{'ADD_BACK_LOADING'| translate}}</a>
                <cpdss-portal-datatable [tableId]="'discharge_cargo_back_loading'" [form]="getFeild(portIndex,'backLoadingDetails')" [columns]="backLoadingColumns"
                    [value]="portDetail?.backLoadingDetails" [editMode]="editMode" [listData]="listData"
                    (deleteRow)="onDeleteRow($event,portIndex,'backLoadingDetails')" (editComplete)="onEditCompleteBackLoading($event,portIndex)" 
                    (saveRow)="onSaveRow($event,portIndex,'backLoadingDetails')" [showTotal]="true">
                </cpdss-portal-datatable>
            </div>
            <br>
        </div>
    </div>
    </form>
</div>
