<div class="row">
    <div class="col">
        <p-table #dt [value]="loadablePatternCargoDetails" dataKey="id" [styleClass]="styleClass" [rowHover]="true"
            [columns]="tableCol">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">{{col.header| translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="p-selectable-row" (click)="onRowSelect(rowData)">
                    <td *ngFor="let col of columns">
                        <span *ngIf="col.field === 'priority'">{{rowData[col.field]}}</span>
                        <span class="badge-custom" *ngIf="col.field === 'cargoAbbreviation'"
                            [ngClass]="rowData?.isCommingle ? 'commingle' : ''"
                            [ngStyle]="!rowData?.isCommingle && {'background': rowData?.cargoColor}">{{rowData[col.field]}}</span>
                        <span *ngIf="col.field === 'quantity'">{{rowData[col.field] | quantityDecimalFormat}}</span>
                        <span  *ngIf="col.field === 'difference'"
                            [ngClass]="((rowData?.quantity - rowData?.orderedQuantity) / rowData?.orderedQuantity) !== 0 ? (((rowData?.quantity - rowData?.orderedQuantity) / rowData?.orderedQuantity) > 0 ? 'badge-custom success' : 'badge-custom error') : ''"
                            [pTooltip]="((((rowData?.quantity - rowData?.orderedQuantity) / rowData?.orderedQuantity) * 100) | number : '1.2-2')+'%'" tooltipPosition="top">
                            {{(((rowData?.quantity - rowData?.orderedQuantity) / rowData?.orderedQuantity) * 100) | number : '1.2-2'}}%
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="p-selectable-row">
                    <td class="text-right" [colSpan]="showTotalDifference? 2: 1">{{totalHeader | translate}}
                      <span *ngIf="hasCommingle" class="inline-block ml-5 v-middle pointer pi pi-info-circle"
                        pTooltip="{{ 'CARGO_PRIORITY_GRID_FOOTER_TOTAL_COMMINGLE_INFO' | translate}}" tooltipPosition="top"></span>
                    </td>
                    <td>{{totalQuantity| quantityDecimalFormat}}</td>
                    <td *ngIf="showTotalDifference"><span  [ngClass]="totalDifference !== 0 ? (totalDifference > 0 ? 'badge-custom success' : 'badge-custom error') : ''"
                        [pTooltip]="(totalDifference | number :  '1.2-2')+'%'" tooltipPosition="top">
                            {{totalDifference | number :  '1.2-2'}}% </span></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">{{'CARGO_PRIORITY_GRID_EMPTY_DATA' | translate}} </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<div class="row" *ngIf="showMoreButton">
    <div class="col text-center pt-20">
        <button class="btn btn-main mr-10" (click)="viewMore()">{{'CARGO_PRIORITY_GRID_MORE_BUTTON_LABEL' |
            translate}}</button>
    </div>
</div>
