



.color-rounded{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.row-loader {
    display: inline-block;
    font-size: 14px;
}

::ng-deep.p-datatable-wrapper td > div > span, ::ng-deep .p-datatable-scrollable-wrapper td > div >span{
     word-break: break-all;
}
