<div *ngIf="form" [formGroup]="form" class="row">
    <div formArrayName="dataTable" class="col">
        <p-table #datatable [columns]="columns" [value]="value" [editMode]="editMode" [selectionMode]="selectionMode"
            (onEditComplete)="onEditComplete($event)" (onRowSelect)="onRowSelect($event)" [(selection)]="selection" (columnClick)="onClick($event)" >
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" class="column-class" [class]="col.fieldHeaderClass">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                        [pSortableColumnDisabled]="!col.sortable">
                        <span>{{col.header| translate}}</span>
                        <p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
                    </th>
                </tr>
                <tr *ngIf="filterable">
                    <th *ngFor="let col of columns" [ngSwitch]="col.filterType">
                        <ng-container *ngIf="col.filter">
                            <input *ngSwitchCase="filterType.TEXT" type="text" id="{{col.field+'_filter'}}"
                                (input)="datatable.filter(($event.target.value).trim(), col?.filterField ? col?.filterField : col.field, col.filterMatchMode)"
                                [placeholder]="col.filterPlaceholder| translate" class="p-column-filter">
                            <input *ngSwitchCase="filterType.NUMBER" type="number" id="{{col.field+'_filter'}}"
                                (input)="datatable.filter($event.target.value, col?.filterField ? col?.filterField : col.field, col.filterMatchMode)"
                                [placeholder]="col.filterPlaceholder| translate" class="p-column-filter">
                            <input *ngSwitchCase="filterType.ARRAY" type="text" id="{{col.field+'_filter'}}"
                                (input)="datatable.filter($event.target.value, col.arrayFilterField, col.filterMatchMode)"
                                [placeholder]="col.filterPlaceholder| translate" class="p-column-filter">
                            <p-calendar appendTo="body" *ngSwitchCase="filterType.DATE" [maxDate]="col.filterFieldMaxvalue" (onSelect)="onDateSelect($event)" (onInput)="onDateFilter($event.target.value)"
                                (onClearClick)="datatable.filter('', col.field, 'equals')" [showButtonBar]="true"
                                styleClass="p-column-filter" [placeholder]="col.filterPlaceholder| translate" [readonlyInput]="false"
                                dateFormat="dd-mm-yy" id="{{col.field+'_filter'}}"></p-calendar>

                        </ng-container>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr formGroupName="{{rowIndex}}" [pSelectableRow]="rowData"
                    [pSelectableRowIndex]="rowIndex" [pSelectableRowDisabled]="!selectionMode">
                    <td *ngFor="let col of columns; let colIndex = index" [class]="col.fieldClass" [ngSwitch]="col.fieldType"
                        [pEditableColumn]="rowData" [pEditableColumnField]="col.field"
                        [pEditableColumnRowIndex]="rowIndex" (click)="onClick($event, rowData, rowIndex, col)">
                        <div [attr.tabindex]="col.field !== 'actions' && col.fieldType !== fieldType.SLNO ? (rowIndex*10)+colIndex+rowIndex : null"
                            (keyup)="onFocus($event, rowData, rowIndex, col, colIndex)">
                            <span *ngSwitchCase="fieldType.SLNO">{{rowData[col.field]}}</span>
                            <span *ngSwitchCase="fieldType.ICON"><i
                                    class="{{col.fieldValueIcon+'-'+rowData[col.field]}}"></i></span>

                            <ng-container *ngSwitchCase="fieldType.ACTION">
                                <div class="action-buttons">
                                <p-splitButton appendTo="body" id="{{'split_button_'+rowIndex}}" *ngIf="col.actions.length > 1"
                                     icon="null" menuStyleClass="grid-dropdown-menu" styleClass="grid-dropdown-icon" [model]="getMoreOptions(rowData)"
                                    (onDropdownClick)="onDropdownClick($event, rowData, rowIndex, col)">
                                </p-splitButton>
                                <a type="button" id="{{'option_button'+rowIndex}}" class="{{moreOptions[0].icon}}"
                                    *ngIf="col.actions.length === 1"
                                    (click)="onOptionClick($event, rowData, rowIndex, col, moreOptions[0])"></a>
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="fieldType.TEXT">
                                <ng-container *ngIf="rowData[col.field]?.isEditMode">
                                    <input type="text" class="form-control" [formControlName]="col.field"
                                        [placeholder]="col.fieldPlaceholder| translate"
                                        (change)="onChange($event, rowData, rowIndex, col)"
                                        id="{{col.field+'_'+rowIndex}}">
                                    <cpdss-portal-validation-error [errors]="fieldError(rowIndex, col.field)"
                                        [errorMessages]="col.errorMessages">
                                    </cpdss-portal-validation-error>
                                </ng-container>
                                <ng-container *ngIf="!rowData[col.field]?.isEditMode">
                                    <span>{{rowData[col.field].value}}</span>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="fieldType.NUMBER">
                                <ng-container *ngIf="rowData[col.field]?.isEditMode">
                                    <input type="number" class="form-control" [formControlName]="col.field"
                                        [placeholder]="col.fieldPlaceholder| translate"
                                        (change)="onChange($event, rowData, rowIndex, col)"
                                        id="{{col.field+'_'+rowIndex}}">
                                    <i *ngIf="rowData[col.field]?.value && col.fieldValueIcon"
                                        class="{{col.fieldValueIcon}}"
                                        (click)="onCellValueClick($event, rowData, rowIndex, col)"></i>
                                    <cpdss-portal-validation-error [errors]="fieldError(rowIndex, col.field)"
                                        [errorMessages]="col.errorMessages">
                                    </cpdss-portal-validation-error>
                                </ng-container>
                                <ng-container *ngIf="!rowData[col.field]?.isEditMode">
                                    <span>{{rowData[col.field]?.value}}{{rowData[col.field]?.value? col.fieldSuffix : ''}}
                                        <i *ngIf="rowData[col.field]?.value && col.fieldValueIcon"
                                            class="{{col.fieldValueIcon}}"
                                            (click)="onCellValueClick($event, rowData, rowIndex, col)"></i></span>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="fieldType.SELECT">
                                <ng-container *ngIf="rowData[col.field]?.isEditMode">
                                    <p-dropdown [options]="listData[col.listName]" styleClass="form-control" appendTo="body" [formControlName]="col.field"
                                        [filter]="col.listFilter" optionLabel="{{col.fieldOptionLabel}}"
                                        [placeholder]="col.fieldPlaceholder| translate"
                                        (onChange)="onChange($event, rowData, rowIndex, col)"
                                        id="{{col.field+'_'+rowIndex}}">
                                    </p-dropdown>
                                    <cpdss-portal-validation-error [errors]="fieldError(rowIndex, col.field)"
                                        [errorMessages]="col.errorMessages">
                                    </cpdss-portal-validation-error>
                                </ng-container>
                                <ng-container *ngIf="!rowData[col.field]?.isEditMode">
                                    <span
                                        *ngIf="rowData[col.field]?.value?.name">{{ rowData[col.field]?.value?.name }}</span>
                                    <span
                                        *ngIf="!rowData[col.field]?.value?.name">{{ rowData[col.field]?.value }}</span>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="fieldType.COLORPICKER">
                                <ng-container *ngIf="rowData[col.field]?.isEditMode">
                                    <p-colorPicker [formControlName]="col.field"
                                        (onChange)="onChange($event, rowData, rowIndex, col)"
                                        id="{{col.field+'_'+rowIndex}}"></p-colorPicker>
                                    <cpdss-portal-validation-error [errors]="fieldError(rowIndex, col.field)"
                                        [errorMessages]="col.errorMessages">
                                    </cpdss-portal-validation-error>
                                </ng-container>
                                <ng-container *ngIf="!rowData[col.field]?.isEditMode">
                                    <p-colorPicker class="colorpicker" [formControlName]="col.field"></p-colorPicker>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="fieldType.ARRAY">
                                <ng-container *ngIf="rowData[col.field]?.isEditMode">
                                    <a class="btn btn-secondary"
                                        (click)="onCellValueClick($event, rowData, rowIndex, col)"
                                        id="{{col.field+'_'+rowIndex}}">{{rowData[col.arrayLabelField] ? rowData[col.arrayLabelField]: col.fieldPlaceholder| translate}}</a>
                                    <cpdss-portal-validation-error [errors]="fieldError(rowIndex, col.field)"
                                        [errorMessages]="col.errorMessages">
                                    </cpdss-portal-validation-error>
                                </ng-container>
                                <ng-container *ngIf="!rowData[col.field]?.isEditMode">
                                    <a>{{rowData[col.arrayLabelField]}}</a>
                                </ng-container>
                            </ng-container>

                            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        {{'NO_RECORDS_FOUND'| translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
