/* You can add global styles to this file, and also import other style files */
@import "styles/scss/variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
}

body {
  font-family: 'Play', sans-serif;
  font-size: $font-size-normal!important;
}

a {
  cursor: pointer;
}


.no-top-padding {
  padding-top: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}


.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}


.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}



.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-45 {
  margin-top: 45px;
}



.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}



.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.vessel-info-wrapper {
  max-width: 310px;
}

.btn {
  font-size: 13px;
}

.icon-btn {
  padding-left: 25px;
}

.plus-icon-rounded {
  background-position: center left;
}

.pencil-icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  background-position: center left;
}

.tab-btn {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  &.active {
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:last-child {
    border-right: 0;
  }
}

.cargo-nomiantion-tab{
  .tab-btn {
    padding: 20px 15px;
    font-size: $sub-heading-font-size;
    text-transform: uppercase;
    text-align: center;
  }
}

.two-column-list-sidebar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;

  li {
    flex-basis: 0;
    flex-grow: 1;

    &:last-child {
      font-size: 14px;
      text-align: right;
    }
  }

  &.heading {
    li {
      font-size: 11px;
    }
  }
}

.tank-outer {
  padding: 0 112px 0 52px;
  min-width: 100%;
  height: calc(100vh - 260px);
  max-height: 500px;
  position: relative;

  .tank-inner-wrapper {
    min-width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

    >div {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row-reverse;
      >div {
        flex-basis: 0;
        flex-grow: 1;
        padding: 2px 0;

        &.two-tank-width {
          flex-grow: 2;
        }

        >div {
          width: calc(100% - 4px);
          height: 100%;
          padding: 2px;
          position: relative;

          .tank-level {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 30%;
            left: 0;
          }

          .tank-info {
            position: absolute;
            top: 0;
            right: 5px;
            padding: 5px;
            left: 18px;
            line-height: 1;
          }
        }
      }

      &:first-child {
        height: 35%;

        >div {
          padding-top: 0;
        }
      }

      &:last-child {
        height: 35%;

        >div {
          padding-bottom: 0;
        }
      }
    }
  }

  &:after {
    width: 52px;
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    background-size: 100% 100%;
    z-index: 0;
    top: 0;
  }

  &:before {
    width: 112px;
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    background-size: 100% 100%;
    z-index: 0;
    top: 0;
  }
}

.sidebar-right {
  max-width: 270px;
  min-width: 270px;
}

.ael {
  background: $ael;
}

.ku {
  background: $ku;
}

.om {
  background: $om;
}

.aeh {
  background:$aeh;
}

.tank-info-btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.form-control-sm {
  height: 30px;
}

.text-lead {
  font-size: 14px;
}



a {
  &:hover {
    text-decoration: none;
  }
}

.font-x-small {
  font-size: $font-size-x-small!important;
}
.p-component{
  font-family: 'Play', sans-serif;
}

.p-dialog{
  border-radius: 10px;
  box-shadow: none;
  .p-dialog-header{
    border-radius: 10px 10px 0px 0px;
    padding: 10px 15px;
    .p-dialog-title{
    font-weight: normal;
    font-size: $heading-font-size;
    }
  } 
  .p-dialog-content{
    font-size: $font-size-normal;
    border-radius: 0 0 10px 10px;
    padding-top: 5px;
  }
  .p-dialog-footer{
    background: none;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
  }
}
.form-control{
  height: 25px;
  border: 0;
  font-size: $font-size-normal;
  &:focus{
    outline: none;
  }
}

.form-control-plaintext {
  font-size: $font-size-normal;
  border: 0;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.btn-main{
  min-width: 100px;
  height: 30px;
  font-size: $font-size-normal;
}
.new-voayge-pop-up{
  width: 670px;
}

.p-dialog .p-dialog-footer button:last-child{
  margin-right: 0;
}

.dropdown.show .dropdown-menu{
  display: block !important;
}

.dropdown-menu{
  font-size: $font-size-normal;
}

.sidebar{
  .p-datatable-scrollable-wrapper .p-datatable-thead > tr{
     > th{
    position: sticky;
    top: 0;
    z-index: 1;
    &:last-child{
    width: 35px;
      }
    }

  }
  .p-datatable-scrollable-wrapper table{
    table-layout: fixed!important;
    width: 100%!important;
  }
  .column-class.column-actions {
    min-width: 25px !important;
    width: 43px !important;
}
.column-class{
  width: auto!important;
  &:nth-child(2){
    width: 55px!important;
  }
}
}

.inline-block{
  display: inline-block;
}

h5{
  font-size: $heading-font-size;
}
.p-component{
  font-size: $font-size-normal;
}
.p-datatable .p-datatable-thead > tr > th, .p-datatable .p-datatable-tbody > tr{
  background: none!important;
  font-weight: normal;
}
.p-datatable .p-datatable-thead{

  > tr{
   > th{
    padding: 0 5px;
  }
}
}
.p-column-filter, .p-column-filter .p-inputtext {
  background: none!important;
  border-radius: 0!important;
  border: 0;
  padding-left: 0px;
  max-width: 100%;
  margin-bottom: 7px;
  &:enabled:focus, &:enabled:hover{
    box-shadow: none;
    outline: none;
  }
}

.btn-link.plus-icon-rounded{
  background-position:0 5px ;
}

.p-datepicker{
 // min-width: 340px !important;
 z-index: 9999 !important;
}

.p-dropdown{ 
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none;
  &:focus{
    border: 0;
    outline: none;
  }
  &:not(.p-disabled).p-focus{
    box-shadow: none;
  }
  .p-dropdown-trigger{
    justify-content: flex-end;
    margin-right: 3px;
  }
}
.p-dropdown-label{
  font-family: 'Play', sans-serif;
  font-size: $font-size-normal;
}

.p-datatable .p-datatable-tbody > tr > td, .p-datatable .p-datatable-tbody > tr > th{
  padding: 9px 5px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius:3px;
}

.new-loadable-study-pop-up{
  width: 870px;
  .col-form-label{
    min-width: 165px;
    padding-right: 0;
  }
}
.form-control.p-dropdown{
  align-items: center;
  border-radius: 3px;
  border-bottom: 0;
  padding-left: 3px;
  &:hover{
    border-bottom: 0!important;
  }
  &:not(.p-disabled).p-focus{
    border-bottom: 0!important;
  }
  .p-dropdown-trigger{
    margin-right: 0;
  }
}

.p-dropdown .p-dropdown-trigger{
  width: 18px;
}

.pi{
  font-size: $sub-heading-font-size;
}

.upload-file {
  display: inline-block;
  position: relative;
  border: 1px solid;
  line-height: 25px;
  padding: 0 10px 0 29px;
  border-radius: 3px;
  overflow: hidden;
  input[type=file] {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer !important;
      height: 33px;
      z-index: 9;
      opacity: 0;
  }
}

.row.form-group{
  flex-wrap: nowrap;
}

.dropdown-w-100{
  width: 100px;
}
.dropdown-w-180{
  width: 180px;
}
.sub-heading{
  font-size: $sub-heading-font-size;
}
.p-dialog-title{
  text-transform: uppercase;
}
.p-dropdown-filter-container .p-dropdown-filter{
  border: 0!important;
  outline: none;
  &:enabled:focus{
    box-shadow: none;
  }
}
.p-dropdown-panel .p-dropdown-header{
  background: none;
}

.p-datatable .p-datatable-thead > tr > th{
  text-transform: uppercase;
}

tr{
  &:hover{
    .action-buttons{
      display: inline-block;
    }
  }
}

.btn.btn-xs{
  width: auto !important;
  padding: 2px 5px!important;
  height: auto!important;
  min-width: 20px!important;
}

.grid-dropdown-icon .p-splitbutton-defaultbutton{
  display: none;
}

.grid-dropdown-icon .p-splitbutton-menubutton{
  border: 0;
  outline: none;
  width: 18px;
  &:hover, &:focus {
    outline: none;
    box-shadow: none;
  }
  .p-button.p-button-icon-only{
    width: 18px;
  }
}

.p-datatable .p-datatable-thead > tr > th:last-child{
  // width: 55px;
}

.grid-dropdown-menu{
  width: 80px;
  text-transform: uppercase;
  &.p-menu .p-menuitem-link{
    padding: 5px 7px;
  }
 .delete-icon, .p-menuitem-icon{
   display: none;
 }
}

.row.no-wrap{
  flex-wrap: nowrap;
}


.sidebar table{
  table-layout: auto!important;
  .p-column-filter{
    width: 100%;
    max-width: 100px;
  }
}

.relative{
  position: relative;
}

[class^="icon-status-"]{
  width: 17px;
  height: 17px;
  display: inline-block;
}
.column-class{
  width: 145px!important;
}
.column-sl{
  width: 50px!important;
}
.column-color{
  width: 70px !important;
}
.column-loader { 
  width: 20px!important;
}
.icon-api-temp{
  display: inline-block;
  width: 21px;
  height: 18px;
  vertical-align: bottom;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.p-multiselect{
  outline: none;
  box-shadow: none;
  border: 0;
  &:focus, &:hover{
    outline: none;
    box-shadow: none;
    border: 0;
  }
}


.p-datepicker table{ 

  th{
    padding: 1px;
    text-align: center;
    span{
      font-size: 12px;
    }
  }
  td{
  padding: 1px;
  span{
    font-size: 12px;
  }
}
}

.loading-port-pop-up{
  width: 390px;
}

.tab-status-icon{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  margin-right: 5px;
}

// .action-buttons{
//   button, a{
//     visibility: hidden;
//   }
// }
.p-datatable .p-datatable-tbody > tr{
  &:hover, &:focus{
    .action-buttons{
      button, a{
        visibility: visible;
      }
    }
  }
}
.p-datatable .p-datatable-tbody > tr.p-highlight{
  .action-buttons{
    visibility: visible;
  }
}
.p-button.p-button-icon-only{
  padding: 2px 0;
}

.view-icon{
  width: 22px;
  height: 14px;
  display: inline-block;
}

.delete-icon{
  width: 15px;
  height: 18px;
  display: inline-block;
}
.p-datatable .p-sortable-column:focus{
  box-shadow: none;
}

.pi-sort-alt:before{
  content: "\e930"!important;
  position: absolute;
  top: 2px;
  left: 2px;
}
.pi-sort-alt:after{
  content: "\e933"!important;
  position: absolute;
  top: -5px;
  left: 2px;
}

.pi-sort-alt{
  position: relative;
  font-size: 10px;
}

.p-datatable .p-sortable-column .p-sortable-column-icon{
  margin-top: -6px;
}
.pi-sort-amount-up-alt:before{
  content: "\e933"!important;
}
.pi-sort-amount-down:before{
  content: "\e930"!important;
}

.sidebar-collapse-btn{
  width: 21px;
  height: 126px;
  position: absolute;
  top: 50%;
  right: -19px;
  margin-top: -63px;
  z-index: 2;
}
.sidebar-content{
  height: calc(100vh - 220px);
  padding-right: 15px;
  margin-right: 2px;
}

.p-datatable-wrapper, .p-datatable-scrollable-wrapper{
 td{
    > div{
      position: relative;
      padding-right: 20px;
      display: inline-block;
      max-width: 100%;
    }
    .error-icon{
      position: absolute;
      right: 5px;
      top: 0px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      line-height: 12px;
      text-align: center;
      display: inline-block;
      bottom: 0;
      margin: auto;
    }
    &.color{
      > div{
      position: relative;
      padding-right: 0;
      .error-icon{
        position: absolute;
        right: -10px;
        top: -2px;
      }
      }
    }
    &.api, &.temperature{
      > div{
        min-width: 60px!important;
        max-width: 60px;
        height: 25px;
        line-height: 25px;
        .icon-api-temp{
          right: -20px!important;
          position: absolute;
          top: 5px;
        }
      }
    }
 } 
}

.cargo-nomination-table .p-datatable table{
  td{
    .icon-api-temp{
      position: absolute;
      top: 5px;
      right: 5px;
    }
    &.eta, &.etd{
    }
  }
}
.content-outer{
  height: calc(100vh - 200px);
  display: grid;
  width: 100%;
  grid-template-columns: 220px calc(100% - 220px);
  &.pattern-history{
    height: calc(100vh - 140px);
  }
}

.content-outer.sidebar-collapsed{
  grid-template-columns: 0px 100%!important;
  .sidebar-content{
    display: none;
  }
}

.loading-port-pop-up{
  .p-datatable table{
    width: 100%;
  }
}



.pointer{
  cursor: pointer;
}

.p-calendar .p-inputtext{
  height: 25px;
  border: 0;
  outline: none;
  box-shadow: none!important;
}

.table-responsive-custom{
  width: 100%;
  max-height: calc(100vh - 270px);
  /*overflow: auto;*/
  padding-left: 15px;
  padding-right: 15px;
  &.ohq{
    height: calc(100vh - 290px);
  }
}
.column-class.column-laycan{
  min-width: 220px!important;
  width: 220px!important;
}

.column-class.column-actions{
  min-width: 50px!important;
  width: 50px!important;
}

.column-class.column-weight,  .column-class.column-volume{
  width: 100px!important;
}



/* The container */
.radio-custom {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 10px;
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #eee;
    border-radius: 50%;
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 3px;
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.checkbox-custom {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 10px;
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 2px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 1px;
      left: 4px;
      width: 4px;
      height: 8px;
      border-width: 0 2px 2px 0!important;
      transform: rotate(45deg);
    }
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark:after {
      display: block;
    }
    &:disabled ~ .checkmark{
      opacity: 0.4;
    }
  }
}





.badge-custom{
  display: inline-block;
  padding: 0px 3px;
  min-width: 25px;
  text-align: center;
}
.fo{
  background: $fo-tank;
}
.do{
  background: $do-tank;
}
.dsw{
  background: $dsw-tank;
}


.re-order{
width: 50px!important;
}
td.lay-can {
  div{
    min-width: 170px;
  }
}

td.sl div{
  min-width: 40px!important;
  padding-right: 0!important;
}

.loadable-quantity-pop-up{ 
  .col-form-label{
   min-width: 160px;
  text-transform: uppercase;
  padding-left: 0;
  max-width: 190px;
}
  &.p-dialog{
    /*max-width: 740px;*/
  }
  .row.form-group{
    padding:2px 0;
    .col:nth-child(2){
      width: 120px;
      text-align: right;
      max-width: 132px;
      input{
        text-align: right;
        &.p-dropdown-filter{
          text-align: left!important;
        }
      }
    }
  }
}

.header-right-content{
  font-size: 11px;
  position: absolute;
  right: 20px;
  top: 15px;
}
.header-info-pop-up{
  display: block;
  font-size: 13px;
  padding-top: 5px;
  font-style: italic;
}
.info-icon{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  display: inline-block;
  font-style: initial;
  font-weight: bold;
}

.commingle-pop-up{
  width: 760px;
}

.p-multiselect-label{
  line-height: 25px;
    height: 25px;
    padding: 0 5px!important;
}
.confirmation-dialog{
  &.p-toast .p-toast-message.p-toast-message-warn{
    border: 0!important;
     .p-toast-icon-close{
      position: absolute;
      right: 10px;
      top: 5px;
      z-index: 1;
      &:hover{
        background: none;
      }
    }
  }
}
.p-toast{
  opacity: 1!important;
  z-index: 999999!important;
}

.p-datatable table th{
  .p-dropdown-label.p-inputtext{
  padding-top: 0;
  padding-bottom: 2px;
  padding-left: 1px;
  }
  .p-dropdown .p-dropdown-clear-icon {
    color: #6c757d;
    right: 17px;
    font-size: 10px;
    top: 11px;
  }
} 



 


.error-icon{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.no-border{
  border: 0!important;
}
.strong{
  font-weight: bold;
}

.sub-heading-size{
  font-size: $sub-heading-font-size;
}

.tank-outer-pattern{
  padding: 0 10% 0 38px;
  min-width: 100%;
  height: 21vh;
  max-height: 500px;
  position: relative;
  .tank-inner-wrapper-pattern {
    min-width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-right: 0;
    .tank-column-pattern{
      display: grid;
      width: 16.66%;
      height: 100%;
      float: left;
      position: relative;
      > div{
        /*height: 33.33%;*/
        margin-right: -1px;
        border-left: 2px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        position: relative;
        .tank-level-pattern{
          position: absolute;
          bottom: 0;
          width: 100%;
        }
        .tank-name{
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          margin-top: -7px;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 2px;
          padding-right: 1px;
        }
        .tank-btn-rounded{
          margin-left: 2px;
        }
      }
      &.two-column-tank{
        width: 33.33%;
        > div{

          > div{
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
            &:first-child{
              border-right: 2px solid;
            }
          }
        }
      }
      &:last-child{
        > div{
          border-right: 2px solid;
    }
  }
    }
  }
}
.loadable-plan-ballast .tank-outer-pattern, .loadable-plan-stowage.tank-outer-pattern{
      height: 40vh;
      padding: 0 10% 0 110px;
      .ship-front-pattern{
        width: 10%;
        .front-tank-wrapper{
          width: 100%;
          display: grid;
          right: 0;
        }
      }
      .ship-rear-pattern{
        width: 110px;
        .rear-top-pattern, .rear-bottom-pattern{
          border-right: 112px solid transparent;
          &:after{
            border-right: 112px solid transparent;
          }
        }
      }
      .tank-name{
        top: 0px!important;
        text-align: left!important;
        margin-top: 0!important;
        left: 11px;
        width: calc(48% - 15px)!important;
      }
      .tank-commodity-name{
        position: absolute;
        top: 0px;
        right: 5px;
        text-align: right;
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tank-item-valign{
        position: absolute;
        top: 50%;
        left: 5px;
        margin-top: -17px;
        right: 5px;
      }
      .tank-commodity-volume, .tank-commodity-weight{
        padding-bottom: 2px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      .tank-commodity-ullage{
        position: absolute;
        bottom: 5px;
        left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 34%;
        display: block;
        white-space: nowrap;
      }
      .tank-filling-percentage{
        position: absolute;
        bottom: 5px;
        right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 45%;
      }
}

.ship-front-pattern{
  position: absolute;
  width: 10%;
  height: 100%;
  right: 0;
  top: 0;
  &:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
    background-size: 100% 100%!important;
  }
}

.ship-rear-pattern{
    position: absolute;
    width: 38px;
    height: 100%;
    left: 0;
    top: 0;
  .rear-top-pattern{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 2;
    &:after{
        content: "";
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 40px solid transparent;
        position: absolute;
        top: -26px;
        left: -3px;
        z-index: 1;
    }
  }
  .rear-bottom-pattern{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    bottom: 0;
    left: -2px;
    z-index: 1;
    &:after{
        content: "";
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 40px solid transparent;
        position: absolute;
        top: 3px;
        left: 0px;
        z-index: 1;
    }
  }
  .rear-tank-pattern{
    width: 100%;
    height: 100%;
    position: relative;
    .tank-level{
      position: absolute;
      width: 100%;
      bottom: 0;
    }
    .rear-tank-ullage-and-percentage{
      position: absolute;
      top:50%;
      left: 40%;;
      .tank-filling-percentage{
        position: static;
      }
      .tank-commodity-ullage{
        display: none;
      }
    }
  }
}

th{
  font-weight: normal!important;
}

.p-dropdown-label.p-inputtext{
  text-transform: none;
}

.port-list{
  white-space: initial;
  li{
      margin-right: 40px;
      padding: 2px 10px;
      border-radius: 3px;
      position: relative;
      &:after{
          content: "";
          position: absolute;
          right: -30px;
          top: 5px;
          width: 14px;
          height: 11px;
      }
      &:last-child, &:only-child{
          &:after{
              display: none;
          }
      }
  }
}

.cpdss{
  display: inline-block;
  width: 109px;
  height: 12px;
  margin-left: 10px;
  vertical-align: middle;
}

.table-pattern{
  &.p-datatable .p-datatable-tbody > tr > td{
    padding:  2px 3px;
    &:last-child{
      border-right: 0;
    }
  }
  &.p-datatable .p-datatable-thead > tr > th{
    padding:  2px 3px;
    &:last-child{
      border-right: 0;
    }
  }
  &.p-datatable .p-datatable-tfoot > tr > td{
    padding: 2px 3px!important;
  }
  table{
    table-layout: auto!important;
  }
  }
  .p-datatable .p-datatable-tfoot > tr > td{
    background: none;
    font-weight: normal;
  }

.commingle-pop-up{
  .p-datatable table{
    table-layout: auto!important;
    
  }
  .column-class{
    min-width: 5%!important;
    &.column-actions{
      min-width: 30px !important;
      width: 30px !important;
      max-width: 30px;
    }
  }
  
}
.column-class.commingle-cargo1-color{
  min-width:25px;
  width: 25px;
  max-width:25px;
}
.commingle-cargo1-pct.p-editable-column, .commingle-cargo2-pct.p-editable-column{
  width: 100px;
   max-width: 100px;
}
.commingle-cargo2-color.p-editable-column, .commingle-cargo1-color.p-editable-column{
  width: 25px;
  min-width: 25px;
  max-width: 25px;
}
.commingle-cargo1.p-editable-column, .commingle-cargo2.p-editable-column{
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}

th .p-calendar .p-inputtext{
  min-width: 130px;
}
 
.p-datatable .p-datatable-tbody > tr:focus{
  outline: none!important;
}



.cargo-nomination-table.ohq table > thead > tr:nth-child(2) th:nth-child(5), .cargo-nomination-table.ohq table > thead > tr:nth-child(2) th:nth-child(7){
  padding-left: 0;
}

.p-datepicker table td > span{
  width: 1.7rem;
  height: 1.7rem;
}
.p-datepicker .p-datepicker-buttonbar{
  padding: 5px 0;
}

.p-datepicker .p-datepicker-buttonbar .p-button{
  padding: 0.25rem 1rem;
}
.p-datepicker .p-datepicker-header{
  padding: 0px 0.5rem 3px;
}

.th-border{
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 3px;
}
.p-datatable .p-datatable-tfoot > tr > td{
  padding: 11px 5px;
}

.pull-right{
  float: right;
}
.tab-btn-default{
  padding: 10px 25px;
}
.column-class.column-etd, .column-class.column-eta{
  width: 255px!important;
}
.edit-port-rotation{
  .p-orderlist-controls{
    display: none;
  }
  .p-orderlist-item, .p-ripple{
    overflow: visible;
  }
  &.p-dialog{
    width: 370px;
    .p-dialog-footer{
      border-top: 0;
    }
    .p-dialog-content{
      padding-bottom: 0;
    }
  }
  .p-orderlist-list{
    min-height: 50px;
  }
   
}
.p-orderlist .p-orderlist-list{
  background: none;
  border: 0;
  padding-left: 30px;
}
.p-orderlist .p-orderlist-list .p-orderlist-item:focus{
  box-shadow: none;
}
.p-orderlist .p-orderlist-list .p-orderlist-item{
  padding-bottom: 0px;
}

.confirmation-wrapper{
  z-index: 999999!important;
}

.datatable-loading .col, .datatable-loading .p-datatable{
  position: static;
}

.p-datatable .p-datatable-scrollable-header, .p-datatable .p-datatable-scrollable-footer{
  background: none!important;
}

.cargo-nomination-table .p-datatable-tbody tr td.color > div{
  min-width: 40px;
}

.icon-btn.pencil-icon{
  width: auto;
  height: auto;
  background-position: left center;
}

.body-header-row-span-table.p-datatable .p-datatable-tbody > tr:hover{
  background: none!important;
}

.p-orderlist .p-orderlist-list .p-orderlist-item:not(.p-highlight):hover, .p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight{
  background-position: 95% 15px!important;
}

.p-datatable .p-button.p-button-text.p-button-plain:enabled:hover{
    background: none!important;
}

.w-auto{
  width: auto!important;
  min-width: 5px!important;
}
td > div .p-calendar{
  width: 100%;
}
.p-button.p-button-text{
  
}
th .p-button.p-button-icon-only.p-button-rounded{
  vertical-align: middle;
  &:focus{
    box-shadow: none!important;
  }
}
.synoptical-table-wrapper{
  .error-icon-wrapper{
    input[type="text"]{
      width: 100%;
      max-width: 131px;
    }
  }
}
.p-carousel .p-carousel-indicators{
  display: none;
}

.w-150{
  width: 150px;
}
.p-dropdown .p-dropdown-clear-icon {
  right: 18px;
  font-size: 9px;
  margin-top: -5px;
}
.p-datatable .p-datatable-tbody > tr > td.color{
  padding-top: 3px;
  padding-bottom: 0px;
}

.p-treetable .p-treetable-tbody > tr{
  background: none!important;
}

.p-checkbox {
    width: 14px;
    height: 14px;
  .p-checkbox-box{
    background: none;
    width: 14px;
    height: 14px;
  }
}
.p-checkbox .p-checkbox-box .p-checkbox-icon{
  font-size: 8px;
}
.p-checkbox .p-checkbox-box.p-highlight{
  background: none!important;
}
.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler:focus{
  box-shadow: none!important;
}

.p-treetable .p-treetable-tbody > tr > td{
  padding: 11px 5px!important;
}

.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler{
width: 15px;
height: 15px;
}



.tank-layout-status{
  .tank-outer-pattern{
    height: 100%;
    max-height: 350px;
    .tank-inner-wrapper-pattern .tank-column-pattern > div {
      .tank-name{
      text-align: left;
      padding-left: 3px;
      top: 7px;
      left: 15px;
    }
    .tank-filling-percentage{
      position: absolute;
      top: 14px;
      left: 5px;
      bottom: auto;
      }
      .tank-btn-rounded{
        margin-left: 5px;
      }
    }
  }
  .tank-outer-ohq{
    height: calc(100% - 36px)!important;
    max-height: 350px;
  }
}

.switch-label{
  display: inline-block;
  line-height: 20px;
  padding-right: 5px;
  vertical-align: bottom;
}

.p-inputswitch .p-inputswitch-slider{
  border-radius: 3px;
}

.p-inputswitch .p-inputswitch-slider:before{
  width: 17px;
  height: 10px;
  left: 0px;
  margin-top: -5px;
  border-radius: 4px;
}

.p-inputswitch {
  width: 35px;
  height: 10px;
}

.parameter-table td{
  &:last-child{
    text-align: right!important;
    font-size: $heading-font-size;
  }
}
.parameter-table th:last-child{
  text-align: right!important;
}

.p-overlaypanel{
  margin-left: -110px;
    margin-top: -165px!important;
    &:after, &:before{
      display: none;
    }
    &.empty{
      margin-top: -68px!important;
    }
}

.p-overlaypanel.tank-tooltip{
  border-radius: 5px;
  width: 220px;
  box-shadow: none;
  ul{
    margin-bottom: 0!important;
    li:nth-child(even){

    }
  }
}

  .p-overlaypanel.tank-tooltip.ballast-tooltip{
    margin-top: -130px!important;
    &.empty{
      margin-top: -68px!important;
    }
  }
  .p-overlaypanel.tank-tooltip.tank-ohq-tooltip{
    margin-top: -130px!important;
    &.empty{
      margin-top: -68px!important;
    }
  }
  .p-overlaypanel.tank-tooltip.tank-ohq-tooltip-rear{
    margin-top: -115px!important;
    &.empty{
      margin-top: -68px!important;
    }
  }

.tank-btn-rounded{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  &:after{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 10px;
      width: 0px;
      margin: auto;
      bottom: 100%;
      display: none;
  }
  &:hover{
    &:after{
    display: block;
    }
  }
}

.role-listing-wrapper{
 .column-class{
   width: auto!important;
 }
 .column-class{
  width: auto!important;
}
.column-sl {
  width: 50px !important;
}
.column-class.column-actions {
min-width: 50px !important;
width: 50px !important;
}
}
.column-priority{
  width: 85px!important;
}
.column-qty{
  width: 120px!important;
}
.column-api, .column-temp{
  width: 105px!important;
}

.column-max-tol, .column-min-tol{
  width: 115px!important;
}
.column-segregation{
  width: 120px!important;
}
.column-fuel-type{
  width: 150px!important;
}
.check-rounded{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 14px;
  font-size: 8px;
  vertical-align: bottom;
  display: inline-block;
  text-align: center;
  margin-right: 3px;
}
@media  (max-width:1400px){
  .tank-outer-pattern .tank-inner-wrapper-pattern .tank-column-pattern > div .tank-name{
    font-size: 10px;
  }
}
.synoptical-table-wrapper{
  .p-datatable .p-datatable-thead > tr{ 
    > th{
    padding: 2px 5px;
  }
}
}
.landing-page-tank-wrapper{
  .p-datatable table{
    table-layout: auto!important;
  }
}

.hide{
  display: none
}

.action-buttons button:focus, .action-buttons a:focus, .action-buttons button:hover, .action-buttons a:hover{
  visibility: visible!important;
}
.synoptical-table-wrapper{
  td.text-center{
    .error-icon-wrapper{
      display: block;
      max-width: 151px;
      padding-left: 15px;
      padding-right: 15px;
      margin: auto;
       input{
        text-align: center;
      }
      .error-icon{
        right: -1px;
      }
    }
  }
}

.p-datepicker .p-timepicker span{
  font-size: 12px;
}
.p-datepicker .p-timepicker button{
  height: auto;
}

.p-datepicker .p-timepicker button:hover, .p-datepicker .p-timepicker button:focus{
  background: none;
  outline: none;
}

.p-datepicker .p-timepicker button:enabled:hover{
  background: none;
}

.p-dropdown{
  max-width: 100%;
}
.error-icon-wrapper{
  position: relative;
  .error-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
  }
} 

.p-datatable-scrollable-header-table .p-calendar .p-inputtext{
  padding: 0;
    height: 22px;
    margin-bottom: 0;
    &:focus{
      outline: none;
      box-shadow: none!important;
    }
}
.p-tooltip{
  pointer-events: none;
}
.no-wrap{
  white-space: nowrap;
}
.p-paginator-last{
  margin-right: auto!important;
}
.p-paginator .p-dropdown .p-dropdown-label{
  padding-top: 10px;
}
.p-paginator{
  padding-left: 0;
  padding-right: 0;
}

.p-datatable .p-datatable-thead > tr > th{
  white-space: normal;
}

.stability-popup, .commingle-cargo-details-popup, .port-rotation-pop-up{
  width: 720px;
  .p-datatable table {
    table-layout: auto !important;
    .column-class {
      width: auto !important;
    }
  }
}

.port-rotation-pop-up{
  width: 1000px !important;
}

.commingle-composition-percentage, .commingle-composition-quantity {
  div{
    white-space: pre;
  }
}

.colspan-header{
  span{
    display: block;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 3px;
  }
}

.landing-page-tank-wrapper{
  .tanks-inner-outer-ohq .tanks-column-ohq > div .tank-name{
    left: 15px!important;
    top: 0!important;
    text-overflow: ellipsis;
    text-align: left!important;
  }
  .rear-tank-wrapper-ohq > div .tank-name{
    right: 11px!important;
    height: 18px!important;
    top: 0!important;
    bottom: 0!important;
    margin: auto!important;
  }
  .rear-tank-wrapper-ohq .tank-btn-rounded{
    margin: auto!important;
    top: 0!important;
    bottom: 0!important;
    left: auto!important;
    right: 2px!important;
  }
  .rear-tank-wrapper-ohq > div:first-child{
     .tank-btn-rounded{
      left: auto!important;
      bottom: 3px!important;
      right: 2px!important;
      top: auto!important;
    }
    .tank-name{
      right: 15px!important;
      left: 4px!important;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right!important;
      bottom: 0!important;
      top: auto!important;
    }
  }
  .rear-tank-wrapper-ohq > div:last-child{
    .tank-btn-rounded{
     left: auto!important;
     top: 3px!important;
     right: 2px!important;
     bottom: auto!important;
   }
   .tank-name{
     right: 15px!important;
     left: 4px!important;
     overflow: hidden;
     text-overflow: ellipsis;
     text-align: right!important;
     top: 0!important;
     bottom: auto!important;
   }
 }
} 

.tank-wrapper-obq{
  .tank-inner-wrapper-pattern .tank-column-pattern > div{
    .tank-btn-rounded{
      margin-left: 3px;
    }
  }
}
.reset-btn{
  width: 15px;
  height: 17px;
  display: inline-block;
  &:hover{}
}
tr:hover{
  td{
    .reset-btn{
      background-position: bottom left;
    }
  }
}
.p-dialog, .p-dialog-mask.p-component-overlay{
  z-index: 9999 !important;
}
.p-dropdown-panel, .p-multiselect-panel{
  z-index: 99999!important;
}

.p-dropdown-panel.index-1{
  z-index: 1 !important;
}

.p-dropdown-panel.index-9{
  z-index: 99999!important;
}

.api-temp-pop-up{
  max-width: 570px!important;
  .column-class{
    width: auto!important;
  }
}

@media  (max-width:1400px){
  .sidebar-landing .p-datatable .p-datatable-tbody > tr > td, .sidebar-landing .p-datatable .p-datatable-tbody > tr > th{
    padding: 5px !important;
  }
}

.p-orderlist-droppoint{
  height: 15px!important;
}

.calender-control-multi-date{
  .p-calendar .p-inputtext{
    width: 185px;
  }
}

.table-listing-wrapper-default{
  max-height: calc(100vh - 180px);
  height: auto;
}

.distance-port.last-port{
  background: none;
  &:after{
    display: none;
  }
  .ship-location{
    top: 3px!important;
  }
}

.p-toast .p-toast-message .p-toast-icon-close:hover{
  background: none!important;
}
.p-toast .p-toast-message .p-toast-icon-close:focus{
  outline: none;
  box-shadow: none!important;
}
.new-voayge-pop-up{
  .p-calendar{
    width: 100%;
  }
}

.pattern-view-more-popup{
  width: 83vw;
  .tank-btn-rounded{
    margin-left: 2px;
  }
  .tank-outer-pattern .tank-inner-wrapper-pattern .tank-column-pattern > div .tank-name{
    top: 0!important;
    left: 12px!important;
    margin-top: 0!important;
    width: auto!important;
  }
  .tank-commodity-weight{
    position: absolute;
    left: 2px;
    top: 13px;
  }
  .p-datatable table{
    table-layout: auto!important;
  }
}

.table-pattern-view-more{
  &.p-datatable .p-datatable-tbody > tr > td, &.p-datatable .p-datatable-tbody > tr > th{
    padding:  2px 3px;
    font-size: 11px;
    &:last-child{
      border-right: 0;
    }
  }
    &.p-datatable .p-datatable-thead > tr > th{
      padding:  2px 3px;
      font-size: 11px;
      &:last-child{
        border-right: 0;
      }
    }
    &.p-datatable .p-datatable-tfoot > tr > td{
      padding: 2px 3px!important;
    }
    table{
      table-layout: auto!important;
    }
  }
  .content-ellipsis{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-planned-start-date, .column-planned-end-date, .column-actual-start-date{
    width: 170px!important;
  }
  .column-actual-end-date{
    width: 170px!important;
  }

  .voyage-start{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center center;
  }
  .voyage-end{
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .p-tooltip{
    z-index: 999999!important;
  }
  .p-overlaypanel{
    z-index: 99999 !important;
  }
  .content-pattern{
    .tank-outer-pattern{
      min-width: 98%;
      width: 98%;
    }
  }  

   .data-table-outer, .data-table-inner{
     height: 100%;
   }

  .v-middle {
    vertical-align: middle;
  }
  .colorpicker-custom{
    width: 36px;
    height: 39px;
    background: none;
    border: 0;
    outline: none;
    padding: 0;
    margin-left: -2px;
    margin-top: -2px;
  }
  .column-save {
    width: 30px !important;
  }
  .text-capitalise {
    text-transform: capitalize;
  }


textarea{
  resize: none;
}

.error-pop-up{ 
  width: 720px;
  .p-datatable .p-datatable-tbody > tr:first-child > td{
    border-top: 0!important;
  }
}
@media (max-width: 1600px){
  .loadable-plan-ballast .tank-outer-pattern, .loadable-plan-stowage.tank-outer-pattern{
    padding-left: 80px;
  }
  .loadable-plan-ballast .tank-outer-pattern .ship-rear-pattern, .loadable-plan-stowage.tank-outer-pattern .ship-rear-pattern{
    width: 80px;
  }

}

@media (max-width: 1400px){
  .loadable-plan-ballast .tank-outer-pattern, .loadable-plan-stowage.tank-outer-pattern{
    padding-left: 60px;
  }
  .loadable-plan-ballast .tank-outer-pattern .ship-rear-pattern, .loadable-plan-stowage.tank-outer-pattern .ship-rear-pattern{
    width: 60px;
  }
  .cargo-nomiantion-tab .tab-btn{
    padding: 20px 12px;
  }
}
.carousel-card{
  .p-calendar .p-inputtext{
    padding: 0 8px;
    margin-bottom: 2px;
    height: 22px;
  }
  .error-icon{
    margin-left: 2px;
  }
} 

#countryMap
{
  .ol-viewport{
    .ol-uncollapsible
    {
      ul{
        display: none;
      }
    }
  }
}
::placeholder, ::-webkit-input-placeholder{
  font-size: 11px;
}

.pattern-view-more-popup .tank-outer-pattern{
  height: 270px;
  &.loadable-plan-stowage{
    height: 270px;
  }
}

@media (max-width: 1500px){
  .table-pattern.p-datatable .p-datatable-tbody>tr>td, .table-pattern.p-datatable .p-datatable-thead>tr>th, .table-pattern.p-datatable .p-datatable-tfoot > tr > td {
    font-size: 11px;
  }
  
}