.list-even-keel {
    background: url(/assets/images/themes/light/ship-list-even-keel.png) no-repeat center;
    height: 100%;
}

.list-port {
    background: url(/assets/images/themes/light/ship-list-port.png) no-repeat center;
    height: 100%;
}

.list-stbo {
    background: url(/assets/images/themes/light/ship-list-stbd.png) no-repeat center;
    height: 100%;
}