<div class="row no-gutters">
    <div class="col heading-border pt-30">
        <div class="row">
            <div class="col ">
                <h5 class="text-uppercase">
                    {{'LOADING_PLAN_CARGO_SEQUENCE' | translate}}

                </h5>
            </div>
            <div class="col text-right" *ngIf="editable">
                <label class="checkbox-custom mt-5 pr-10">{{'LOADING_INFORMATION_ADD_INITIAL_DELAY_CHECK_LABEL' | translate}}
                    <input type="checkbox" [(ngModel)]="addInitialDelay" (change)="onAddInitialDelay()">
                    <span class="checkmark"></span>
                </label>

                <a id="add_cargo_btn" class="btn btn-link icon-btn plus-icon-rounded float-right"
                    (click)="addLoadingDischargingSequence()">{{'LOADING_INFORMATION_ADD_BUTTON_LABEL'
                    | translate }}</a>

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col ml-30 pt-20">
        <cpdss-portal-datatable *ngIf="columns && loadingDischargingSequenceForm && loadingDischargingDelays" [tableId]="'loading-discharging-sequence'" [form]="loadingDischargingSequenceForm"
            [columns]="columns" [value]="loadingDischargingDelays" [editMode]="editMode" [listData]="listData"
            (editComplete)="onEditComplete($event)" (buttonClick)="onDelete($event)" [scrollable]="false"></cpdss-portal-datatable>
    </div>
</div>
