<form>
    <p-table *ngIf="cargoPlanningRules?.length; else empty" [columns]="columns" [value]="cargoPlanningRules"
        dataKey="header" id="synoptic-table" styleClass="body-header-row-span-table" [scrollable]="true"
        scrollHeight="flex">
        <ng-template pTemplate="header" let-columns let-rowData>
            <tr>
                <th *ngFor="let column of columns">{{column.header | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    <ng-container *ngFor="let input of rowData.inputs; let inputIndex = index">
                        {{input.prefix}}
                        <div class="error-icon-wrapper">
                            <input *ngIf="input?.type" [formControl]="getControl('inputs',rowIndex,inputIndex)">
                            <cpdss-portal-validation-error [errors]="fieldError('inputs',rowIndex,inputIndex)"
                                [errorMessages]="errorMessages">
                            </cpdss-portal-validation-error>
                        </div>
                        {{input.suffix}}
                    </ng-container>
                </td>
                <td>
                    <p-dropdown id="unit_dropdown" [options]="ruleTypes" [formControl]="getControl('ruleType',rowIndex)"
                        (onChange)="onRuleTypeSelected($event)" optionLabel="value" optionValue="value"
                        resetFilterOnHide="true"></p-dropdown>
                </td>
                <td>
                    <p-inputSwitch [formControl]="getControl('enable',rowIndex)"></p-inputSwitch>
                </td>
            </tr>
        </ng-template>
    </p-table>
</form>
<ng-template #empty>
    {{'NO_RECORDS_FOUND'| translate}}
</ng-template>