<div class="row">
    <div class="col-md-12">
        <cpdss-portal-arrival-condition-panel></cpdss-portal-arrival-condition-panel>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <cpdss-portal-departure-condition-panel></cpdss-portal-departure-condition-panel>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <cpdss-portal-loading-rate [editMode]="false"
        [loadingRates]="loadingRates"></cpdss-portal-loading-rate>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <cpdss-portal-loading-discharging-berth [editMode]="false" [availableBerths]="selectedBerths" [selectedBerths]="selectedBerths"></cpdss-portal-loading-discharging-berth>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <ul class="list-group bg-transparent list-group-flush bg-transparent">
                <li class="list-group-item bg-transparent">Trim<span class="pull-right">For Berthing Not Exceeding 3.0 M
                        8/5 During Cargo Operation</span></li>
            </ul>
    </div>
</div>