<div class="row">
    <div class="col-md-12">
        <cpdss-portal-arrival-condition-panel></cpdss-portal-arrival-condition-panel>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <cpdss-portal-departure-condition-panel></cpdss-portal-departure-condition-panel>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <cpdss-portal-loading-rate [editMode]="false"
        [loadingRates]="loadingRates"></cpdss-portal-loading-rate>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <cpdss-portal-loading-discharging-berth [editMode]="false" [berthDetails]="berthDetails" ></cpdss-portal-loading-discharging-berth>
    </div>
</div>
<div class="row item-row-wrapper">
    <div class="col-md-12">
        <div class="row">
            <div class="col">Trim</div>
            <div class="col text-right">For Berthing Not Exceeding 3.0 M
                8/5 During Cargo Operation</div>
        </div>
    </div>
</div>