

<div class="row">
    <div  class="col">
        <h5 class="heading-border secondary-text pb-10 mb-10">1 {{'LOADABLE_QUANTITY_HEADER' | translate}}</h5>
    </div>
</div>
    <div  class="row">
        <div class="col  ml-30">
            <p-table #datatable [columns]="columns" [value]="loadableQuantityData" styleClass="colspan-table loadable-plan">
                <ng-template pTemplate="header" let-columns>
                    <ng-container>
                        <tr>
                            <th [class]="col.fieldClass" *ngFor="let col of columns; let colIndex = index" [attr.colspan]="col.colspan" [attr.rowspan]="col.rowspan">
                                <div [class]="col.fieldColumnClass">{{col.header | translate}}</div>
                            </th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let col of columns; let colIndex = index">
                                <ng-container *ngIf="col?.subColumns?.length;">
                                    <th [class]="subCol.fieldClass" *ngFor="let subCol of col.subColumns;">{{subCol.header | translate}}</th>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-container>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <ng-container *ngIf="col?.subColumns?.length;else col_content">
                                <ng-container *ngFor="let subCol of col.subColumns;">
                                    <td [class]="subCol.fieldClass">
                                        <span>{{subCol?.numberFormat === 'quantity' ? (rowData[subCol.field] | quantityDecimalFormat: subCol?.unit): rowData[subCol.field]}}</span>
                                    </td>
                                </ng-container>
                            </ng-container>
                            <ng-template #col_content>
                                <td class="text-right"><span  [ngClass]="col.field === 'differencePercentage' ? getDiffClass(rowData[col.field]) : ''">{{col.field === 'differencePercentage' ? (rowData[col.field]+'%') : rowData[col.field] }}</span></td>
                            </ng-template>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3">{{'LOADABLE_QUANTITY_TOTAL' | translate}}</td>
                        <td class="text-right">{{total?.orderedQuantity | quantityDecimalFormat: 'MT'}}</td>
                        <td class="text-right">{{total?.orderBbls60f | quantityDecimalFormat: 'BBLS'}}</td>
                        <td colspan="2"></td>
                        <td class="text-right">{{total?.loadableBblsdbs | quantityDecimalFormat: 'OBSBBLS'}}</td>
                        <td class="text-right">{{total?.loadableBbls60f | quantityDecimalFormat: 'BBLS'}}</td>
                        <td class="text-right">{{total?.loadableLT | quantityDecimalFormat: 'LT'}}</td>
                        <td class="text-right">{{total?.loadableMT | quantityDecimalFormat: 'MT'}}</td>
                        <td class="text-right">{{total?.loadableKL | quantityDecimalFormat: 'KL'}}</td>
                        <td class="text-right"><span  [ngClass]="getTotalDiffClass(total?.differencePercentage)">{{total?.differencePercentage | number :'1.2-2'}} %</span></td>
                    </tr>
                </ng-template>
            </p-table>
    </div>
    </div>
    <div  class="row" *ngIf="loadableQuantityCommingleCargoDetails?.length"> 
        <div class="col">
            <cpdss-portal-commingled-cargo-details [loadableQuantityCargoDetails]="loadableQuantityCommingleCargoDetails"></cpdss-portal-commingled-cargo-details>
    </div>
    </div>

