<div class="container-fluid">
    <div  class="row">
        1. Loadable Quantity
    </div>
    <div  class="row">
        <p-table #datatable [columns]="columns" [value]="loadableQuantityData">
            <ng-template pTemplate="header" let-columns>
                <ng-container>
                    <tr>
                        <th *ngFor="let col of columns; let colIndex = index" [attr.colspan]="col.colspan" [attr.rowspan]="col.rowspan">
                            <div [class]="col.className">{{col.header | translate}}</div>
                        </th>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let col of columns; let colIndex = index">
                            <ng-container *ngIf="col?.subColumns?.length;">
                                <th *ngFor="let subCol of col.subColumns;">{{subCol.header | translate}}</th>
                            </ng-container>
                        </ng-container>
                    </tr>
                </ng-container>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <ng-container *ngIf="col?.subColumns?.length;else col_content">
                            <ng-container *ngFor="let subCol of col.subColumns;">
                                <td>
                                    <span>{{rowData[subCol.field]}}</span>
                                </td>
                            </ng-container>
                        </ng-container>
                        <ng-template #col_content>
                            <td><span [style.background]="col.field === 'differencePercentage' ? rowData['differenceColor'] : ''">{{rowData[col.field]}}</span></td>
                        </ng-template>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{total.orderBblsdbs | number :'1.0-4'}}</td>
                    <td>{{total.orderBbls60f | number :'1.0-4'}}</td>
                    <td colspan="2"></td>
                    <td>{{total.loadableBblsdbs | number :'1.0-4'}}</td>
                    <td>{{total.loadableBbls60f | number :'1.0-4'}}</td>
                    <td>{{total.loadableLT | number :'1.2-4'}}</td>
                    <td>{{total.loadableMT | number :'1.2-4'}}</td>
                    <td>{{total.loadableKL | number :'1.2-4'}}</td>
                    <td>{{total.differencePercentage | number :'1.2-4'}} %</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div  class="row">
        <cpdss-portal-commingled-cargo-details [loadableQuantityCargoDetails]="loadableQuantityCommingleCargoDetails"></cpdss-portal-commingled-cargo-details>
    </div>
</div>