<div class="container-fluid">
    <div  class="row">
        1. Loadable Quantity
    </div>
    <div  class="row">
        <p-table #datatable [columns]="columns" [value]="value">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        <table>
                            <tr>
                                <th>{{col.header}}</th>
                            </tr>
                            <tr>
                                <th *ngFor="let subCol of col?.subColumns">
                                    <span>{{subCol.header}}</span>
                                </th>
                            </tr>
                        </table>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{rowData.grade}}</td>
                    <td>{{rowData.estimate.api}}</td>
                    <td>{{rowData.estimate.temp}}</td>
                    <td>{{rowData.order.bblsTemp}}</td>
                    <td>{{rowData.order.bblsF}}</td>
                    <td>{{rowData.tlrnic.min}}</td>
                    <td>{{rowData.tlrnic.max}}</td>
                    <td>{{rowData.loadable.bblsTemp}}</td>
                    <td>{{rowData.loadable.bblsF}}</td>
                    <td>{{rowData.loadable.lt}}</td>
                    <td>{{rowData.loadable.mt}}</td>
                    <td>{{rowData.loadable.kl}}</td>
                    <td>{{rowData.diff}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div  class="row">
        <cpdss-portal-commingled-cargo-details></cpdss-portal-commingled-cargo-details>
    </div>
</div>