<div class="container-fluid">
    <div class="row">
        <div class="col vessel-info-wrapper">
            <div class="row">
                <div class="col">
                    <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo">
                    </cpdss-portal-vessel-info>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label
                        class="col-form-label pr-10 text-uppercase">{{ 'LOADABLE_STUDY_DETAILS_VOYAGE_DROPDOWN_LABEL'  | translate }}</label>

                    <p-dropdown id="voyage_dropdown" styleClass="dropdown-w-180" [options]="voyages"
                        [(ngModel)]="selectedVoyage" filter="true" optionLabel="voyageNo"
                        (onChange)="onVoyageChange($event)"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col cargo-nomiantion-tab text-center">
            <a class="tab-btn" *cpdssPortalPermission="cargoNominationTabPermissionContext"
                [ngClass]="{'active': selectedTab === LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION}"
                (click)="onTabClick(LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION)">{{'CARGO_NOMINATION' | translate}}
                <div *ngIf="(cargoNominationComplete$|async) else incomplete" class="pt-5">
                    <div class="tab-status-icon pi pi-check completed"></div> {{'COMPLETE'|translate}}
                </div>
                <ng-template #incomplete>
                    <div class="pt-5">
                        <div class="tab-status-icon pi pi-check"></div> {{'INCOMPLETE'|translate}}
                    </div>
                </ng-template>
            </a>
            <a class="tab-btn" *cpdssPortalPermission="portsTabPermissionContext"
                [ngClass]="{'active': selectedTab === LOADABLE_STUDY_DETAILS_TABS.PORTS}"
                (click)="onTabClick(LOADABLE_STUDY_DETAILS_TABS.PORTS)">{{'PORT' | translate}}
                <div *ngIf="(portsComplete$|async) else incomplete" class="pt-5">
                    <div class="tab-status-icon pi pi-check completed"></div> {{'COMPLETE'|translate}}
                </div>
                <ng-template #incomplete>
                    <div class="pt-5">
                        <div class="tab-status-icon pi pi-check"></div> {{'INCOMPLETE'|translate}}
                    </div>
                </ng-template>
            </a>
            <a class="tab-btn" *cpdssPortalPermission="ohqTabPermissionContext"
                [ngClass]="{'active': selectedTab === LOADABLE_STUDY_DETAILS_TABS.OHQ}"
                (click)="onTabClick(LOADABLE_STUDY_DETAILS_TABS.OHQ)">{{'ON_HAND_QUANTITIES' | translate}}
                <div class="pt-5" *ngIf="(ohqComplete$|async)  else incomplete">
                    <div class="tab-status-icon pi pi-check completed"></div> {{'COMPLETE'|translate}}
                </div>
                <ng-template #incomplete>
                    <div class="pt-5">
                        <div class="tab-status-icon pi pi-check"></div> {{'INCOMPLETE'|translate}}
                    </div>
                </ng-template>
            </a>
            <a class="tab-btn" *cpdssPortalPermission="obqTabPermissionContext"
                [ngClass]="{'active': selectedTab === LOADABLE_STUDY_DETAILS_TABS.OBQ}"
                (click)="onTabClick(LOADABLE_STUDY_DETAILS_TABS.OBQ)">{{'ON_BOARD_QUANTITIES' | translate}}
                <div class="pt-5" *ngIf="(obqComplete$|async) else incomplete">
                    <div class="tab-status-icon pi pi-check completed"></div> {{'COMPLETE'|translate}}
                </div>
                <ng-template #incomplete>
                    <div class="pt-5">
                        <div class="tab-status-icon pi pi-check"></div> {{'INCOMPLETE'|translate}}
                    </div>
                </ng-template>
            </a>
        </div>
        <div class="pr-15 text-right">
            <button id="pattern_history" class="btn btn-main mr-10"
                (click)="navigateToPatternHistory()">{{'LOADABLE_PATTERN_HISTORY_BUTTON_LABEL' | translate}}</button>
            <button id="generate_pattern"
                class="btn btn-main">{{'LOADABLE_PATTERN_GENERATE_BUTTON_LABEL' | translate}}</button>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col text-uppercase sub-heading">
            <label class=" text-secondary  pr-20">{{'LOADABLE_STUDY_DETAILS_LOADABLE_STUDY_LABEL'| translate}}
                <span>{{selectedLoadableStudy?.name}}</span></label>


            <label class="pr-20">{{'LOADABLE_STUDY_DETAILS_LOADABLE_QUANTITY_LABEL'| translate}}
                <button id="loadable_quantity_btn" class="btn btn-main btn-xs ml-10" type="button" [disabled]="!loadableStudies?.length"
                    (click)="showLoadableQuantityPopup()"
                    *cpdssPortalPermission="loadableQuantityPermissionContext">{{loadableQuantityNew | number : '1.2-2'}}</button></label>


            <label class="">{{'CARGO_NOMINATION_TOTAL_QUANTITY'| translate}}
                <span class="ml-10 text-secondary">{{totalQuantity$|async}}</span></label>
        </div>
        <div class="pr-15"  *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION">
            <button id="commingle_btn" class="btn btn-main  ml-10" type="button"
                (click)="showComminglePopup()" [disabled]="showCommingleButton" *cpdssPortalPermission="addCommingleBtnPermissionContext">{{'COMMINGLE_BUTTON' | translate}}</button>
        </div>
        <div class="pr-15">
            <ng-container *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION && loadableStudies?.length">
                <a id="add_cargo_btn" class="btn btn-link icon-btn plus-icon-rounded float-right"
                    *cpdssPortalPermission="addCargoBtnPermissionContext"
                    (click)="addCargoNomination()">{{'ADD_CARGO_BUTTON_LABEL'| translate}}</a>
            </ng-container>
        </div>
        <div class="pr-15">
            <ng-container *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.PORTS && loadableStudies?.length">
                <a id="add_cargo_btn" class="btn btn-link icon-btn plus-icon-rounded float-right"
                    *cpdssPortalPermission="addPortBtnPermissionContext"
                    (click)="addPort()">{{'ADD_PORT_BUTTON_LABEL'| translate}}</a>
            </ng-container>
        </div>
    </div>
    <div class="content-outer" *ngIf="voyages" [ngClass]="{'sidebar-collapsed': !openSidePane}">
        <div class="sidebar  relative">
            <a class="sidebar-collapse-btn" (click)="openSidePane=!openSidePane"></a>
            <div class="sidebar-content">
                <cpdss-portal-side-panel-loadable-study-list [vesselInfo]="vesselInfo" [voyage]="selectedVoyage"
                    [(selectedLoadableStudy)]="selectedLoadableStudy" [loadableStudies]="loadableStudies"
                    (deleteLoadableStudy)="onDeleteLoadableStudy($event)" (selectedLoadableStudyChange)="onLoadableStudyChange($event)">
                </cpdss-portal-side-panel-loadable-study-list>
            </div>
        </div>
        <div class="pl-30">
            <div class="pl-10" *ngIf="ports && loadableStudies">

                <cpdss-portal-cargo-nomination
                    *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION && loadableStudyId && loadableStudies && loadableQuantityNew"
                    [vesselId]="vesselId" [voyageId]="voyageId" [loadableStudyId]="loadableStudyId"
                    (cargoNominationUpdate)="toggleCommingleButton($event)"></cpdss-portal-cargo-nomination>
                <cpdss-portal-ports
                    *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.PORTS && loadableStudyId && loadableStudies && loadableQuantityNew"
                    [vesselId]="vesselId" [voyageId]="voyageId" [loadableStudyId]="loadableStudyId">
                </cpdss-portal-ports>
                <cpdss-portal-on-hand-quantity
                    *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.OHQ && loadableStudyId && loadableStudies && loadableQuantityNew"
                    [vesselId]="vesselId" [voyageId]="voyageId" [loadableStudyId]="loadableStudyId"
                    [permission]="ohqTabPermission">
                </cpdss-portal-on-hand-quantity>
                <cpdss-portal-on-board-quantity
                    *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.OBQ && loadableStudyId && loadableStudies && loadableQuantityNew"
                    [vesselId]="vesselId" [voyageId]="voyageId" [loadableStudyId]="loadableStudyId">
                </cpdss-portal-on-board-quantity>


                <div class="row" *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION || selectedTab === LOADABLE_STUDY_DETAILS_TABS.PORTS">
                    <div class="col-sm-12">
                        <label class="col-form-label pr-10">{{'DISCHARGE_DROPDOWN_LABEL' | translate}}</label>
                        <p-multiSelect id="discharge_ports" [(ngModel)]="dischargingPorts" [options]="ports"
                            *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.CARGONOMINATION" optionLabel="name"
                            placeholder="{{ 'DISCHARGE_DROPDOWN_SELECT_PORT'| translate }}"
                            (onChange)="onDischargePortChange($event)" [selectionLimit]="5">
                        </p-multiSelect>
                        <span *ngIf="selectedTab === LOADABLE_STUDY_DETAILS_TABS.PORTS">{{dischargingPortsNames}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<cpdss-portal-loadable-quantity *ngIf="displayLoadableQuntity" (displayPopUp)="displayPopUpTab($event)"
    (newLoadableQuantity)="loadableQuantity($event)" [vesselId]="vesselId" [voyage]="selectedVoyage"
    [selectedLoadableStudy]="selectedLoadableStudy"></cpdss-portal-loadable-quantity>
<cpdss-portal-commingle *ngIf="displayCommingle" (displayPopUp)="displayComminglePopUpTab($event)" [vesselId]="vesselId"
    [voyageId]="voyageId" [loadableStudyId]="loadableStudyId"></cpdss-portal-commingle>