<ng-container *ngIf="dischargingPlanForm">
  <div class="container-fluid" [formGroup]="dischargingPlanForm">
    <div class="row">
      <div class="col sidebar-loading-and-discharging" *ngIf="dischargingPlanDetails">
        <div class="row">
          <div class="col">
            <cpdss-portal-plan-side-panel [loadingDischargingPlanData]="dischargingPlanDetails">
            </cpdss-portal-plan-side-panel>
          </div>
        </div>
      </div>

      <div class="col main-content-loading-and-discharging pt-25">
        
        <cpdss-portal-arrival-condition [permission]="permission" [vesselId]="vesselId"
          [portRotationId]="portRotationId" [loadingDischargingInfoId]="dischargeInfoId" [cargos]="cargos"
          [currentQuantitySelectedUnit]="currentQuantitySelectedUnit"
          [loadingDischargingPlanData]="dischargingPlanDetails" [operation]="OPERATIONS.DISCHARGING">
        </cpdss-portal-arrival-condition>

        <cpdss-portal-departure-condition [permission]="permission" [vesselId]="vesselId"
          [portRotationId]="portRotationId" [loadingDischargingInfoId]="dischargeInfoId" [cargos]="cargos"
          [currentQuantitySelectedUnit]="currentQuantitySelectedUnit"
          [loadingDischargingPlanData]="dischargingPlanDetails" [operation]="OPERATIONS.DISCHARGING">
        </cpdss-portal-departure-condition>

        <div class="row mt-30">
          <div class="col-md-12 pt-5 table-column-flexible-wrapper auto-layout">
            <h5 class="text-uppercase  heading-border">
              {{ 'DISCHARGING_INFORMATION_CARGO_TO_BE_DISCHARGED' | translate }}
            </h5>
            <cpdss-portal-cargo-to-be-loaded-discharged [prevQuantitySelectedUnit]="prevQuantitySelectedUnit"
              [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [cargos]="cargos"
              [cargoVesselTankDetails]="dischargingInformation?.cargoVesselTankDetails"
              [operation]="OPERATIONS.DISCHARGING" [listData]="listData"
              [isDischargePlanGenerated]="dischargingInformation?.isDischargePlanGenerated">
            </cpdss-portal-cargo-to-be-loaded-discharged>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 pt-5 table-column-flexible-wrapper auto-layout">
            <cpdss-portal-loading-discharging-manage-sequence [operation]="OPERATIONS.DISCHARGING" [editable]="false"
              [cargos]="cargos"
              [loadableQuantityCargo]="dischargingInformation?.cargoVesselTankDetails.loadableQuantityCargoDetails"
              [loadingDischargingSequences]="dischargingInformation?.dischargeSequences"
              [currentQuantitySelectedUnit]="currentQuantitySelectedUnit">
            </cpdss-portal-loading-discharging-manage-sequence>
          </div>
        </div>

        <div class="row mt-20">
          <div class="col-md-12 pt-5 table-column-flexible-wrapper auto-layout">
            <cpdss-portal-cow-plan *ngIf="dischargingInformation?.cowDetails && dischargingPlanForm"
              [cowDetails]="dischargingInformation?.cowDetails" [form]="dischargingPlanForm"
              [cargoTanks]="dischargingInformation?.cargoTanks" [loadedCargos]="dischargingInformation?.loadedCargos"
              [listData]="listData" [editMode]="false">
            </cpdss-portal-cow-plan>
          </div>
        </div>

        <div class="row mt-30">
          <div class="col-md-12 pt-5 table-column-flexible-wrapper auto-layout">
            <cpdss-portal-post-discharge-stage
              *ngIf="dischargingInformation?.postDischargeStageTime && dischargingPlanForm" [editMode]="false"
              [postDischargeStageTime]="dischargingInformation?.postDischargeStageTime" [form]="dischargingPlanForm">
            </cpdss-portal-post-discharge-stage>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<cpdss-portal-error-log-popup [(visible)]="errorPopUp" (visibleChange)="viewError($event)"
  [header]="'GENERATED_PLAN_ERROR_MESSAGE_HEADING'" [errorMessage]="errorMessage"></cpdss-portal-error-log-popup>
