@import "../../styles/scss/variables.scss";

.bg-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 22% auto;
    background-size: cover;

    >div {
        display: grid;

        &:nth-child(2) {
            align-items: center;
        }
    }
}



.login-logo {
    margin-bottom: 40px;
    margin-left: -10px;
}

.login-btn {
    border-radius: 0;
    width: 100px;
}

.login-textfield {
    border: 0;
    &::placeholder {
    }

    &.username {
        border-radius: 2px 0 0 2px;
        margin-right: 1px;
    }

    &.password {
        border-radius: 0 2px 2px 0;
    }
}

.login-wrapper {
    width: 740px;
    margin-left: 60px;

    .login-form {
        display: grid;
        grid-template-columns: 140px 175px 175px 105px auto;
        align-items: center;
    }
}

.login-textfield-wrapper {
    padding: 0 1px;
}

.validation-wrapper {
    height: 25px;
    margin-top: 5px;
}

.login-bg-left {
    background-size: 100% 100%;
}

.login-footer {
    position: absolute;
    bottom: 10px;
    right: 50px;
    text-align: right;
    padding-top: 25px;
    background-position: 85% 0px;

    img {
        margin-right: 15px;
        margin-bottom: 5px;
    }
}