<div class="row pt-20">
    <h4>ARRIVAL CONDITION</h4>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="pt-15">
            <div class="col  text-center">
                <a class="tab-btn tab-btn-default tab-landing" [ngClass]="{'active': selectedTab === tankType.CARGO}" pTooltip="{{'CARGO' | translate}}" tooltipPosition="top"
                    id="ship_landing_cargo_tab" (click)="onTabClick(tankType.CARGO)"> CARGO
                </a>
                <a class="tab-btn tab-btn-default tab-landing" [ngClass]="{'active': selectedTab === tankType.BALLAST}" pTooltip="{{'BALLAST' | translate}}" tooltipPosition="top"
                    id="ship_landing_ballast_tab" (click)="onTabClick(tankType.BALLAST)"> BALLAST
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="col col-11 landing-page-tank-wrapper m-auto pt-30">
            <cpdss-portal-cargo-tank-layout *ngIf="selectedTab === tankType.CARGO" [tanks]="cargoTanks" [options]="cargoTankOptions">
            </cpdss-portal-cargo-tank-layout>
            <cpdss-portal-ballast-layout *ngIf="selectedTab === tankType.BALLAST" [tanks]="centerBallastTanks" [rearTanks]="rearBallastTanks"
                                    [frontTanks]="frontBallastTanks" [options]="ballastTankOptions">
                                </cpdss-portal-ballast-layout>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <cpdss-portal-loading-discharging-cargo-details-table [cargoConditions]="cargoConditions" [cargoQuantities]="cargoQuantities"></cpdss-portal-loading-discharging-cargo-details-table>
        
        </div>
        <div class="row pt-10">
            <button (click)="display = true" class="btn btn-main">Update Ullage</button>
        </div>
    </div>
</div>

<cpdss-portal-ullage-update-popup [display]="display" (closePopup)="closePopUp($event)"></cpdss-portal-ullage-update-popup>