$ael:#14a0da;
$ku:#e9a15b;
$om:#226bff;
$aeh:#5c9ea0;
$font-size-normal:11px;
$heading-font-size:14px;
$font-size-x-small:8px;
$sub-heading-font-size:12px;
$fo-tank:#c60a09;
$do-tank:#fa8424;
$dsw-tank:#5aa1a3;
$images: "/assets/images/";
$images-flag: "/assets/images/flags/";
