<div class="" *ngIf="cargoNominationForm">
  <form [formGroup]="cargoNominationForm">
    <div class="form-group row">
      <div class="col table-responsive-custom cargo-nomination-table" [ngClass]="{'datatable-loading': dataTableLoading }">
          <cpdss-portal-datatable [tableId]="'cargo_nomination'" [form]="cargoNominationForm" [columns]="columns"
            [value]="cargoNominations" [loading]="dataTableLoading" [progress]="progress" [showTotal]="true"
            [editMode]="editMode" [listData]="listData" (cellValueClick)="onCellValueClick($event)"
            (editComplete)="onEditComplete($event)" [filterable]="true" (duplicateRow)="onDuplicate($event)"
            (deleteRow)="onDeleteRow($event)" (sort)="onSort($event)"
            (filter)="onFilter($event)" (buttonClick)="onRowSave($event)" (columnClick)="onColumnClick($event)">
          </cpdss-portal-datatable>
      </div>
    </div>
  </form>
</div>

<cpdss-portal-loading-ports-popup *ngIf="loadingPopupData" [(visible)]="openLoadingPopup" [voyage]="voyage"
  [(popupData)]="loadingPopupData" [permission]="permission" [loadableStudy]="loadableStudy" (portOhqTabStatusUpdate)="portOhqTabStatusUpdate($event)"></cpdss-portal-loading-ports-popup>

<cpdss-portal-api-temperature-history-popup *ngIf="apiTempPopupData" [(apiTempHistoryPopupData)]="apiTempPopupData"
  [(visible)]="openAPITemperatureHistoryPopup">
</cpdss-portal-api-temperature-history-popup>
