<p-dialog header="{{voyageName}} - {{'EDIT_PORT_ROTATION' | translate}}" [(visible)]="showPopUp"
    styleClass="" [closable]="false" [draggable]="false" [modal]="true">

    <p-orderList [value]="portList" dragdrop="true" [(selection)]="selectedPorts"  
    (onReorder)="portOrderChange($event)">
        <ng-template let-port let-i="index" pTemplate="item">
            <div>
                <span class="col-sm-2">{{i+1}} </span> <span class="col-sm-10">{{port.name}}</span>
            </div>
        </ng-template>
    </p-orderList>

    <p-footer>
        <div class="row">
            <div class="col text-left" >{{'EDIT_PORT_ROTATION_NOTE' | translate}}:</div>
        </div>
        <div class="row">
            <div class="col text-left">{{'EDIT_PORT_ROTATION_NOTE_DETAILS' | translate }}</div>
        </div>
       
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-main mr-10" id="edit-port-rotation-popup-cancel" (click)="cancel()">{{
                    'CANCEL_BUTTON_EDIT_PORT_ROTATION_POPUP' | translate }}</button>
                <button class="btn btn-main" type="submit" id="edit-port-rotation-popup-submit" (click)="saveEditPortRotation()">{{
                    'SAVE_BUTTON_EDIT_PORT_ROTATION_POPUP' | translate }}</button>
            </div>
        </div>

    </p-footer>
</p-dialog>