<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5 class="main-head inline-block">{{'RULES' | translate }}</h5>
            <span class="ml-20 mr-10">
                {{'Vessel' | translate }}</span>
            <p-dropdown  [options]="rulesService.vessels" [(ngModel)]="selectedVessel"
               optionLabel="name" [filter]="true"
            placeholder="{{ 'LOADABLE_STUDY_LIST_VOYAGE_NO_PLACEHOLDER' }}" (onChange)="onVesselSelected($event)"
                resetFilterOnHide="true">
            </p-dropdown>
            </div>
        <div class="col text-right">
            <button class="btn btn-main mr-10" id="saveBtn" (click)="triggerSaveChanges()">{{'RULES_SAVE' | translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
        
        </div>
        <div class="col-2">
            
        </div>
    </div>
    <div class="col cargo-nomiantion-tab text-center">
        <a *ngFor="let tab of tabs" class="tab-btn" [ngClass]="{'active': selectedTab === TABS[tab]}"
            (click)="onTabClick(TABS[tab])">{{ tab | translate}}
        </a>
    </div>
   
    <div *ngIf="rulesService.vessels">
                <cpdss-portal-rules-table *ngIf="rulesJson" [rulesJson]="rulesJson" [rulesService]="rulesService" (isSaveClicked)="saveChanges($event)">
                </cpdss-portal-rules-table>
    
</div>