<div class="conatiner-fluid">
  <div class="row pl-10 pr-10">
    <div class="col">
      <h5 class="main-head inline-block">{{'VESSEL_MASTER_LIST' | translate}}</h5>
    </div>
  </div>

  <div class="row pl-10 pr-10">
    <div class="col-12 user-listing-wrapper" *ngIf="vesselList">
      <cpdss-portal-datatable [tableId]="'vessel_info_master'" [columns]="columns" [value]="vesselList"
        [filterable]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [lazy]="true"
        (dataStateChange)="onDataStateChange($event)" (columnClick)="onRowClick($event)" [loading]="loading"
        [(currentPage)]="currentPage" [(first)]="first">
      </cpdss-portal-datatable>
    </div>
  </div>
</div>
