<p-dialog [(visible)]="visible" (onHide)="onClose()">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5 class="main-head inline-block">{{'RULES' | translate}}</h5>
            </div>
        </div>
        <div class="col cargo-nomiantion-tab text-center">
            <a *ngFor="let tab of tabs" class="tab-btn" [ngClass]="{'active': selectedTab === TABS[tab]}"
                (click)="onTabClick(TABS[tab])">{{ tab | translate}}
            </a>
        </div>
        <div class="col-1">
            <button class="btn btn-main mr-10">{{'CARGO_PLANNING_RULES_SAVE'|translate}}</button>
        </div>
        <div class="content-outer" [ngClass]="{'sidebar-collapsed': !openSidePane}">
            <div class="sidebar  relative">
                <a class="sidebar-collapse-btn" (click)="openSidePane=!openSidePane"></a>
                <div class="sidebar-content">
                    <h6 class="main-head inline-block">{{'RULES_LIST' | translate}}</h6>
                    <div *ngFor="let header of rulesJson[selectedTab.toLowerCase()]">{{header.header}}</div>
                </div>
            </div>
            <div class="pl-30">
                <div class="pl-10">
                    <cpdss-portal-cargo-planning-rules-table
                        [rules]="rulesJson[selectedTab.toLowerCase()][selectedIndex].rules">
                    </cpdss-portal-cargo-planning-rules-table>
                </div>
            </div>
        </div>
    </div>
</p-dialog>