
    <div class="container-fluid">
        <div class="row">
            <div class="col vessel-info-wrapper">
                <cpdss-portal-vessel-info *ngIf="vessel" [vesselDetails]="vessel"></cpdss-portal-vessel-info>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5 class="main-head pt-10">{{'FILE_REPOSITORY_FILE_LABEL' | translate}}</h5>
            </div>
            <div class="col-md-4 text-right">
                <button (click)="addNewFile()" id="add-new-file-btn" class="btn btn-main pull-right">{{'FILE_REPOSITORY_ADD_NEW_LABEL' | translate}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 files-listing-wrapper">
                <cpdss-portal-datatable (buttonClick)="action($event)" (dataStateChange)="onDataStateChange($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"  [lazy]="true"
                [(currentPage)]="pageState.pageNo" [value]="fileRepoDetails" [filterable]="true" [tableId]="'file_repo'" [columns]="repositoryColumns">
                </cpdss-portal-datatable>
            </div>
        </div>
    </div>

<cpdss-portal-add-edit-file (updateData)="getFiles()" [data]="editData" *ngIf="showAddEdit" [editMode]="editMode" [voyages]="voyages" (closePopup)="closePopUp($event)"></cpdss-portal-add-edit-file>