<div>
    <div class="row pb-15 pt-15">
        <div class="col  text-center">
            <a class="tab-btn tab-btn-default" [ngClass]="{'active': selectedTab === tankType.CARGO}"
                id="ship_landing_cargo_tab" (click)="onTabClick(tankType.CARGO)">cargo icon
            </a>
            <a class="tab-btn tab-btn-default" [ngClass]="{'active': selectedTab === tankType.BALLAST}"
                id="ship_landing_ballast_tab" (click)="onTabClick(tankType.BALLAST)">ballast icon
            </a>
            <a class="tab-btn tab-btn-default" [ngClass]="{'active': selectedTab === tankType.BUNKER}"
            id="ship_landing_bunker_tab" (click)="onTabClick(tankType.BUNKER)">bunker icon
        </a>
        </div>
    </div>
    <div class="row pb-15 pt-15">
        <div *ngIf="selectedTab === tankType.CARGO || selectedTab === tankType.BALLAST">
            <span>View All</span>
            <p-inputSwitch [(ngModel)]="viewAll"></p-inputSwitch>
           </div>
        <div class="col col-11 m-auto" *ngIf="selectedTab === tankType.CARGO">
            <cpdss-portal-cargo-tank-layout [tanks]="cargoTanks" [options]="cargoTankOptions" *ngIf="!viewAll">
            </cpdss-portal-cargo-tank-layout>
            <cpdss-portal-datatable [tableId]="'cargoTank'"  [columns]="cargoColumns"
            [value]="cargoQuantities" *ngIf="viewAll">
        </cpdss-portal-datatable>
        </div>
        <div class="col-11 m-auto loadable-plan-ballast" *ngIf="selectedTab === tankType.BALLAST">
            <cpdss-portal-ballast-layout [tanks]="centerBallastTanks" [rearTanks]="rearBallastTanks"
                    [frontTanks]="frontBallastTanks" [options]="ballastTankOptions" *ngIf="!viewAll">
                </cpdss-portal-ballast-layout>
                <cpdss-portal-datatable [tableId]="'ballastTank'"  [columns]="ballastColumns"
            [value]="ballastQuantities" *ngIf="viewAll"></cpdss-portal-datatable>
        </div>
        <div class="col col-11 m-auto" *ngIf="selectedTab === tankType.BUNKER">
            <div class="row">
                <div class="col">
                    <cpdss-portal-bunkering-layout [tanks]="bunkerTanks" [rearTanks]="rearBunkerTanks"
                        >
                    </cpdss-portal-bunkering-layout>
                </div>
            </div>
        </div>
    </div>
</div>