<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col vessel-info-wrapper">
            <div class="row">
                <div class="col">
                    <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo">
                    </cpdss-portal-vessel-info>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label pr-10 text-uppercase">{{
                        'DISCHARGE_STUDY_DETAILS_VOYAGE_DROPDOWN_LABEL' | translate }}</label>

                    <p-dropdown id="voyage_dropdown" styleClass="dropdown-w-180" [options]="voyages"
                        [(ngModel)]="selectedVoyage" filter="true" optionLabel="voyageNo"
                        (onChange)="onVoyageChange($event)" resetFilterOnHide="true"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <div class="">
                <button id="generate_plan" class="btn btn-main mr-10">{{'DISCHARGE_STUDY_VIEW_CONFIRM_PLAN' |
                    translate}}</button>
    
                <button id="view_plan" class="btn btn-main"
                    (click)="backToDischargeStudy()">{{'DISCHARGE_STUDY_VIEW_BACK_TO_DISCHARGE_STUDY' | translate
                    }}</button>
            </div>
        </div>
        
    </div>
    <cpdss-portal-view-plan [vesselId]="vesselId" [voyageId]="voyageId" [voyage]="selectedVoyage"
        [dischargeStudyId]="dischargeStudyId"></cpdss-portal-view-plan>

</div>