<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col">
                <h5>Loading Details</h5>
                <cpdss-portal-loading-discharging-details></cpdss-portal-loading-discharging-details>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Berth Details</h5>
                <cpdss-portal-loading-discharging-berth></cpdss-portal-loading-discharging-berth>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Cargo Machinery in use</h5>
                <cpdss-portal-loading-discharging-cargo-machinery></cpdss-portal-loading-discharging-cargo-machinery>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col">
                <h5>Cargo Details</h5>
                <cpdss-portal-loading-discharging-cargo-details></cpdss-portal-loading-discharging-cargo-details>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>Loadable Study LS1- Loadable Pattern</div>

            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Tank Layout
            </div>
            <div class="col-4">
                grade table
            </div>
        </div>
        <div class="row">
            <div class="col">
                bottom layout table
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>selected cargo type topping off sequence</h5>
            </div>
        </div>
    </div>
</div>