<div class="row">
    <div class="col text-right">
        <button class="btn btn-main mr-10" id="save_loading_information" (click)="saveLoadingInformationData()">
            {{'LOADING_INFORMATION_SAVE_BUTTON_LABEL' |translate}}
        </button>
    </div>
</div>
<div class="row pt-15" *ngIf="loadingInformationData">
    <div class="col sidebar-loading-and-discharging">
        <div class="row ">
            <div class="col">
                <h5 class="text-uppercase heading-border">{{'LOADING_INFORMATION_LOADING_DETAILS_HEADER' | translate }}
                </h5>
                <cpdss-portal-loading-discharging-details [loadingDischargingDetails]="loadingInformationData?.loadingDetails"
                    (updateLoadingDischargingDetails)="onUpdateLoadingDetails($event)">
                </cpdss-portal-loading-discharging-details>
            </div>
        </div>
        <div class="row pt-30">
            <div class="col">
                <cpdss-portal-loading-rate [editMode]="true" [loadingRates]="loadingInformationData.loadingRates"
                    (loadingRateChange)="onLoadingRateChange($event)"></cpdss-portal-loading-rate>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <cpdss-portal-loading-discharging-berth [loadingInfoId]="loadingInfoId" #dischargeBerth
                    [berthDetails]="loadingInformationData?.berthDetails"
                    (berthChange)="onBerthChange($event)">
                </cpdss-portal-loading-discharging-berth>
            </div>
        </div>
    </div>
    <div class="col main-content-loading-and-discharging">
        <div class="row">
            <div class="col">
                <h5 class="text-uppercase heading-border">{{ 'LOADING_INFORMATION_CARGO_DETAILS_HEADER' | translate }}</h5>
                <cpdss-portal-loading-discharging-cargo-details [prevQuantitySelectedUnit]="prevQuantitySelectedUnit"
                    [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [cargos]="cargos"
                    [cargoVesselTankDetails]="cargoVesselTankDetails" [operation]="OPERATIONS.LOADING">
                </cpdss-portal-loading-discharging-cargo-details>
            </div>
        </div>
        <div class="row">
          <div class="col pt-30">
            <h5 class="text-uppercase heading-border">{{ 'CARGO_TO_BE_LOADED' | translate }}</h5>
            <cpdss-portal-cargo-to-be-loaded-discharged [prevQuantitySelectedUnit]="prevQuantitySelectedUnit"
              [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [cargos]="cargos"
              [cargoVesselTankDetails]="cargoVesselTankDetails" [operation]="OPERATIONS.LOADING">
            </cpdss-portal-cargo-to-be-loaded-discharged>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-30">
                <div class="row">
                    <div class="col">
                        <h5 class="text-uppercase heading-border">{{'LOADING_INFORMATION_NO_OF_STAGES_HEADER' |
                            translate}}</h5>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col ml-30 border-bottom row-divider">

                        <div class="row">
                            <label for="min_amount_stages" class="col-3">{{'LOADING_INFORMATION_MIN_AMOUNT_STAGES' |
                                translate}}</label>
                            <div class="col-3">
                                <p-dropdown id="min_amount_stages" styleClass="form-control" [(ngModel)]="stageOffset"
                                    placeholder="{{'LOADING_INFORMATION_MIN_AMOUNT_STAGES' | translate}}"
                                    [options]="stageOffsetList" optionLabel="stageOffsetVal"
                                    (onChange)="onStageOffsetValChange($event)"></p-dropdown>
                            </div>
                            <!-- <div class="col error-column">
                                <cpdss-portal-validation-error [errors]="fieldError('portName')"
                                    [errorMessages]="errorMesages.portName"></cpdss-portal-validation-error>
                            </div>  -->
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col ml-30 border-bottom row-divider">
                        <div class="row">
                            <label for="duration_stages" class="col-3">{{'LOADING_INFORMATION_DURATION_STAGES' |
                                translate}}</label>
                            <div class="col-3">
                                <p-dropdown id="duration_stages" styleClass="form-control" [(ngModel)]="stageDuration"
                                    placeholder="{{'LOADING_INFORMATION_DURATION_STAGES' | translate}}"
                                    [options]="stageDurationList" optionLabel="duration"
                                    (onChange)="onStageDurationValChange($event)"></p-dropdown>
                            </div>
                            <!-- <div class="col error-column">
                                <cpdss-portal-validation-error [errors]="fieldError('portName')"
                                    [errorMessages]="errorMesages.portName"></cpdss-portal-validation-error>
                            </div>  -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col ml-30 ">
                        <div class="row no-gutters row-divider border-bottom">
                            <div class="col pl-10 offset-3 mt-10">
                                <label
                                    class="checkbox-custom pr-20">{{'LOADING_INFORMATION_TRACK_START_AND_END_STAGE_LABEL'
                                    | translate}}
                                    <input type="checkbox" [(ngModel)]="trackStartEndStage"
                                        (change)="onUpdateLoadingStages()">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="checkbox-custom pr-20">{{'LOADING_INFORMATION_TRACK_GRADE_SWITCHING_LABEL'
                                    | translate}}
                                    <input type="checkbox" [(ngModel)]="trackGradeSwitch"
                                        (change)="onUpdateLoadingStages()">
                                    <span class="checkmark"></span>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <cpdss-portal-loading-discharging-manage-sequence  #manageSequence
        [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [cargos]="cargos"
            [loadableQuantityCargo]="loadingInformationData?.cargoVesselTankDetails.loadableQuantityCargoDetails"
            [loadingDischargingSequences]="loadingInformationData?.loadingSequences" [loadingInfoId]="loadingInfoId"
            (updateLoadingDischargingDelays)="onUpdateLoadingDelays($event)">
        </cpdss-portal-loading-discharging-manage-sequence>
        <!-- TODO : Comment the code as per user story DSS-3373
        <div class="row pt-30">
            <div class="col">
                <h5 class="text-uppercase heading-border">{{'LOADING_INFORMATION_TOPPING_OFF_SEQUENCE_HEADER' |
                    translate }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5 ml-30">

                <cpdss-portal-topping-off-tank-table [cargos]="cargos"
                    [toppingOffSequence]="loadingInformationData?.toppingOffSequence"
                    [cargoTanks]="loadingInformationData?.cargoVesselTankDetails?.cargoTanks">
                </cpdss-portal-topping-off-tank-table>

            </div>
        </div> -->
        <div class="row">
            <div class="col pt-5">
                <cpdss-portal-loading-discharging-cargo-machinery [loadingInfoId]="loadingInfoId" #machineryRef
                    [machineryInUses]="loadingInformationData?.machineryInUses"
                    (updatemachineryInUses)="onUpdatemachineryInUses($event)">
                </cpdss-portal-loading-discharging-cargo-machinery>
            </div>
        </div>
    </div>
</div>
