.unit-column, .error-column{
    width: 24px;
    padding: 0;
    max-width: 24px;
    padding-top: 5px;
}

.dropdown-loadable-wuantity{
    // width: 148px;
    // max-width: 148px;
}
.item-row-wrapper{
    flex-wrap: nowrap;
    > .col{
        /*padding-right: 30px;*/
    }
}
.second-column{
    .unit-column{
        max-width: 55px;
        width: 55px;
    }
}
.dropdown-loadable-quantity{
    min-width: 180px;
    text-align: left!important;
}

.error-container{
    max-width: 410px;
}