<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [closable]="false"
    styleClass="loadable-quantity-pop-up" [responsive]="true">
    <p-header>
        {{'LOADABLE_QUANTITY' | translate}}
        <div class="header-right-content" *ngIf="lastUpdatedDateAndTime">
            {{'LOADABLE_QUANTITY_LAST_UPDATED' | translate }} <span class="text-capitalise">{{lastUpdatedDateAndTime}}</span>
        </div>
        <div class="header-info-pop-up"><span class="info-icon mr-5">!</span> {{'LOADABLE_QUANTITY_INFO' | translate}}
        </div>
    </p-header>

    <form [formGroup]="loadableQuantityForm" id="fg_loadableQunatity" (ngSubmit)="onSubmit()"
        *ngIf="loadableQuantityForm">
        <div class="container-fluid">
            <div class="row item-row-wrapper">
                <div class="col">
                    <div class="row form-group">
                        <label for="loadable_quantity_port_dropdown"
                            class="col no-left-padding">{{'LOADABLE_QUANTITY_PORT_NAME' | translate}}</label>
                        <div class="col dropdown-loadable-quantity">
                            <p-dropdown #dd id="loadable_quantity_port_dropdown" styleClass="form-control"
                                [filter]="true" [options]="ports" formControlName="portName" optionLabel="name"
                                (click)="clearFilter(dd)" (onChange)="onPortChange($event)"
                                placeholder="{{ 'LOADABLE_QUANTITY_SELECT_PORT_NAME'  | translate }}"
                                 resetFilterOnHide="true"  focusTrap>
                            </p-dropdown>
                        </div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [errors]="fieldError('portName')"
                                [errorMessages]="errorMesages.portName"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row  form-group">
                        <label for="loadable_quantity_max_draft"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_MAX_DRAFT' | translate}}</label>
                        <div class="col text-right pt-5">
                            <label
                                id="loadable_quantity_max_draft">{{getControlLabel('arrivalMaxDraft') | number : '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_M' | translate }}</div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [hidden]="!loadableQuantityForm?.controls?.portName.value" [errors]="isNoArrivalMaxDraft"
                            [errorMessages]="errorMesages.arrivalMaxDraft"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group" >
                        <label for="loadable_quantity_displacement"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_DISPLACEMENT' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_displacement">{{getControlLabel('displacement')| number :
                                '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column"></div>
                    </div>

                    <div class="row form-group" >
                        <label for="loadable_quantity_lwt" class="col col-form-label">{{'LOADABLE_QUANTITY_LWT' |
                            translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_lwt">{{getControlLabel('lwt')| number : '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column"></div>
                    </div>

                    <div class="row form-group no-border mb-5 sub-heading-size strong">
                        <label for="loadable_quantity_dwt"
                            class="col col-form-label strong ">{{'LOADABLE_QUANTITY_DWT' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_dwt">{{getControlLabel('dwt')| number : '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column strong sub-heading-size">{{'LOADABLE_QUANTITY_UNIT_MT' | translate
                            }}</div>
                            <div class="col error-column text-center"></div>
                    </div>

                    

                    <div class="row form-group">
                        <label for="loadable_quantity_fo_onboard"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_FO_ONBOARD' | translate}}</label>
                        <div class="col">
                            <input type="text"
                                id="loadable_quantity_fo_onboard" class="form-control" [value]="getControlLabel('foOnboard')| number :'1.2-2'"
                                (change)="getSubTotal()" [disabled]="true" focusTrap>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('foOnboard')"
                                [errorMessages]="errorMesages.foOnboard"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_do_onboard"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_DO_ONBOARD' | translate}}</label>
                        <div class="col">
                            <input type="text"
                                id="loadable_quantity_do_onboard" class="form-control" [value]="getControlLabel('doOnboard')| number :'1.2-2'"
                                (change)="getSubTotal()"  [disabled]="true" focusTrap>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('doOnboard')"
                                [errorMessages]="errorMesages.doOnboard"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_fresh_water_onboard"
                            class="col col-form-label">{{'VOYAGE_STATUS_PARAMETER_LIST_FW_DW_BW' | translate}}</label>
                        <div class="col">
                            <input type="text"  class="form-control"
                                id="loadable_quantity_fresh_water_onboard" [value]="getControlLabel('freshWaterOnboard')| number :'1.2-2'"
                                (change)="getSubTotal()"  [disabled]="true" focusTrap>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('freshWaterOnboard')"
                                [errorMessages]="errorMesages.freshWaterOnboard"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_ballast" class="col col-form-label">{{'LOADABLE_QUANTITY_BALLAST'
                            | translate }}</label>
                        <div class="col">
                            <input *ngIf="isEditable; else labelRef" type="text" cpdssPortalNumberDecimal [negative]="false"
                                id="loadable_quantity_ballast" class="form-control" formControlName="ballast"
                                (change)="getSubTotal()" focusTrap>
                                <ng-template #labelRef>
                                    <input type="text" class="form-control" id="loadable_quantity_ballast_label" [value]="getControlLabel('ballast')| number :'1.2-2'"
                                (change)="getSubTotal()" [disabled]="true" focusTrap>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('ballast')"
                                [errorMessages]="errorMesages.ballast"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_constant"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_CONSTANT' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_constant">{{getControlLabel('constant')?.toString() | number :
                                '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center"></div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_others" class="col col-form-label">{{'LOADABLE_QUANTITY_OTHERS' |
                            translate}}</label>
                        <div class="col">
                            <input type="text" *ngIf="isEditable; else constLabelRef" cpdssPortalNumberDecimal [negative]="false" id="loadable_quantity_others"
                                class="form-control" formControlName="others" (change)="getSubTotal()"
                                focusTrap>
                                <ng-template #constLabelRef>
                                    <input type="text" class="form-control" id="loadable_quantity_others" [value]="getControlLabel('others')| number :'1.2-2'"
                                 [disabled]="true" focusTrap>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [errors]="fieldError('others')"
                                [errorMessages]="errorMesages.others"></cpdss-portal-validation-error>
                        </div>
                    </div>
                    <div class="row form-group no-border mb-5 sub-heading-size strong">
                        <label for="loadable_quantity_dwt"
                            class="col col-form-label strong ">{{'LOADABLE_QUANTITY_ON_HAND_QTY' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_dwt">{{getOHQTotal() | number : '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column strong sub-heading-size">{{'LOADABLE_QUANTITY_UNIT_MT' | translate
                            }}</div>
                            <div class="col error-column text-center"></div>
                    </div>
                    <div class="row form-group">
                        <label for="loadable_quantity_tpc" class="col col-form-label">{{'LOADABLE_QUANTITY_TPC' |
                            translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_tpc">{{getControlLabel('tpc') | number : '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_TONNE' | translate }}</div>
                        <div class="col error-column text-center"></div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_sea_water_density"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_SEA_WATER_DENSITY' | translate}}</label>
                        <div class="col pt-5">
                            <input type="text" *ngIf="isEditable && isEditableSeaWaterDensity;else seaWaterDensityRef" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                                id="loadable_quantity_sea_water_density" formControlName="estSeaDensity"
                                (change)="getSgCorrectionOnChange()" focusTrap>
                                <ng-template #seaWaterDensityRef>
                                    <label id="loadable_quantity_sea_water_density_label" >{{getControlLabel('estSeaDensity') | number :
                                    '1.4-4'}}</label>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'SEA_WATER_DENSITY' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('estSeaDensity')"
                                [errorMessages]="errorMesages.estSeaDensity"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_sg_correction"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_SG_CORRECTION' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_sg_correction">{{getControlLabel('sgCorrection') | number :
                                '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('sgCorrection')"
                                [errorMessages]="errorMesages.sgCorrection"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_estimate_sag"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_ESTIMATE_SAG' | translate}}</label>
                        <div class="col">
                            <input type="text" cpdssPortalNumberDecimal [negative]="false"
                                id="loadable_quantity_estimate_sag" class="form-control" formControlName="estimateSag"
                                (change)="getSagCorrectionOnChange()" *ngIf="isEditable; else estimateRef" focusTrap>
                                <ng-template #estimateRef>
                                    <input type="text" class="form-control" id="loadable_quantity_estimate_sag_label" [value]="getControlLabel('estimateSag')| number :'1.2-2'"
                                     [disabled]="true" focusTrap>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_CM' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('estimateSag')"
                                [errorMessages]="errorMesages.estimateSag"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_sag_correction"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_SAG_CORRECTION' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_sag_correction">{{getControlLabel('safCorrection')| number :
                                '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('safCorrection')"
                                [errorMessages]="errorMesages.safCorrection"></cpdss-portal-validation-error>
                        </div>
                    </div>
                </div>

                <div class="col second-column" *ngIf="caseNo === 1">
                    <div class="row form-group">
                        <label for="loadable_quantity_dist_in_summery"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_DIST_IN' | translate}}
                            {{selectedZone}}</label>
                        <div class="col">
                            <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                                id="loadable_quantity_dist_in_summery" formControlName="distanceInSummerzone"
                                (change)="getRunningHours()" *ngIf="isEditable; else distanceInRef" focusTrap>
                                <ng-template #distanceInRef>
                                    <label id="loadable_quantity_dist_in_summery_label">{{getControlLabel('distanceInSummerzone')| number :'1.2-2'}}</label>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MILES' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('distanceInSummerzone')"
                                [errorMessages]="errorMesages.distanceInSummerzone"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_speed_in_sz"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_SPEED_IN' | translate}}
                            {{selectedZone}}</label>
                        <div class="col">
                            <input type="text" *ngIf="isEditable;else spedInSzRef" cpdssPortalNumberDecimal [negative]="false"
                                id="loadable_quantity_speed_in_sz" class="form-control" formControlName="speedInSz"
                                (change)="getRunningHours()" focusTrap>
                                <ng-template #spedInSzRef>
                                    <label id="loadable_quantity_fo_con_day_label" >{{getControlLabel('speedInSz') | number :
                                    '1.2-2'}}</label>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_KNOTS' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('speedInSz')"
                                [errorMessages]="errorMesages.speedInSz"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_running_hours"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_RUNNING_HOURS' | translate}}</label>
                        <div class="col">
                            <input type="text" 
                                id="loadable_quantity_running_hours" class="form-control" [value]="getControlLabel('runningHours')| number :'1.2-2'" 
                               
                                (change)="getRunningDays()" readonly>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_HOURS' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('runningHours')"
                                [errorMessages]="errorMesages.runningHours"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_running_days"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_RUNNING_DAYS' | translate}}</label>
                        <div class="col">
                            <input type="text" 
                                id="loadable_quantity_running_days" class="form-control" formControlName="runningDays"
                                (change)="getFoConsumptionInSz()" readonly>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_DAYS' | translate }}</div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [errors]="fieldError('runningDays')"
                                [errorMessages]="errorMesages.runningDays"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_fo_con_day"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_FO_CON_/_DAY' | translate}}</label>
                        <div class="col">
                            <input type="text" *ngIf="isEditable;else foConRef" cpdssPortalNumberDecimal [negative]="false"
                                id="loadable_quantity_fo_con_day" class="form-control" formControlName="foConday"
                                (change)="getFoConsumptionInSz()" focusTrap>
                                <ng-template #foConRef>
                                    <label id="loadable_quantity_fo_con_day_label" >{{getControlLabel('foConday') | number :
                                    '1.2-2'}}</label>
                                </ng-template>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT/DAY' | translate }}</div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [errors]="fieldError('foConday')"
                                [errorMessages]="errorMesages.foConday"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="loadable_quantity_fo_cons_in_sz"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_FO_CONS_IN' | translate}}
                            {{selectedZone}}</label>
                        <div class="col">
                            <input type="text"  class="form-control"
                                id="loadable_quantity_fo_cons_in_sz" [value]="getControlLabel('foConsInSz')| number :'1.2-2'" readonly>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [errors]="fieldError('foConsInSz')"
                                [errorMessages]="errorMesages.foConsInSz"></cpdss-portal-validation-error>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row item-row-wrapper">
                <div class="col">
                    <div class="row form-group sub-heading-size strong text-secondary" [ngClass]="{'no-border': caseNo !== 1}">
                        <label for="loadable_quantity_sub_total"
                            class="col col-form-label">{{'LOADABLE_QUANTITY_CORRECTION' | translate}}</label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_sub_total">{{(loadableQuantityForm.controls.safCorrection.value ? loadableQuantityForm.controls.safCorrection.value : 0) + (loadableQuantityForm.controls.sgCorrection.value ? loadableQuantityForm.controls.sgCorrection.value : 0)| number :
                                '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column pt-5">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column text-center">
                            <cpdss-portal-validation-error [errors]="fieldError('subTotal')"
                                [errorMessages]="errorMesages.subTotal"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row form-group no-border sub-heading-size strong text-secondary" *ngIf="caseNo !== 1">
                        <div class="col text-uppercase col-form-label">{{'LOADABLE_QUANTITY' | translate}}</div>
                        <label id="loadable_quantity_totalQuantity_label" class="col pt-5">{{getControlLabel('totalQuantity') |
                            number : '1.2-2'}}</label>
                        <div class="col unit-column ">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column"></div>
                    </div>

                    <div class="row" *ngIf="caseNo !== 1">
                        <div class="col error-container">
                            <div class="text-danger" *ngIf="isNegative">
                                {{'LOADABLE_QUANTITY_NEGATIVE_VALUE' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoTpc">
                                {{'LOADABLE_QUANTITY_TPC_REQUIRED' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoDwt">
                                {{'LOADABLE_QUANTITY_DWT_REQUIRED' | translate}}</div>
                            <div class="text-danger" *ngIf="isNodisplacement">
                                {{'LOADABLE_QUANTITY_DISPLACEMENT_REQUIRED' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoLwt">
                                {{'LOADABLE_QUANTITY_LWT_REQUIRED' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoConstant">
                                {{'LOADABLE_QUANTITY_CONSTANT_REQUIRED' | translate}}</div>
                        </div>
                    </div>
                </div>

                <div class="col second-column second-column-lq" *ngIf="caseNo === 1">
                    <div class="row form-group border-head sub-heading-size strong text-secondary" [ngClass]="{'no-border': (isNegative || isNoTpc || isNoDwt || isNoConstant)}">
                        <label for="loadable_quantity_totalQuantity" class="col col-form-label">{{'LOADABLE_QUANTITY' | translate}} </label>
                        <div class="col pt-5">
                            <label id="loadable_quantity_totalQuantity">{{getControlLabel('totalQuantity') | number :
                                '1.2-2'}}</label>
                        </div>
                        <div class="col unit-column">{{'LOADABLE_QUANTITY_UNIT_MT' | translate }}</div>
                        <div class="col error-column">
                            <cpdss-portal-validation-error [errors]="fieldError('totalQuantity')"
                                [errorMessages]="errorMesages.totalQuantity"></cpdss-portal-validation-error>
                        </div>
                    </div>

                    <div class="row" [ngClass]="{'no-border': (!isNegative && !isNoTpc && !isNoDwt && !isNoConstant)}">
                        <div class="col error-container">
                            <div class="pt-5 text-danger" *ngIf="isNegative">
                                {{'LOADABLE_QUANTITY_NEGATIVE_VALUE' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoTpc">
                                {{'LOADABLE_QUANTITY_TPC_REQUIRED' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoDwt">
                                {{'LOADABLE_QUANTITY_DWT_REQUIRED' | translate}}</div>
                            <div class="text-danger" *ngIf="isNoConstant">
                                {{'LOADABLE_QUANTITY_CONSTANT_REQUIRED' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <div class="float-right">
            <button class="btn btn-main mr-10" id="lodable_quantity_cancel"
                (click)="cancel()" autofocus focusTrap>{{'LOADABLE_QUANTITY_CANCEL' | translate}}
            </button>
            <ng-container *ngIf="isEditable && ports && buttonLabel">
                <button class="btn btn-main" type="submit" id="lodable_quantity_submit" form="fg_loadableQunatity"
                    *cpdssPortalPermission="loadableQuantityBtnPermissionContext"  focusTrap>{{ buttonLabel | translate}}</button>
            </ng-container>
        </div>
    </p-footer>
</p-dialog>
