<div class="row">
    <div class="col">
        Ras Tanura
    </div>
    <div class="col">
        buttons here
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a  class="tab-btn active">
            Loading Information
            <div class="pt-5">
                <div class="tab-status-icon pi pi-check completed">
                </div>
                Complete
            </div>
        </a>
        <a  class="tab-btn">
            Loading Instructions
            <div class="pt-5">
                <div class="tab-status-icon pi pi-check completed">
                </div>
                Incomplete
            </div>
        </a>
        <a  class="btn btn-main">
            Generate Loading Plan
        </a>
        <a  class="tab-btn">
            Loading Sequence
            <div class="pt-5">
                <div class="tab-status-icon pi pi-check completed">
                </div>
                Incomplete
            </div>
        </a>
        <a  class="tab-btn">
            Loading Plan
            <div class="pt-5">
                <div class="tab-status-icon pi pi-check completed">
                </div>
                Incomplete
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col">
                <h5>Loading Details</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Berth Details</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Cargo Machinery in use</h5>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col">
                <h5>Cargo Details</h5>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>Loadable Study LS1- Loadable Pattern</div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Tank Layout
            </div>
            <div class="col-4">
                grade table
            </div>
        </div>
        <div class="row">
            <div class="col">
                bottom layout table
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>selected cargo type topping off sequence</h5>
            </div>
        </div>
    </div>
</div>
