$heading-color:#e0ca7a;
$body-bg: rgb(213, 215, 218);
$text-primary:#484c51;
$text-secondary:#000;
$link-color:#000d20;
$hover-color:#e4e4e4;
$card-bg:#797f87;
$alert-bg: rgb(213, 215, 218);
$border-color:#313a4a;/* also use this variable to selected background*/
$main-head:#005397;
$tank-border:#d2f0fd;
$tank-bg:#162133;
$tab-border:#516269;
$tank-btn:#019ace;
$login-btn:#005397;
$login-textfield:#748193;
$login-border:#748193;
$text-dark:#000;
$link-text:#cbeefd;
$outline-border:rgb(72, 76, 81);
$text-area-bg:#dddddd;
$red:  #9d2632;
$validation-icon-bg:  #8c0000;
$dropdown-bg:rgb(213, 215, 218);
$dropdown-menu-hover-bg:#797f87;
$selected-bg:#797f87;
$status-border:#484c51;
$table-border:#797f87;
$table-textarea-border:#000d20;
$scrollbar:#999;
$success-bg: #115700;
$green: #55ae58;
$pop-up-overlay:rgb(0, 0, 0);
$tank-ohq-border:#005397;
$card-border:#42464c;
$card-distance:#005397;
$radio-btn:#005397;
$toast-bg:rgb(213, 215, 218);
$tank-dot:#199bcc;
$water-line:#199bcc;
$images-theme: "/assets/images/themes/light/";
$images-menu-icons: "/assets/images/themes/light/menu-icons/";
