<div class="container-fluid">
    <div class="row pb-20">
        <div class="col vessel-info-wrapper">
            <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo"></cpdss-portal-vessel-info>
        </div>
        <div class="col">
            <h5 class="main-head inline-block">LOADABLE STUDY - LOADABLE PATTERN</h5>
            <span class="ml-20 mr-10">
                1234</span>

        </div>

        <div class="ml-auto pr-15">
            <span class="ml-20 mr-10">
                UNIT</span>
            <p-dropdown id="pattern_history_dropdown" [filter]="true" class="mr-10 " styleClass="form-control dropdown-w-100" [options]="units" optionLabel="name"
                placeholder="Unit">
            </p-dropdown>
            <button class="btn btn-main mr-10" id="btn_callNewLoadableStudyPopup"
                (click)="openSidePane=!openSidePane">{{'LOADABLE_PATTERN_HISTORY_BUTTON_LABEL' | translate}}</button>
            <button class="btn btn-main" id="btn_callNewLoadableStudyPopup" (click)="backToLoadableStudy()">Back to
                Loadable studies</button>
        </div>

    </div>
    <div class="content-outer" [ngClass]="{'sidebar-collapsed': !openSidePane}">
        <div class="sidebar  relative">
            <a class="sidebar-collapse-btn" (click)="openSidePane=!openSidePane"></a>
            <div class="sidebar-content">
                <cpdss-portal-side-panel-loadable-study-list [vesselInfo]="vesselInfo" [voyage]="selectedVoyage"
                    [(selectedLoadableStudy)]="selectedLoadableStudy" [loadableStudies]="loadableStudies"
                    (deleteLoadableStudy)="onDeleteLoadableStudy($event)">
                </cpdss-portal-side-panel-loadable-study-list>
            </div>
        </div>
        <div class="pl-30">
            <div class="row">
                <div *ngFor="let item of [1,2,3]" class="col-6 pb-15 pt-10 content-pattern">
                    <cpdss-portal-pattern-case></cpdss-portal-pattern-case>
                    <div class="row">
                        <div class="col-8 text-center pt-20">
                            <button class="btn btn-main mr-10">View Plan</button>
                            <button class="btn btn-main">Confirm Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>