<div class="container-fluid" *cpdssPortalPermission="loadablePatternPermissionContext">
    <div class="row pb-20">
        <div class="col vessel-info-wrapper">
            <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo"></cpdss-portal-vessel-info>
        </div>
        <div class="col">
            <h5 class="main-head inline-block">{{'LOADABLE_PATTERN_HISTORY_HEADER_FIRST' | translate}}
                {{loadableStudyName | uppercase}} {{'LOADABLE_PATTERN_HISTORY_HEADER_SECOND' | translate}}</h5>
            <div class=" mr-10 text-secondary">
                {{loadablePatternCreatedDate}}</div>

        </div>

        <div class="ml-auto pr-15">
            <span class="ml-20 mr-10">
                <cpdss-portal-unit-dropdown (unitChange)="onUnitChange($event)"></cpdss-portal-unit-dropdown>
            </span>
            <button class="btn btn-main mr-10 ml-10" id="btn_callNewLoadableStudyPopup"
                (click)="openSidePane=!openSidePane">{{'LOADABLE_PATTERN_HISTORY_BUTTON_LABEL' | translate}}</button>
            <button class="btn btn-main" id="btn_callNewLoadableStudyPopup"
                (click)="backToLoadableStudy()">{{'LOADABLE_PATTERN_HISTORY_BACK_TO_LOADABLE_STUDY_BUTTON_LABEL' |
                translate}}</button>
        </div>

    </div>
    <div [ngClass]="{'sidebar-collapsed': !openSidePane , 'content-outer': isViewPattern}" class="pattern-history">
        <div class="sidebar  relative" *ngIf="isViewPattern">
            <a class="sidebar-collapse-btn" (click)="openSidePane=!openSidePane"></a>
            <div class="sidebar-content">
                <cpdss-portal-side-panel-loadable-study-list [vesselInfo]="vesselInfo" [voyage]="selectedVoyage"
                    [(selectedLoadableStudy)]="selectedLoadableStudy" [loadableStudies]="loadableStudies"
                    (deleteLoadableStudy)="onDeleteLoadableStudy($event)"
                    (selectedLoadableStudyChange)="onLoadableStudyChange($event)">
                </cpdss-portal-side-panel-loadable-study-list>
            </div>
        </div>
        <div class="pl-30" [ngClass]="!loadablePatterns.length ? 'content-center' : ''">
            <div class="row" *ngIf="loadablePatterns.length">
                <div *ngFor="let loadablePattern of loadablePatterns; let i = index"
                    class="col-6 pb-15 pt-10 content-pattern">
                    <cpdss-portal-pattern-case [loadablePattern]="loadablePattern" [tankList]="tankLists"
                        [index]="i + 1" (displayCommingleDetailPopup)="displayCommingleDetailPopup($event)">
                    </cpdss-portal-pattern-case>
                    <div class="row">
                        <div class="col-7 text-center pt-20">
                            <button class="btn btn-main mr-10"
                                (click)="viewPlan(loadablePattern)">{{'LOADABLE_PATTERN_HISTORY_VIEW_PLAN_BUTTON_LABEL'
                                |
                                translate}}</button>
                            <button class="btn btn-main" (click)="confirmPlan(loadablePattern)"
                                *ngIf="loadablePattern?.loadableStudyStatusId !== 2">{{'LOADABLE_PATTERN_HISTORY_CONFIRM_PLAN_BUTTON_LABEL'
                                |
                                translate}}</button>
                            <button class="btn btn-main  confirmed" *ngIf="loadablePattern?.loadableStudyStatusId === 2"
                                [disabled]="true">
                                <span class="pi pi-check check-rounded"></span>
                                {{'LOADABLE_PATTERN_HISTORY_CONFIRMED_PLAN_BUTTON_LABEL' |
                                translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div  *ngIf="!loadablePatterns.length">
                {{'LOADABLE_PATTERN_HISTORY_NO_PATTERN_GENERATED' |
                translate}}
            </div>
        </div>
    </div>
</div>
<cpdss-portal-commingle-cargo-details-pop-up [display]="display" [selectedLoadablePatterns]="selectedLoadablePatterns"
    [loadablePatternDetailsId]="loadablePatternDetailsId" [vesselId]="vesselId" [voyageId]="voyageId"
    [loadableStudyId]="loadableStudyId" [currentQuantitySelectedUnit]="currentQuantitySelectedUnit"
    (displayPopup)="setPopupVisibility($event)" *ngIf="display"></cpdss-portal-commingle-cargo-details-pop-up>