.content-pattern:nth-child(even){
    padding-left: 30px;
  }
  .content-pattern:last-child{
      border-bottom: 0;
  }
  .content-pattern:nth-last-child(2){
    border-right: 0;
}

.btn-main {
  min-width: 0;
}

.content-center{
  justify-content: center;
  align-items: center;
  display: flex;
}

.pattern-container{
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
}
