<form style="height: 100%;">
    <p-table *ngIf="synopticalService.synopticalRecords?.length; else empty" [columns]="synopticalService.synopticalRecords" [value]="cols" dataKey="header"
        id="synoptic-table" [expandedRowKeys]="expandedRows" styleClass="body-header-row-span-table" [scrollable]="true"
        scrollHeight="flex">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col class="column-class column-ports">
                <col class="column-class">
                <col class="column-class column-third">
                <ng-container *ngFor="let col of columns; let i= index">>
                    <col class="column-class column-port">
                    
                </ng-container>
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns let-rowData>
            <tr *ngFor="let headerColumn of headerColumns; let headerIndex = index">

                <th>{{headerColumn.header | translate}}</th>
                <th></th>
                <th></th>
                <ng-container *ngFor="let col of columns; let i= index">
                    <th *ngIf="headerIndex > 0 || i%2 == 0" [attr.colSpan]="headerIndex ? 1 : 2" class="text-right">
                        {{col[headerColumn.fields[0].key]}}</th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
            <ng-container *ngIf="rowData?.view || rowData?.view === undefined">
            <ng-container
                *ngTemplateOutlet="row;context:{rowData:rowData, columns:columns, rowIndex:rowIndex, expanded: expanded, subRowLevel: 0, headers: []}">
            </ng-container>
        </ng-container>
        </ng-template>
        <ng-template #row let-rowData="rowData" let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded"
            let-subRowLevel="subRowLevel" let-headers="headers">
            <ng-container *ngIf="!rowData.subHeaders">
                <tr>
                    <ng-container *ngFor="let header of headers; let headerIndex = index">
                        <th [attr.rowspan]="calculateRowSpan(header)">
                            <button type="button"
                                *ngIf="header.expandable && header.expandedFields && header.expandedFields.length"
                                pButton pRipple [pRowToggler]="header"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="row-header">{{header.header | translate}}</span>
                            <span *ngIf="header.toolTip" class="inline-block ml-5 v-middle pointer pi pi-info-circle" pTooltip="{{header.toolTip | translate}}" tooltipPosition="top"></span>
                        </th>
                    </ng-container>
                    <th [attr.rowspan]="calculateRowSpan(rowData)">
                        <button type="button"
                            *ngIf="rowData.expandable && rowData.expandedFields && rowData.expandedFields.length"
                            pButton pRipple [pRowToggler]="rowData"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        <span class="row-header">{{rowData.header | translate}}</span>
                    </th>
                    <th *ngFor="let x of getBlanks(subRowLevel)"></th>
                    <ng-container *ngFor="let col of columns; let colIndex = index">
                        <ng-container
                            *ngTemplateOutlet="cell;context:{rowData:rowData, column:col, colIndex: colIndex }">
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-container>
            <ng-container *ngFor="let subRow of rowData?.subHeaders; let subIndex = index">
                <ng-container
                    *ngTemplateOutlet="row;context:{rowData:subRow, columns:columns, rowIndex:subIndex, expanded: expanded, subRowLevel: subRowLevel + 1, headers: getRowHeaders(headers,rowData,subIndex) }">
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData>
            <ng-container *ngFor="let expandedRow of rowData.expandedFields; let subIndex = index">
                <ng-container
                    *ngTemplateOutlet="row;context:{rowData:expandedRow, columns:synopticalService.synopticalRecords, rowIndex:subIndex, expanded: false, subRowLevel: 0, headers: [] }">
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #cell let-rowData="rowData" let-column="column" let-colIndex="colIndex">
            <td *ngIf="rowData.betweenPorts && colIndex == 0"></td>
            <td *ngIf="!rowData.colSpan || (colIndex%2 == 1 && (!rowData.betweenPorts || colIndex < synopticalService.synopticalRecords.length - 1))" [attr.colSpan]="rowData.colSpan ? rowData.colSpan : 1"
                [class.text-right]="true">
                <ng-container *ngFor="let field of rowData.fields;let i = index">
                    <div class="pr-0" *ngIf="i > 0" [class.pr-0]="rowData.editable && synopticalService.editMode && checkEditableCondition(field.key,colIndex,rowData)">
                        &nbsp;-&nbsp;
                    </div>
                    <ng-container
                        *ngIf="!column.disabled && rowData.editable && synopticalService.editMode &&  checkEditableCondition(field.key,colIndex,rowData); else noEdit">
                        <div class="error-icon-wrapper"  [ngClass]="{'textfield-small': rowData?.fields?.length>1}">
                            <ng-container [ngSwitch]="field.type">
                                <ng-container *ngSwitchCase="fieldType.DATETIME">
                                    <p-calendar appendTo="body" [showButtonBar]="true" [showTime]="true"
                                        inputId="{{field.key + colIndex}}" id="{{field.key + colIndex}}" (onInput)="subcoldatetime.hideOverlay()"
                                        [formControl]="getControl(colIndex,field.key)" [hideOnDateTimeSelect]="false" [placeholder]="datePlaceHolder"
                                        [minDate]="field.minValue" [maxDate]="field.maxValue" dateFormat="{{editDateFormat}}" (onClose)="onBlur(field,colIndex)"
                                        #subcoldatetime>
                                        <p-footer>
                                            <button class="btn btn-main"
                                                (click)="subcoldatetime.hideOverlay()">{{'DATA_TABLE_OK_BUTTON_LABEL'
                                                | translate}}</button>
                                        </p-footer>
                                    </p-calendar>
                                </ng-container>
                                <ng-container *ngSwitchCase="fieldType.TIME">
                                    <p-calendar appendTo="body" inputId="{{field.key + colIndex}}"
                                        id="{{field.key + colIndex}}" [timeOnly]="true" [readonlyInput]="true"
                                        [showButtonBar]="false" todayButtonStyleClass="hide" (onInput)="subcoltime.hideOverlay()"
                                        [formControl]="getControl(colIndex,field.key)" (onClose)="onBlur(field,colIndex)"
                                        #subcoltime>
                                        <p-footer>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-default" (click)="clearTimeInput(subcoltime, colIndex, field.key)">{{'DATA_TABLE_CLEAR_BUTTON_LABEL' | translate}}</button>
                                                </div>
                                                <div class="col text-right">
                                                    <button class="btn btn-default" (click)="setTimeInput(subcoltime, colIndex, field.key)">{{'DATA_TABLE_OK_BUTTON_LABEL' | translate}}</button>
                                                </div>
                                            </div>
                                        </p-footer>
                                    </p-calendar>
                                </ng-container>
                                <ng-container *ngSwitchCase="fieldType.NUMBER">
                                    <input type="text" cpdssPortalNumberDecimal [max]="field?.max" class="form-control"
                                        id="{{field.key + colIndex}}" [formControl]="getControl(colIndex,field.key)"
                                        (blur)="onBlur(field,colIndex)" (keyup)="onKeyUp(field,colIndex)">
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <input type="text" class="form-control" id="{{field.key + colIndex}}"
                                        [formControl]="getControl(colIndex,field.key)" (blur)="onBlur(field,colIndex)">
                                </ng-container>
                            </ng-container>
                            <cpdss-portal-validation-error [errors]="fieldError(colIndex, field.key)"
                                [errorMessages]="errorMessages">
                            </cpdss-portal-validation-error>
                        </div>
                    </ng-container>
                    <ng-template #noEdit>
                        <ng-container [ngSwitch]="field.type">
                            <ng-container *ngSwitchCase="fieldType.NUMBER">{{ field.numberType === 'quantity' ?  (column[field.key] | quantityDecimalFormat: field.unit) : column[field.key] | number: field.numberFormat}}</ng-container>
                            <ng-container *ngSwitchDefault>{{ field.numberType === 'quantity' ? (column[field.key] | quantityDecimalFormat: field.unit) : column[field.key]}}</ng-container>
                        </ng-container>
                    </ng-template>
                </ng-container>
            </td>
            <td *ngIf="rowData.betweenPorts && colIndex == synopticalService.synopticalRecords.length - 1"></td>
        </ng-template>
    </p-table>
</form>
<ng-template #empty>
    {{'NO_RECORDS_FOUND'| translate}}
</ng-template>