.row-header{
 font-weight: 600;
}

.column-ports{
    width: 160px!important;
}
.column-third{
    width: 60px!important;
}
.textfield-small{
    width: 70px;
}

.pl-percent{
  padding-left: 14% !important;
}
