<div class="container-fluid">
    <div class="row pb-20">
        <div class="col">
            2. STOWAGE
        </div>

        <div class="ml-auto pr-15">
            <button class="btn btn-main"
                id="btn_callNewLoadableStudyPopup">{{'LOADABLE_PATTERN_HISTORY_BACK_TO_LOADABLE_STUDY_BUTTON_LABEL' |
                translate}}</button>
        </div>

    </div>
    <div class="row">
        <div class="col  text-center">
            <a class="tab-btn" [ngClass]="{'active': selectedTab === 'Cargo'}" (click)="onTabClick('Cargo')">Cargo
            </a>
            <a class="tab-btn" [ngClass]="{'active': selectedTab === 'Ballast'}" (click)="onTabClick('Ballast')">Ballast
            </a>
        </div>

    </div>
    <div  *ngIf="selectedTab === 'Cargo'">
        <div class="row"> 
            <div class="col">
            <cpdss-portal-cargo-tank-layout [isFullyFilled]="true" [tanks]="tanks"></cpdss-portal-cargo-tank-layout>
        </div>
        </div>
        <div class="row">
            <button class="btn btn-main" (click)="more()">{{MORE_HIDE_BUTTON_LABEL}}</button>
        </div>
        <div *ngIf="isViewMore" class="row">
            <p-table #datatable [columns]="columns" [value]="value">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                   
                </ng-template>
            </p-table>
        </div>

    </div>
    <div  *ngIf="selectedTab === 'Ballast'">
        <div class="row">
            <div class="col">
            <cpdss-portal-cargo-tank-layout [isFullyFilled]="true" [tanks]="tanks"></cpdss-portal-cargo-tank-layout>
        </div>
        </div>
        <div class="row">
            <button class="btn btn-main" (click)="more()">{{MORE_HIDE_BUTTON_LABEL}}</button>
        </div>
        <div *ngIf="isViewMore" class="row">
            <div class="col">
            <p-table #datatable [columns]="columns" [value]="value">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                   
                </ng-template>
            </p-table>
        </div>
        </div>

    </div>

</div>