<div class="container-fluid">
    <div class="row pb-20">
        <div class="col">
            2. {{'LOADABLE_PLAN_STOWAGE_HEADER' | translate}}
        </div>
        <div class="ml-auto pr-15">
            <button class="btn btn-main" id="btn_callNewLoadableStudyPopup">{{'LOADABLE_PATTERN_HISTORY_BACK_TO_LOADABLE_STUDY_BUTTON_LABEL' |
                translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col  text-center">
            <a class="tab-btn" [ngClass]="{'active': selectedTab === tankType.CARGO}"
                (click)="onTabClick(tankType.CARGO)">{{'LOADABLE_PLAN_STOWAGE_CARGO_TAB' | translate}}
            </a>
            <a class="tab-btn" [ngClass]="{'active': selectedTab === tankType.BALLAST}"
                (click)="onTabClick(tankType.BALLAST)">{{'LOADABLE_PLAN_STOWAGE_BALLAST_TAB' | translate}}
            </a>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col" *ngIf="selectedTab === tankType.CARGO">
                <cpdss-portal-cargo-tank-layout [tanks]="cargoTanks" [options]="cargoTankOptions">
                </cpdss-portal-cargo-tank-layout>
            </div>
            <div class="col" *ngIf="selectedTab === tankType.BALLAST">
                <cpdss-portal-cargo-tank-layout [tanks]="cargoTanks"></cpdss-portal-cargo-tank-layout>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-main"
                    (click)="toggleGridView()">{{(showGrid ? 'LOADABLE_PLAN_STOWAGE_HIDE_LABEL' : 'LOADABLE_PLAN_STOWAGE_MORE_LABEL') | translate}}</button>
            </div>
        </div>
        <div *ngIf="showGrid" class="row">
            <div class="col" *ngIf="selectedTab === tankType.CARGO">
                <button class="btn btn-main"
                    (click)="toggleEditMode()">{{(editMode === null ?'LOADABLE_PLAN_EDIT_STOWAGE_BUTTON_LABEL': 'LOADABLE_PLAN_SAVE_STOWAGE_BUTTON_LABEL')| translate}}
                </button>

                <cpdss-portal-datatable [columns]="columns" [value]="cargoTankDetails" [editMode]="editMode"
                    [form]="form.controls?.cargoTanks">
                </cpdss-portal-datatable>
            </div>
            <div class="col" *ngIf="selectedTab === tankType.BALLAST">
                <cpdss-portal-ballast-stowage  [ballastDetails]="ballastDetails"></cpdss-portal-ballast-stowage>
            </div>
        </div>
    </div>
</div>