

.upload-file-name {
    position: absolute;
    padding: 3px 10px;
    width: 80%;
    display: none;
}

.file-name{
    white-space: nowrap;
    max-width: 102px;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
}
.dropdowm-medium{
    width: 147px;
}

.dropdown-item-wrapper i {
  vertical-align: sub;
  margin: 1px 0 0 10px;
}

.checkbox-custom {
  margin-bottom: 7px;
}
