<p-dialog id="dialog_newLoadableStudyPopup" header="{{popUpHeader | translate}}"
    [(visible)]="display" [modal]="true" styleClass="new-loadable-study-pop-up" [draggable]="false" [responsive]="true"
    [minY]="70" [closable]="false">
    <form [formGroup]="newLoadableStudyFormGroup" id="fg_newLoadableStudy" (submit)="saveLoadableStudy()">
        <div class="container-fluid">
            <div class="row">
                <p class="text-danger text-center" *ngIf="savedloadableDetails && isLoadlineChanged()">{{'LOADABLE_STUDY_EDIT_UPDATING_LOADLING/DRAFT' | translate}}</p>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_DUPLICATE_EXISTING' | translate}}
                        </div>
                        <div class="col dropdowm-medium">
                            <p-dropdown styleClass="form-control" [options]="loadableStudyList" [tooltipPosition]="'top'" [tooltip]="getControlLabel('duplicateExisting')?.name?.length > 13 ? getControlLabel('duplicateExisting')?.name: ''"
                                id="ddl_duplicateExisting" formControlName="duplicateExisting" optionLabel="name"
                                (onChange)="onDuplicateExisting($event)" resetFilterOnHide="true"
                                placeholder="{{'NEW_LOADABLE_STUDY_POPUP_SELECT' | translate}}" [disabled]="isEdit" focusTrap>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_NAME' | translate}}</div>
                        <div class="col">
                            <input class="form-control" type="text" id="txt_newLoadableStudyName"
                                formControlName="newLoadableStudyName" focusTrap (change)="isNewLoadableStudyExist()">
                            <span
                                *ngIf="form.newLoadableStudyName.invalid && form.newLoadableStudyName.touched && (form.newLoadableStudyName.errors?.required || form.newLoadableStudyName.errors?.whitespace)"
                                class="text-danger">
                                {{'NEW_LOADABLE_STUDY_POPUP__NAME_REQUIRED' | translate}}!
                            </span>
                            <span
                                *ngIf="form.newLoadableStudyName.invalid && form.newLoadableStudyName.touched && form.newLoadableStudyName.errors?.maxlength && !form.newLoadableStudyName.errors?.whitespace"
                                class="text-danger">
                                {{'NEW_LOADABLE_STUDY_POPUP_MAX_LENGTH' | translate}}!
                            </span>
                            <span *ngIf="newLoadableStudyNameExist && !form.newLoadableStudyName.errors?.required"
                                class="text-danger">
                                {{'NEW_LOADABLE_STUDY_POPUP__NAME_EXIST' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_ENQUIRY_DETAILS' | translate}}</div>
                        <div class="col">
                            <textarea class="form-control" type="text" id="txt_enquiryDetails"
                                formControlName="enquiryDetails" focusTrap></textarea>
                            <span
                                *ngIf="form.enquiryDetails.invalid && form.enquiryDetails.touched && form.enquiryDetails.errors?.maxlength"
                                class="text-danger">
                                {{'NEW_LOADABLE_STUDY_POPUP_ENQUIRY_DETAIL_ERROR_MAXIMUM_LENGTH' | translate}}!
                            </span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_ATTACH_MAIL' | translate}}</div>
                        <div class="col">

                            <div class="upload-file">
                                {{'NEW_LOADABLE_STUDY_POPUP_ATTACH_BUTTON' | translate}}
                                <input type="file" name="fl_attachMail" #fileUpload
                                    accept="image/jpeg,image/jpg,image/png,application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document,.eml"
                                    formControlName="attachMail" (change)="selectFilesToUpload()"
                                    title="No file selected" multiple focusTrap/>

                            </div>
                            <div *ngIf="showError" class="text-danger">
                                {{uploadError | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="uploadedFiles?.length > 0">
                        <div class="col col-form-label"></div>
                        <div class="col">
                            <ol class="pl-10">
                                <li *ngFor="let file of uploadedFiles; let i = index" >
                                    <a (click)="openFile(i, file?.id)" class="file-name" [pTooltip]="file?.name ? file?.name : file?.fileName">{{file?.name ? file?.name : file.fileName}}</a>
                                    <span class="pi pi-times text-secondary font-x-small ml-5 pointer" (click)="removeFile(i, file?.id)"></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_CHARTERER' | translate}}</div>
                        <div class="col">
                            <input class="form-control" type="text" id="txt_charterer" formControlName="charterer"
                                readonly focusTrap>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_SUB_CHARTERER' | translate}}</div>
                        <div class="col">
                            <input class="form-control" type="text" id="txt_subCharterer"
                                formControlName="subCharterer" focusTrap>
                            <span
                                *ngIf="form.subCharterer.invalid && form.subCharterer.touched && form.subCharterer.errors?.maxlength"
                                class="text-danger">
                                {{'NEW_LOADABLE_STUDY_POPUP_MAX_LENGTH' | translate}}!
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_LOADLINE' | translate}}</div>
                        <div class="col">
                            <p-dropdown styleClass="form-control" [options]="loadlineLists" id="ddl_loadLine"
                                formControlName="loadLine" optionLabel="name" (onChange)="onloadLineChange()" resetFilterOnHide="true"
                                placeholder="{{'NEW_LOADABLE_STUDY_POPUP_SELECT' | translate}}" focusTrap>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="draftMarkList?.length > 0">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_DRAFT_MARK' | translate}}</div>
                        <div class="col">
                            <p-dropdown styleClass="form-control" [options]="draftMarkList" id="ddl_draftMark"
                                formControlName="draftMark" optionLabel="name" resetFilterOnHide="true"
                                focusTrap>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_DRAFT_RESTRICTION' | translate}}
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" cpdssPortalNumberDecimal id="txt_draftRestriction"
                                formControlName="draftRestriction" focusTrap>
                                <span
                                *ngIf="form.draftRestriction.invalid && form.draftRestriction.touched && form.draftRestriction.errors?.min"
                                class="text-danger">
                                {{'DRAFT_RESTRICTION_MIN' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-form-label">{{'NEW_LOADABLE_STUDY_POPUP_MAX_AIR_TEMP_EXPECTED' | translate}}
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" cpdssPortalNumberDecimal id="txt_maxAirTempExceeded"
                                formControlName="maxAirTempExpected" focusTrap>
                                <span
                                    *ngIf="form.maxAirTempExpected.invalid && form.maxAirTempExpected.touched && form.maxAirTempExpected.errors?.min"
                                    class="text-danger">
                                    {{'MAX_AIR_TEMP_MIN' | translate}}
                                </span>
                                <span
                                    *ngIf="form.maxAirTempExpected.invalid && form.maxAirTempExpected.touched && form.maxAirTempExpected.errors?.max"
                                    class="text-danger">
                                    {{'MAX_AIR_TEMP_MAX' | translate}}
                                </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-form-label">
                            {{'NEW_LOADABLE_STUDY_POPUP_MAX_WATER_TEMP_EXPECTED' | translate}}</div>
                        <div class="col">
                            <input class="form-control" type="text" cpdssPortalNumberDecimal id="txt_maxWaterTempExceeded"
                                formControlName="maxWaterTempExpected" focusTrap>
                                <span
                                    *ngIf="form.maxWaterTempExpected.invalid && form.maxWaterTempExpected.touched && form.maxWaterTempExpected.errors?.min"
                                    class="text-danger">
                                    {{'MAX_WATER_TEMP_MIN' | translate}}
                                </span>
                                <span
                                    *ngIf="form.maxWaterTempExpected.invalid && form.maxWaterTempExpected.touched && form.maxWaterTempExpected.errors?.max"
                                    class="text-danger">
                                    {{'MAX_WATER_TEMP_MAX' | translate}}
                                </span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

       
    </form>
    <p-footer>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-main" (click)="closeDialog()"
                    id="new-loadable-study-popup-cancel" focusTrap>{{'NEW_LOADABLE_STUDY_POPUP_CANCEL_BUTTON' | translate}}</button>
                <button type="submit" class="btn btn-main" id="new-loadable-study-popup-save"
                    form="fg_newLoadableStudy" autofocus focusTrap>{{saveButtonLabel | translate}}</button>
            </div>
        </div>
    </p-footer>
</p-dialog>