<p-table *ngIf="newCargoList" [columns]="columns" [value]="newCargoList" styleClass="table-grade">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header |  translate}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr (click)="rowClick(rowData)">
            <td *ngFor="let col of columns">
                <ng-container *ngIf="col.field !== 'difference'">
                    <ng-container *ngIf="col.field === 'abbreviation' " class="col no-left-padding"
                        style="max-width: 20px;">
                        <div class="color-rounded mt-5"
                            [ngStyle]="rowData?.colorCode && {'background' : rowData?.colorCode}">
                        </div>
                    </ng-container>
                    <ng-container [ngSwitch]="col.fieldType">
                        <ng-container *ngSwitchCase="fieldType.NUMBER">{{rowData[col.field]  | quantityDecimalFormat: currentQuantitySelectedUnit}}</ng-container>
                        <ng-container *ngSwitchDefault>{{rowData[col.field]}}</ng-container>
                    </ng-container>

                </ng-container>
                <ng-container *ngIf="col.field === 'difference'">
                    <span *ngIf="rowData[col.field]!==0" class="badge-custom content-ellipsis"
                    [pTooltip]="rowData?.isPositive ? ((rowData[col.field] | number:'0.2-2')+'%') : (rowData[col.field] | number:'0.2-2')+'%'" tooltipPosition="top"
                        [ngClass]="{'success': rowData?.isPositive, 'error' : !rowData?.isPositive }">
                         {{rowData[col.field] | number:'0.2-2'}}%
                    </span>
                    <span *ngIf="rowData[col.field]===0"> {{rowData[col.field] | number:'0.2-2'}}%</span>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr class="p-selectable-row">
            <td>{{'VOYAGE_STATUS_GRID_FOOTER_TOTAL' | translate}}
              <span *ngIf="hasCommingle" class="inline-block ml-5 v-middle pointer pi pi-info-circle"
                pTooltip="{{ 'CARGO_PRIORITY_GRID_FOOTER_TOTAL_COMMINGLE_INFO' | translate}}" tooltipPosition="top"></span>
            </td>
            <td>{{totalPlanned | quantityDecimalFormat: currentQuantitySelectedUnit}}</td>
            <td>{{totalActual | quantityDecimalFormat: currentQuantitySelectedUnit}}</td>
            <td>
                <span *ngIf="totalDifference!==0" class="badge-custom content-ellipsis" [ngClass]="{'success': isTotalPositive, 'error' : !isTotalPositive }"
                [pTooltip]="rowData?.isPositive ? ((totalDifference | number:'0.2-2')+'%') : (totalDifference | number:'0.2-2')+'%'" tooltipPosition="top">
                     {{totalDifference | number:'0.2-2'}}%
                </span>
                <span *ngIf="totalDifference===0"> {{totalDifference | number:'0.2-2'}}%
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
