<div class="row">
    <div class="col pb-20">
        <h5 class="text-uppercase secondary-text heading-border pt-15 pb-10">3 {{'ETA_ETD_HEADING' | translate}}</h5>
    </div>
</div>
<div class="row">
    <div class="col ml-30 table-eta">
        <p-table #datatable [columns]="tableCol" [value]="tableRow">
            <ng-template #row pTemplate="header" let-rowData let-columns>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngFor="let col of columns">{{col.header | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <th *ngIf="rowData?.header" [attr.rowspan]="rowData.rowspan">{{rowData.header | translate}}</th>
                    <th>{{rowData.subHeader | translate}}</th>
                    <ng-container *ngFor="let col of columns;let index = index">
                            <td>{{arrangeRecords[index][rowData.field]}}</td>
                    </ng-container>
                    </tr>
            </ng-template>
        </p-table>
    </div>
</div>
    
