<div class="row">
    <div class="col-md-10 check-list-table">

        <p-treeTable (onNodeUnselect)="nodeUnselect($event)" [value]="instructionListData" selectionMode="checkbox"
            [(selection)]="selectedData">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                    <span class="p-ml-2">{{'SELECT_ALL' | translate}}</span>
                </div>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr>
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                        <span *ngIf="!rowNode.node.data.editable">{{rowNode?.node?.label}}</span>
                        <span *ngIf="!rowNode.node.data.editable && rowNode.node.data.userCreated"
                            (click)="editData(rowNode)" class="pencil-icon"></span>
                        <span *ngIf="!rowNode.node.data.editable && rowNode.node.data.userCreated"
                            (click)="deleteData(rowNode)" class="delete-icon"></span>
                        <span (click)="addChild(rowNode)" class="btn btn-link icon-btn plus-icon-rounded ml-15"
                            *ngIf="rowNode?.level === 0 && !rowNode.node.data.editable"></span>
                        <input *ngIf="rowNode.node.data.editable" [maxlength]="textFieldLength"
                            [(ngModel)]="rowNode.node.label" type="text"> <button *ngIf="rowNode.node.data.editable"
                            (click)="saveData(rowNode)">{{ 'SAVE' | translate}}</button>
                        <button *ngIf="rowNode.node.data.editable" (click)="cancel(rowNode)">{{'CANCEL' | translate}}</button>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
    <div class="col-md-2">
        <button (click)="addParent()" class="btn btn-light">{{'ADD_NEW_BUTTON_LABEL' | translate}}</button>
    </div>
</div>