<div class="row">
    <div class="col-md-10">
        <input class="form-check-input" [(ngModel)]="selectAll" type="checkbox" value="" id="flexCheckDefault">
                Select All
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <ul class="list-group list-group-flush bg-transparent">
            <li class="list-group-item bg-transparent" *ngFor="let row of instructionList">
                <input class="form-check-input" [(ngModel)]="row.checked" type="checkbox" value="" id="flexCheckDefault">
                {{row?.label}}
                <ul class="list-group list-group-flush bg-transparent" *ngIf="row?.subList && row?.subList?.length">
                    <li *ngFor="let subList of row.subList" class="list-group-item borderless bg-transparent">
                        <input class="form-check-input" type="checkbox" [checked]="subList.checked" id="flexCheckDefault">
                        {{subList?.label}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <button class="btn btn-light">Add New</button>
    </div>
</div>