<div class="container-fluid" *ngIf="cargoDetailsForm">
  <form [formGroup]="cargoDetailsForm">
    <div class="row">
      <div class="col-6">
        <h5 class="main-head inline-block">{{(cargoId ? 'EDIT_CARGO_TITLE' : 'ADD_CARGO_TITLE')| translate}}</h5>
      </div>
      <div class="col-6">
        <button id="cargo_save" class="btn btn-main float-right" *cpdssPortalPermission="saveBtnPermissionContext"
          (click)="save()">{{'CARGO_DETAILS_SAVE_BUTTON'|
          translate}}</button>
        <button id="cargo_save_cancel" class="btn btn-main mr-10 float-right"
          (click)="cancel()">{{'CARGO_DETAILS_CANCEL_BUTTON'|
          translate}}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-secondary text-uppercase">{{'CARGO_MASTER_GRADE_INFORMATION'| translate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_type" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_CARGO_NAME' | translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_type" formControlName="name">
            <cpdss-portal-validation-error [errors]="fieldError('name')" [errorMessages]="errorMessages?.name">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_abbreviation" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_CARGO_ABBREVIATION' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_abbreviation" formControlName="abbreviation">
            <cpdss-portal-validation-error [errors]="fieldError('abbreviation')"
              [errorMessages]="errorMessages?.abbreviation">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_api" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_CARGO_API' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_api" formControlName="api">
            <cpdss-portal-validation-error [errors]="fieldError('api')" [errorMessages]="errorMessages?.api">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_reid_vapour_pressure" class="col-sm-5 col-form-label">{{
            'CARGO_DETAILS_REID_VAPOUR_PRESSURE'
            |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_reid_vapour_pressure"
              formControlName="reidVapourPressure">
            <cpdss-portal-validation-error [errors]="fieldError('reidVapourPressure')"
              [errorMessages]="errorMessages?.reidVapourPressure">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_gas" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_GAS' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_gas" formControlName="gas">
            <cpdss-portal-validation-error [errors]="fieldError('gas')" [errorMessages]="errorMessages?.gas">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_total_wax" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_TOTAL_WAX' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_total_wax" formControlName="totalWax">
            <cpdss-portal-validation-error [errors]="fieldError('totalWax')" [errorMessages]="errorMessages?.totalWax">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_pour_point" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_POUR_POINT' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_pour_point" formControlName="pourPoint">
            <cpdss-portal-validation-error [errors]="fieldError('pourPoint')" [errorMessages]="errorMessages?.pourPoint">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_cloud_point" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_CLOUD_POINT' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_cloud_point" formControlName="cloudPoint">
            <cpdss-portal-validation-error [errors]="fieldError('cloudPoint')"
              [errorMessages]="errorMessages?.cloudPoint">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_viscosity" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_VISCOSITY' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_viscosity" formControlName="viscosity">
            <cpdss-portal-validation-error [errors]="fieldError('viscosity')" [errorMessages]="errorMessages?.viscosity">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_min_temperature" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_MIN_TEMPERATURE' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_min_temperature" formControlName="temp">
            <cpdss-portal-validation-error [errors]="fieldError('temp')" [errorMessages]="errorMessages?.temp">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_cowCodes" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_COW_CODES' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_cowCodes" formControlName="cowCodes">
            <cpdss-portal-validation-error [errors]="fieldError('cowCodes')" [errorMessages]="errorMessages?.cowCodes">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_hydrogen_sulfide_oil" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_HYDROGEN_SULFIDE' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_hydrogen_sulfide_oil"
              formControlName="hydrogenSulfideOil">
            <cpdss-portal-validation-error [errors]="fieldError('hydrogenSulfideOil')"
              [errorMessages]="errorMessages?.hydrogenSulfideOil">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_hydrogen_sulfide_vapour" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_HYDROGEN_SULFIDE'
            |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_hydrogen_sulfide_vapour"
              formControlName="hydrogenSulfideVapour">
            <cpdss-portal-validation-error [errors]="fieldError('hydrogenSulfideVapour')"
              [errorMessages]="errorMessages?.hydrogenSulfideVapour">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label for="cargo_benzene" class="col-sm-5 col-form-label">{{ 'CARGO_DETAILS_BENZENE' |
            translate}}</label>
          <div class="col-sm-7 error-icon-wrapper">
            <input type="text" class="form-control" id="cargo_benzene" formControlName="benzene">
            <cpdss-portal-validation-error [errors]="fieldError('benzene')" [errorMessages]="errorMessages?.benzene">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <label for="cargo_special_instrictions_remark" class="col-sm-2 col-form-label">{{
            'CARGO_DETAILS_SPECIAL_INSTRUCTIONS_REMARK' |
            translate}}</label>
          <div class="col-sm-10 error-icon-wrapper">
            <textarea class="form-control" id="cargo_special_instrictions_remark" [rows]="5"
              formControlName="specialInstrictionsRemark"
              placeholder="{{'CARGO_DETAILS_SPECIAL_INSTRUCTIONS_REMARK_PLACEHOLDER' | translate}}"></textarea>
            <cpdss-portal-validation-error [errors]="fieldError('specialInstrictionsRemark')" [errorMessages]="errorMessages?.specialInstrictionsRemark">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="text-secondary text-uppercase">{{'CARGO_MASTER_LOADING_INFORMATION'| translate }}</p>
          </div>
          <div class="col-6">
            <button id="add_new_loading_info" class="btn btn-main float-right"
              (click)="addLoadingInfo()">{{'CARGO_MASTER_LOADING_INFORMATION_ADD'|
              translate}}</button>
          </div>
        </div>
        <div class="row" formArrayName="loadingInformation">
          <div class="col-12">
            <p-table [value]="cargo?.loadingInformation" class="loading-information-table"
              id="loading-information-table" [scrollable]="true" scrollHeight="flex">
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col>
                  <col>
                  <col class="column-button">
                  <col class="column-action">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    {{ 'CARGO_LOADING_INFO_COUNTRY' | translate}}
                  </th>
                  <th>
                    {{ 'CARGO_LOADING_INFO_PORT' | translate}}
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr formGroupName="{{rowIndex}}">
                  <td>
                    <p-dropdown id="country_dropdown_{{rowIndex}}" styleClass="form-control" appendTo="body"
                      [placeholder]="'CARGO_LOADING_INFO_COUNTRY_PLACEHOLDER'| translate" [filter]="true"
                      [options]="countries" optionLabel="name" resetFilterOnHide="true" formControlName="country">
                    </p-dropdown>
                  </td>
                  <td>
                    <p-dropdown id="port_dropdown_{{rowIndex}}" styleClass="form-control" appendTo="body"
                      [placeholder]="'CARGO_LOADING_INFO_PORT_PLACEHOLDER' | translate" [filter]="true"
                      [options]="ports" optionLabel="name" resetFilterOnHide="true" formControlName="port">
                    </p-dropdown>
                  </td>
                  <td>
                    <button id="view_api_temp_{{rowIndex}}" class="btn btn-main btn-sm"
                      (click)="openAPITemperaturePopup()">
                      {{'CARGO_LOADING_INFO_VIEW_API_TEMP' | translate}}</button>
                  </td>
                  <td>
                    <a type="button" id="delete_button_{{rowIndex}}" class="delete-icon" (click)="deleteLoadingInformation(rowIndex)"></a>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="4">
                    {{'NO_RECORDS_FOUND'| translate}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<cpdss-portal-api-temperature-history-popup *ngIf="apiTempPopupData" [(apiTempHistoryPopupData)]="apiTempPopupData"
  [(visible)]="openAPITemperatureHistoryPopup">
</cpdss-portal-api-temperature-history-popup>
