<p-dialog id="dialog_voyage_list_date_popup" header="{{header | translate}}" [(visible)]="display" [modal]="true" styleClass="date-popup"
    [draggable]="false" [responsive]="true" [closable]="false" *ngIf="display">
    <div class="col">

        <p-calendar appendTo="body" [showTime]="true" [showButtonBar]="true" [minDate]="mindate" [maxDate]="today" [placeholder]="datePlaceHolder"
            inputId="actual_date_selector" id="actual_date_selector" dateFormat="{{popupDateFormat}}" (onInput)="coldatetime.hideOverlay()"
            [hideOnDateTimeSelect]="false" [placeholder]="'VOYAGE_LIST_DATE_POPUP_ACTUAL_DATE_PLACEHOLDER' | translate" [(ngModel)]="defaultDate" #coldatetime focusTrap></p-calendar>
    </div>
    <p-footer>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-main"
                    id="date-popup-cancel" (click)="closeDialog()"  focusTrap>{{'VOYAGE_LIST_DATE_POPUP_CANCEL_BUTTON' |
                    translate}}</button>
                    <button type="button" class="btn btn-main"
                    id="date-popup-start" (click)="startStopVoyage()" autofocus focusTrap>{{startStopButtonLabel |
                    translate}}</button>

            </div>
        </div>
    </p-footer>
</p-dialog>
