.trim-even-keel {
    background: url(/assets/images/themes/light/ship-trim-even-keel.png) no-repeat center;
    height: 100%;
}

.trim-head {
    background: url(/assets/images/themes/light/ship-trim-head.png) no-repeat center;
    height: 100%;
}

.trim-stern {
    background: url(/assets/images/themes/light/ship-trim-stern.png) no-repeat center;
    height: 100%;
}