<div class="row">
  <div class="col-10 m-auto">
    <div class="trim-condition-wrapper">
      <div [ngClass]="{'trim-even-keel': !trim, 'trim-head':  trim < 0, 'trim-stern': trim > 0}" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-secondary pt-25">{{'VOYAGE_STATUS_TRIM_WATERLINE' | translate}}</div>
            <div class="col text-center pt-10">
              {{'VOYAGE_STATUS_TRIM' | translate}}
              <h5 class="text-secondary" *ngIf="trim !== 0">{{trim | number: '1.2-2'}}{{(trim > 0 ?
                'VOYAGE_STATUS_TRIM_STERN_UNIT' : 'VOYAGE_STATUS_TRIM_HEAD_UNIT')| translate}}</h5>
              <h5 class="text-secondary" *ngIf="trim === 0">{{'VOYAGE_STATUS_TRIM_ZERO_UNIT'| translate}}</h5>
            </div>
          </div>
        </div>
        <div class="col text-center sag" *ngIf="hasLoadicator">
          {{(deflection < 0 ? 'VOYAGE_STATUS_HOG' : 'VOYAGE_STATUS_SAG' ) | translate}} <h5
            class="text-secondary">{{deflection
            | number: '1.2-2'}}{{'VOYAGE_STATUS_HOGSAG_UNIT' | translate}}</h5>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
