<div class="container-fluid">
    <div class="row mb-15">
        <div class="pl-15">
            <h5 class="main-head inline-block">{{ 'VOYAGE_LIST' | translate }}</h5>
            <label class="ml-20 mr-10 col-form-label">
                {{ 'SEARCH' | translate }}</label>
        </div>
        <div class="col calender-control-multi-date pt-5">
            <p-calendar [(ngModel)]="filterDates" selectionMode="range" [showButtonBar]="true" [readonlyInput]="true"
                inputId="range" dateFormat="dd-mm-yy" (onSelect)="onDateRangeSelect($event)"
                (onClearClick)="resetDateFilter($event)"
                placeholder="{{ 'VOYAGE_LIST_DATE_RANGE_PLACEHOLDER'| translate }}" id="voyage_date_range_filter"
                #dateRangeFilter></p-calendar>
            <div class="ml-5">
                <cpdss-portal-validation-error [errors]="filterDateError"
                    [errorMessages]="errorMessages.filterDateRange">
                </cpdss-portal-validation-error>
            </div>
    
                <span class="ml-5 pointer pi pi-info-circle" pTooltip="{{'VOYAGE_LIST_GLOBAL_DATE_FILTER_INFO' | translate}}"
                    tooltipPosition="top"></span>
            
        </div>

        
        <div class="header-info-pop-up ml-auto pr-15"><span class="info-icon mr-5">!</span>
            {{'DATES_UTC_NOTIFICATION' | translate}}
        </div>
        <div class="pr-15"><button class="btn btn-main ml-auto" (click)="showDialog()" *cpdssPortalPermission="newVoyagePermissionContext">{{ 'VOYAGE_LIST_CREATE_NEW_VOYAGE_BUTTON_LABEL' | translate }}</button></div>
    </div>
    <div class="row">
        <div class="col-12  voyage-listing-wrapper">
            <cpdss-portal-datatable *ngIf="voyageList" [tableId]="'voyage_list'" [columns]="columns"
                [value]="voyageList" [filterable]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
                [lazy]="true" (dataStateChange)="onDataStateChange($event)" [loading]="loading"
                [(currentPage)]="currentPage" [(first)]="first" (buttonClick)="onButtonClick($event)">
            </cpdss-portal-datatable>
        </div>

    </div>

</div>
<cpdss-portal-date-pop-up [voyageId]="selectedVoyageId" [vesselId]="vesselId" [isStart]="isStart"
    [display]="showDatePopup" (displayPopup)="setPopupVisibility($event)" *ngIf="showDatePopup"
    [defaultDate]="defaultDate">
</cpdss-portal-date-pop-up>
<cpdss-portal-new-voyage-popup [vesselDetails]="vesselDetails" *ngIf="display && vesselDetails"
    (displayPopUp)="displayPopUpTab($event)">
</cpdss-portal-new-voyage-popup>