<p-dialog [(visible)]="visible" [closable]="false" [modal]="true" [style]="{width: '50vw'}">
    <p-header>
        API & Temperature History - {{apiTempHistoryPopupData.rowData.cargo.value.name}}
    </p-header>
    <p> PAST 5 DETAILS </p>
    <cpdss-portal-datatable [tableId]="'apiTemperatureHistory'" [columns]="apiTempHistoryColumns"
     [value]="apiTempHistoryData"></cpdss-portal-datatable>
    <p-footer>
        <button class="btn btn-secondary" (click)="closePopup()">Close</button>
    </p-footer>
</p-dialog>