<p-dialog [(visible)]="visible" [closable]="false" [draggable]="false" [modal]="true" [minY]="70"
  [style]="{width: '50vw'}">
  <p-header>
    {{'API_TEMP_HISTORY_POPUP_HEADING'|translate}} - {{apiTempHistoryPopupData.rowDataCargo.value.name}}
  </p-header>
  <p> {{'API_TEMP_HISTORY_POPUP_PAST_5_DETAILS' | translate}} </p>
  <cpdss-portal-datatable *ngIf="apiTempHistoryData" [tableId]="'apiTemperatureHistory'"
    [columns]="apiTempHistoryColumns" [value]="apiTempHistoryData"></cpdss-portal-datatable>
  <div class="row">
    <div class="col">
      <form [formGroup]="apiTempHistoryForm" *ngIf="monthwiseCargoHistory?.length">
        <div class="row">
          <div class="col-sm-8">
            <label
              class="col-form-label pr-10">{{'API_TEMP_HISTORY_POPUP_MONTH_PORT_DROPDOWN_LABEL'| translate}}</label>
            <p-dropdown id="api_temp_popup_month_dropdown" styleClass="dropdown-w-180" appendTo="body"
              formControlName="selectMonth" [options]="apiTempHistoryMonths" optionLabel="month"
              placeholder="{{'API_TEMP_HISTORY_POPUP_MONTH_DROPDOWN_PLACEHOLDER'| translate}}"
              (onChange)="onMonthChange($event)" filter="true" focusTrap>
            </p-dropdown>
          </div>
          <div class="col-sm-4">
            <p-dropdown id="api_temp_popup_port_dropdown" styleClass="dropdown-w-180" appendTo="body"
              formControlName="selectPort" [options]="apiTempHistoryPopupData?.rowDataCargo?.value?.ports"
              optionLabel="name" placeholder="{{'API_TEMP_HISTORY_POPUP_PORT_DROPDOWN_PLACEHOLDER'| translate}}"
              (onChange)="onPortChange($event)" filter="true" focusTrap>
            </p-dropdown>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="apiTempHistoryForm?.value?.selectMonth && apiTempHistoryForm?.value?.selectPort">
    <div class="col">

      <p-table *ngIf="filteredMonthwiseHistory?.length else empty" id="month-wise-cargo-history-grid"
        [value]="uniqueYears" styleClass="body-header-row-span-table" [hidden]="showMonthWiseGrid">
        <ng-template pTemplate="header">
          <tr>
            <th colspan="2"></th>
            <th *ngFor="let month of monthWithPreccedingSucceedingArr">{{month.month | slice:0:3}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-year>
          <tr *ngIf="monthWiseGridColData[year]">
            <td rowspan="2">{{year}}</td>
            <td>{{'API_TEMP_HISTORY_POPUP_PAST_5_DETAILS_TABLE_API' | translate}}</td>
            <td *ngFor="let item of monthWiseGridColData[year]">{{item.api || '-'}}</td>
          </tr>
          <tr *ngIf="monthWiseGridColData[year]">
            <td>{{'API_TEMP_HISTORY_POPUP_PAST_5_DETAILS_TABLE_TEMP' | translate}}</td>
            <td *ngFor="let item of monthWiseGridColData[year]">{{item.temperature || '-'}}</td>
          </tr>
        </ng-template>
      </p-table>

      <ng-template #empty>
        {{'NO_RECORDS_FOUND'| translate}}
      </ng-template>
      <a class="btn btn-link icon-btn" *ngIf="filteredMonthwiseHistory?.length"
        (click)="hideShowMonthWiseApiTempHistoryGrid()"
        id="hide-api-temp-monthwise-grid">{{'API_TEMP_HISTORY_POPUP_HIDE_SHOW_MONTH_DETAILS'|translate}}</a>
    </div>
  </div>
  <p-footer>
    <button class="btn btn-main" (click)="closePopup()"
      id="api-temp-popup-close">{{'API_TEMP_HISTORY_POPUP_CLOSE'|translate}}</button>
    <a class="btn btn-main" *ngIf="userPermission?.view" target="_blank" [routerLink]="['/business/cargo-planning/cargo-history']"
      id="api-temp-popup-view-more">{{'API_TEMP_HISTORY_POPUP_VIEW_MORE'|translate}}</a>
  </p-footer>
</p-dialog>
