<div class="row pt-20">
    <div class="col">
        <h5 class="text-uppercase heading-border">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_HEADING' | translate}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-8 text-center">
        <div class="pt-15">
            <div class="col  text-center">
                <a class="tab-btn tab-btn-default tab-landing" [ngClass]="{'active': selectedTab === tankType.CARGO}"
                    pTooltip="{{'LOADABLE_PLAN_HEADING_CARGO_DEPARTURE_CONDITION' | translate}}" tooltipPosition="top"
                    id="ship_landing_cargo_tab" (click)="onTabClick(tankType.CARGO)">
                    {{'LOADABLE_PLAN_HEADING_CARGO_DEPARTURE_CONDITION' | translate}}
                </a>
                <a class="tab-btn tab-btn-default tab-landing" [ngClass]="{'active': selectedTab === tankType.BALLAST}"
                    pTooltip="{{'BALLAST' | translate}}" tooltipPosition="top" id="ship_landing_ballast_tab"
                    (click)="onTabClick(tankType.BALLAST)">
                    {{'LOADABLE_PLAN_HEADING_BALLAST_DEPARTURE_CONDITION' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="col col-11 loading-discharging-tank-layout m-auto pt-30">
            <cpdss-portal-cargo-tank-layout *ngIf="selectedTab === tankType.CARGO" [tanks]="cargoTanks"
                [options]="cargoTankOptions">
            </cpdss-portal-cargo-tank-layout>
            <cpdss-portal-ballast-layout *ngIf="selectedTab === tankType.BALLAST" [tanks]="centerBallastTanks"
                [rearTanks]="rearBallastTanks" [frontTanks]="frontBallastTanks" [options]="ballastTankOptions">
            </cpdss-portal-ballast-layout>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <cpdss-portal-loading-discharging-cargo-details-table [cargoConditions]="cargoConditions"
                    [cargoQuantities]="cargoQuantities" ></cpdss-portal-loading-discharging-cargo-details-table>
            </div>

        </div>
        <div class="row pt-10">
            <div class="col text-center">
                <button (click)="display = true" class="btn btn-main"
                    id="departure_uptate_ullage">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_CARGO_UPDATE_ULLAGE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="row pt-20">
    <div class="col-md-12">
        <h5 class="text-uppercase heading-border">{{'CARGO_TO_BE_LOADED' | translate}}</h5>

    </div>
</div>
<div class="row">
    <div class="col ml-30 pt-5 table-column-flexible-wrapper auto-layout">
        <cpdss-portal-datatable [tableId]="'drparture-details-tbl'" [columns]="departureDetailsColumns"
            [value]="departureDetailsList" scrollable="false">
        </cpdss-portal-datatable>
    </div>
</div>

<cpdss-portal-ullage-update-popup *ngIf="display" (closePopup)="closePopUp($event)"></cpdss-portal-ullage-update-popup>