<div class="row pt-20">
    <div class="col">
        <h5 class="text-uppercase heading-border">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_HEADING' | translate}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-8 text-center">
        <div class="pt-15">
            <div class="col  text-center">
                <a class="tab-btn tab-btn-default tab-landing" [ngClass]="{'active': selectedTab === tankType.CARGO}"
                    pTooltip="{{'LOADABLE_PLAN_HEADING_CARGO_DEPARTURE_CONDITION' | translate}}" tooltipPosition="top"
                    id="ship_landing_cargo_tab" (click)="onTabClick(tankType.CARGO)">
                    {{'LOADABLE_PLAN_HEADING_CARGO_DEPARTURE_CONDITION' | translate}}
                </a>
                <a class="tab-btn tab-btn-default tab-landing" [ngClass]="{'active': selectedTab === tankType.BALLAST}"
                    pTooltip="{{'BALLAST' | translate}}" tooltipPosition="top" id="ship_landing_ballast_tab"
                    (click)="onTabClick(tankType.BALLAST)">
                    {{'LOADABLE_PLAN_HEADING_BALLAST_DEPARTURE_CONDITION' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="col col-12 loading-discharging-tank-layout m-auto pt-30">
            <cpdss-portal-cargo-tank-layout *ngIf="selectedTab === tankType.CARGO" [tanks]="departureCargoTanks"
                [options]="cargoTankOptions">
            </cpdss-portal-cargo-tank-layout>

        </div>
        <div class="row">
            <div class="col loading-discharging-tank-layout  loadable-plan-ballast ">
                <cpdss-portal-ballast-layout *ngIf="selectedTab === tankType.BALLAST" [tanks]="centerBallastTanks"
                    [rearTanks]="rearBallastTanks" [frontTanks]="frontBallastTanks" [options]="ballastTankOptions">
                </cpdss-portal-ballast-layout>
            </div>
        </div>
    </div>
    <div class="col sidebar-right-loading-discharging-plan">
        <div class="row">
            <div class="col">
                <cpdss-portal-loading-discharging-cargo-details-table
                    [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [cargoConditions]="cargoConditions"
                    [cargoQuantities]="cargoQuantities" (commingleClick)="showCommingle($event)"></cpdss-portal-loading-discharging-cargo-details-table>
            </div>

        </div>
        <div class="row pt-10">
            <div class="col text-center">

                <ng-container *ngIf="operation === OPERATIONS.LOADING">
                    <span class="badge-custom badge-success v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_SUCCESS">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.loadingPlanDepStatusId]
                        | translate}}</span>
                    <span class="badge-custom badge-danger v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_VALIDATION_FAILED">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.loadingPlanDepStatusId]
                        | translate}}</span>
                    <span class="badge-custom badge-info v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_INPROGRESS || loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_GENERATED">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.loadingPlanDepStatusId]
                        | translate}}</span>
                    <span class="badge-custom badge-info v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_LOADICATOR_INPROGRESS || loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_COMMUNICATED_TO_SHORE">{{'ULLAGE_UPDATE_PLAN_INPROGRESS'
                        | translate}}</span>
                    <span class="badge-custom badge-muted v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_VERIFICATION_PENDING">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.loadingPlanDepStatusId]
                        | translate}}</span>
                </ng-container>
                <ng-container *ngIf="operation === OPERATIONS.DISCHARGING">
                    <span class="badge-custom badge-success v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_SUCCESS">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.dischargePlanDepStatusId]
                        | translate}}</span>
                    <span class="badge-custom badge-danger v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_VALIDATION_FAILED">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.dischargePlanDepStatusId]
                        | translate}}</span>
                    <span class="badge-custom badge-info v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_INPROGRESS || loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_GENERATED">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.dischargePlanDepStatusId]
                        | translate}}</span>
                    <span class="badge-custom badge-info v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_LOADICATOR_INPROGRESS || loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_COMMUNICATED_TO_SHORE">{{'ULLAGE_UPDATE_PLAN_INPROGRESS'
                        | translate}}</span>
                    <span class="badge-custom badge-muted v-middle mr-10"
                        *ngIf="loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_TEXT.ULLAGE_UPDATE_PLAN_VERIFICATION_PENDING">{{ULLAGE_STATUS_TEXT[loadingDischargingPlanInfo?.dischargePlanDepStatusId]
                        | translate}}</span>
                </ng-container>

                <button
                    [disabled]="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_VALUE.IN_PROGRESS || loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_VALUE.IN_PROGRESS || loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_VALUE.LOADICATOR_IN_PROGRESS || loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_VALUE.LOADICATOR_IN_PROGRESS"
                    (click)="display = true" class="btn btn-main mr-5 mt-5"
                    id="departure_uptate_ullage">{{'LOADABLE_PLAN_DEPARTURE_CONDITION_CARGO_UPDATE_ULLAGE' |
                    translate}}</button>
                <button (click)="showError()"
                    *ngIf="loadingDischargingPlanInfo?.loadingPlanDepStatusId === ULLAGE_STATUS_VALUE.ERROR"
                    class="btn btn-main mr-5 mt-5" id="cargo_error">{{'ULLAGE_UPDATE_SHOW_ERROR_LABEL'|
                    translate}}</button>
                <button (click)="showError()"
                    *ngIf="loadingDischargingPlanInfo?.dischargePlanDepStatusId === ULLAGE_STATUS_VALUE.ERROR"
                    class="btn btn-main mr-5 mt-5" id="cargo_error">{{'ULLAGE_UPDATE_SHOW_ERROR_LABEL'|
                    translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="operation === OPERATIONS.LOADING">
    <div class="col pt-30">
        <h5 class="text-uppercase heading-border">{{'CARGO_TO_BE_LOADED' | translate }}</h5>
    </div>
</div>
<div class="row" *ngIf="operation === OPERATIONS.LOADING">
    <div class="col ml-30 pt-5 table-column-flexible-wrapper auto-layout">
        <cpdss-portal-cargo-to-be-loaded-discharged [prevQuantitySelectedUnit]="prevQuantitySelectedUnit" [editMode]="false"
            [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [cargos]="cargos" [slopQuantity]="loadingDischargingPlanInfo?.loadingDetails?.slopQuantity"
            [cargoVesselTankDetails]="loadingDischargingPlanInfo?.cargoVesselTankDetails"
            [isPlanGenerated]="loadingDischargingPlanInfo?.isLoadingPlanGenerated"
            [operation]="OPERATIONS.LOADING">
        </cpdss-portal-cargo-to-be-loaded-discharged>
    </div>
</div>

<cpdss-portal-ullage-update-popup [vesselId]="vesselId" [permission]="permission"
    [patternId]="operation === OPERATIONS.LOADING ? loadingDischargingPlanInfo?.loadablePatternId : loadingDischargingPlanInfo?.dischargePatternId"
    [portRotationId]="portRotationId" [status]="ULLAGE_STATUS.DEPARTURE" [operation]="operation"
    [infoId]="loadingDischargingInfoId" *ngIf="display"
    [ullageStatus]="operation === OPERATIONS.LOADING ? loadingDischargingPlanInfo.loadingPlanDepStatusId : loadingDischargingPlanInfo.dischargePlanDepStatusId"
    (closePopup)="closePopUp($event)">
</cpdss-portal-ullage-update-popup>
<cpdss-portal-loading-discharging-commingle-details [display]="showComminglePopup" (displayPopup)="showComminglePopup=$event"
    [currentQuantitySelectedUnit]="currentQuantitySelectedUnit" [commingleData]="commingleDetails">
</cpdss-portal-loading-discharging-commingle-details>
