<div class="conatiner-fluid pl-20 pr-20" *ngIf="addPortDetailsForm">
  <form [formGroup]="addPortDetailsForm">
    <div class="row mb-10">
      <div class="col-6">
        <h5 class="main-head inline-block text-uppercase">
          {{(portId ? 'PORT_MASTER_EDIT_PORT' : 'PORT_MASTER_ADD_PORT')| translate}}
        </h5>
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-main mr-10" id="btnCancel"
          (click)="cancel()">{{ 'PORT_MASTER_CANCEL' | translate }}</button>
        <button class="btn btn-main" id="btnSave"
          (click)="savePortDetails()">{{ 'PORT_MASTER_SAVE' | translate }}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="form-group row">
          <label for="port_name" class="col-sm-6 col-form-label">{{ 'PORT_MASTER_PORT_NAME' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="port_name" formControlName="portName"
              placeholder="{{ 'PORT_MASTER_PORT_NAME_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('portName')" [errorMessages]="errorMessages?.portName">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="time_zone" class="col-sm-6 col-form-label">{{ 'PORT_MASTER_TIMEZONE' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <p-dropdown styleClass="form-control" appendTo="body" [options]="timeZoneList" id="time_zone"
              placeholder="{{'PORT_MASTER_TIMEZONE_PLACEHOLDER' | translate}}" formControlName="timeZone"
              optionLabel="timezone" [filter]="true" resetFilterOnHide="true">
            </p-dropdown>
            <cpdss-portal-validation-error [errors]="fieldError('timeZone')" [errorMessages]="errorMessages?.timeZone">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="max_permissible_draft"
            class="col-sm-6 col-form-label pr-0">{{ 'PORT_MASTER_MAX_SHIP_DRAFT' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="max_permissible_draft" formControlName="maxPermissibleDraft"
              placeholder="{{'PORT_MASTER_MAX_SHIP_DRAFT_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('maxPermissibleDraft')"
              [errorMessages]="errorMessages?.maxPermissibleDraft">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="port_code" class="col-sm-6 col-form-label">{{ 'PORT_MASTER_PORT_CODE' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="port_code" formControlName="portCode"
              placeholder="{{'PORT_MASTER_PORT_CODE_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('portCode')" [errorMessages]="errorMessages?.portCode">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="tide_height_high"
            class="col-sm-6 col-form-label">{{ 'PORT_MASTER_TIDE_HEIGHT_HIGH' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="tide_height_high" formControlName="tideHeightHigh"
              placeholder="{{'PORT_MASTER_TIDE_HEIGHT_HIGH_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('tideHeightHigh')"
              [errorMessages]="errorMessages?.tideHeightHigh">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="density_of_water"
            class="col-sm-6 col-form-label">{{ 'PORT_DENSITY_OF_SEAWATER' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="density_of_water" formControlName="densityOfWater"
              placeholder="{{'PORT_DENSITY_OF_SEAWATER_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('densityOfWater')"
              [errorMessages]="errorMessages?.densityOfWater">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="country_list" class="col-sm-6 col-form-label">{{ 'PORT_MASTER_COUNTRY' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <p-dropdown styleClass="form-control" appendTo="body" [options]="countryList" id="country_list"
              placeholder="{{'PORT_MASTER_COUNTRY_PLACEHOLDER' | translate}}" formControlName="country"
              optionLabel="name" [filter]="true" resetFilterOnHide="true">
            </p-dropdown>
            <cpdss-portal-validation-error [errors]="fieldError('country')" [errorMessages]="errorMessages?.country">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="tide_height_low"
            class="col-sm-6 col-form-label">{{ 'PORT_MASTER_TIDE_HEIGHT_LOW' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="tide_height_low" formControlName="tideHeightLow"
              placeholder="{{'PORT_MASTER_TIDE_HEIGHT_LOW_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('tideHeightLow')"
              [errorMessages]="errorMessages?.tideHeightLow">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="ambient_temperature"
            class="col-sm-6 col-form-label">{{ 'PORT_MASTER_AMBIENT_TEMPERATURE' | translate}}</label>
          <div class="col-sm-6 error-icon-wrapper">
            <input type="text" class="form-control" id="ambient_temperature" formControlName="ambientTemperature"
              placeholder="{{'PORT_MASTER_AMBIENT_TEMPERATURE_PLACEHOLDER' | translate}}">
            <cpdss-portal-validation-error [errors]="fieldError('ambientTemperature')"
              [errorMessages]="errorMessages?.ambientTemperature">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group row">
          <label for="position_map" class="col-sm-6 col-form-label">{{ 'PORT_MASTER_POSITION' | translate}}</label>
          <div class="col-sm-6 lat-long error-icon-wrapper">
            <input type="text" class="form-control" id="position_map" formControlName="position"
              placeholder="{{'PORT_MASTER_POSITION_PLACEHOLDER' | translate}}" readonly>
            <div class="loc-ico">
              <span class="pi pi-map-marker pointer" style="font-size: 1.5rem" (click)="showMapPopup()"></span>
            </div>
            <cpdss-portal-validation-error [errors]="fieldError('position')" [errorMessages]="errorMessages?.position">
            </cpdss-portal-validation-error>
          </div>
        </div>
      </div>
    </div>

    <cpdss-portal-add-berth *ngIf="addPortDetailsForm" [portId]="portId" [existingBerthInfo]="berthInfo">
    </cpdss-portal-add-berth>
  </form>
</div>

<cpdss-portal-port-master-map *ngIf="isVisible" [isVisible]="isVisible" [currentLatLong]="currentLocation" (coordinates)="setCoordinates($event)"
  (isModalOpen)="closeModal($event)"></cpdss-portal-port-master-map>
