<div class="content-loadable-plan">
    <div class="container-fluid">
        <div class="row pb-20">
            <div class="col vessel-info-wrapper">
                <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo">
                </cpdss-portal-vessel-info>
            </div>
            <div class="">
                <h5 class="main-head inline-block">{{'LOADABLE_PLAN_HEADER' | translate}} </h5>
                <div class=" mr-10 text-secondary">
                    {{caseNumber}}</div>

            </div>
            <div class="col">
                <h5 class=" inline-block">VOYAGE {{voyageNumber}} </h5>
                <div class=" mr-10 text-secondary">
                    {{date}}</div>

            </div>
            <div class="ml-auto pr-15">
                <button class="btn btn-main" id="confirm_plan" [disabled]="!confirmPlanPermission" [ngClass]="{'confirmed': loadableStudyStatus}" *ngIf="selectedVoyage && selectedVoyage?.statusId !== VOYAGE_STATUS.CLOSE" (click)="confirmPlan()">
                    <span class="pi pi-check check-rounded" *ngIf="loadableStudyStatus"></span>
                    {{loadableStudyStatus ? ('LOADABLE_PATTERN_HISTORY_CONFIRMED_PLAN_BUTTON_LABEL' |translate) : ('LOADABLE_PATTERN_HISTORY_CONFIRM_PLAN_BUTTON_LABEL' |translate)}}
                </button>
                <a><img src="../../../../assets/images/themes/dark/download-arrow.png" alt="" class="ml-20"></a>
                <a><img src="../../../../assets/images/themes/dark/print-icon.png" alt="" class="ml-20 mr-30"></a>
                <button class="btn btn-main" id="btn_callNewLoadableStudyPopup" (click)="backToLoadableStudy()">{{'LOADABLE_PLAN_BACK_TO_LOADABLE_STUDY_BUTTON_LABEL' |
                translate}}</button>
            </div>

        </div>

        <div>
            <cpdss-portal-loadable-quantity [loadableQuantityCargoDetails]="loadableQuantityCargoDetails"
                [loadableQuantityCommingleCargoDetails]="loadableQuantityCommingleCargoDetails">
            </cpdss-portal-loadable-quantity>
        </div>
        <div>
            <cpdss-portal-stowage *ngIf="selectedVoyage && loadableStudy" [loadableStudyStatus]="loadableStudyStatus" [cargoTanks]="cargoTanks" [rearBallastTanks]="rearBallastTanks"
                [centerBallastTanks]="centerBallastTanks" [frontBallastTanks]="frontBallastTanks"
                [cargoTankDetails]="cargoTankDetails" [ballastDetails]="loadablePlanBallastDetails"
                [vesselId]="vesselId" [voyageId]="voyageId" [loadablePatternId]="loadablePatternId"
                [loadableStudyId]="loadableStudyId" [voyage]="selectedVoyage" [loadableStudy]="loadableStudy">
            </cpdss-portal-stowage>
        </div>
        <div>
            <cpdss-portal-port-eta-etd-condition [synopticalRecords]="loadablePlanSynopticalRecords">
            </cpdss-portal-port-eta-etd-condition>
        </div>
        <div>
            <cpdss-portal-comments [loadablePatternId]="loadablePatternId" [loadableStudyId]="loadableStudyId"
                [commentsDetails]="loadablePlanComments" [vesselId]="vesselId" [voyageId]="voyageId" [enableSubmit]="true">
            </cpdss-portal-comments>
        </div>
    </div>
</div>