<div class="content-loadable-plan">
    <div class="container-fluid">
        <div class="row pb-20">
            <div class="col vessel-info-wrapper">
                <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo">
                </cpdss-portal-vessel-info>
            </div>
            <div class="">
                <h5 class="main-head inline-block">{{'LOADABLE_PLAN_HEADER' | translate}} </h5>
                <div class=" mr-10 text-secondary">
                    {{caseNumber}}</div>

            </div>
            <div class="col">
                <h5 class=" inline-block">VOYAGE {{voyageNumber}} </h5>
                <div class=" mr-10 text-secondary">
                    {{date}}</div>

            </div>
            <div class="ml-auto pr-15">
                <ng-container *ngIf="!validationPending;else refPending">
                    <ng-container [ngSwitch]="loadablePatternValidationStatus">
                        <span class="badge-custom badge-success v-middle mr-10"
                            *ngSwitchCase="validateAndSaveStatus.LOADABLE_PLAN_SUCCESS">{{'LOADABLE_PLAN_ULLAGE_VERIFIED'
                            | translate}}</span>
                        <span class="badge-custom badge-danger v-middle mr-10"
                            *ngSwitchCase="validateAndSaveStatus.LOADABLE_PLAN_FAILED">{{'LOADABLE_PLAN_ULLAGE_VERIFICATION_FAILED'
                            | translate}}</span>
                        <span class="badge-custom badge-info v-middle mr-10"
                            *ngSwitchCase="validateAndSaveStatus.LOADABLE_PLAN_STARTED">{{'LOADABLE_PLAN_ULLAGE_VERIFICATION_IN_PROGESS'
                            | translate}}</span>
                    </ng-container>
                </ng-container>
                <ng-template #refPending><span
                        class="badge-custom badge-muted v-middle mr-10">{{'LOADABLE_PLAN_ULLAGE_VERIFICATION_PENDING' |
                        translate}}</span></ng-template>

                <button type="button" class="btn btn-main mr-10" (click)="menu.toggle($event)">
                    {{'LOADABLE_PLAN_SIMULATOR_BUTTON_LABEL' |translate}}
                    <span class="pi pi-angle-down ml-5"></span>
                </button>
                <p-menu #menu styleClass="menu-drop-down" [popup]="true" [model]="simulatorMenu"></p-menu>

                <button class="btn btn-main mr-10" id="confirm_plan"
                    [disabled]="!confirmPlanPermission || confirmButtonStatus || validationPending"
                    [ngClass]="{'confirmed': loadableStudyStatus}"
                    *ngIf="selectedVoyage && selectedVoyage?.statusId !== VOYAGE_STATUS.CLOSE"
                    (click)="onConfirmPlanClick()">
                    <span class="pi pi-check check-rounded" *ngIf="loadableStudyStatus"></span>
                    {{loadableStudyStatus ? ('LOADABLE_PATTERN_HISTORY_CONFIRMED_PLAN_BUTTON_LABEL' |translate) :
                    ('LOADABLE_PATTERN_HISTORY_CONFIRM_PLAN_BUTTON_LABEL' |translate)}}
                </button>
                <button class="btn btn-main" id="export" (click)="export()">
                    {{'LOADABLE_PLAN_EXPORT' |translate}}
                </button>

                <a><img src="../../../../assets/images/themes/dark/print-icon.png" alt="" class="ml-20 mr-30"></a>
                <button class="btn btn-main" id="btn_callNewLoadableStudyPopup"
                    (click)="backToLoadableStudy()">{{'LOADABLE_PLAN_BACK_TO_LOADABLE_STUDY_BUTTON_LABEL' |
                    translate}}</button>
            </div>

        </div>

        <div>
            <cpdss-portal-loadable-quantity [loadableQuantityCargoDetails]="loadableQuantityCargoDetails"
                [loadableQuantityCommingleCargoDetails]="loadableQuantityCommingleCargoDetails">
            </cpdss-portal-loadable-quantity>
        </div>
        <div>
            <cpdss-portal-stowage *ngIf="selectedVoyage && loadableStudy" [loadableStudyStatus]="loadableStudyStatus"
                [cargoTanks]="cargoTanks" [rearBallastTanks]="rearBallastTanks"
                [centerBallastTanks]="centerBallastTanks" [frontBallastTanks]="frontBallastTanks"
                [cargoTankDetails]="cargoTankDetails" [ballastDetails]="loadablePlanBallastDetails"
                [vesselId]="vesselId" [voyageId]="voyageId" [loadablePatternId]="loadablePatternId"
                [loadableStudyId]="loadableStudyId" [voyage]="selectedVoyage" [loadableStudy]="loadableStudy"
                [loadablePatternValidationStatus]="loadablePatternValidationStatus" [errorMessage]="errorMessage"
                [(errorMessageDisplay)]="errorPopup" [validationPending]="validationPending"
                (ullageUpdate)="validationPending = $event" (registerEvents)="listenEvents()"
                [loadableQuantityCargo]="loadableQuantityCargo" [loadableQuantity]="loadableQuantity">
            </cpdss-portal-stowage>
        </div>
        <div>
            <cpdss-portal-port-eta-etd-condition [vesselLightWeight]="vesselLightWeight"
                [synopticalRecords]="loadablePlanSynopticalRecords">
            </cpdss-portal-port-eta-etd-condition>
        </div>
        <div>
            <cpdss-portal-comments [loadablePatternId]="loadablePatternId" [loadableStudyId]="loadableStudyId"
                [isVoyageClosed]="isVoyageClosed" [commentsDetails]="loadablePlanComments"
                [loadablePatternValidationStatus]="loadablePatternValidationStatus" [vesselId]="vesselId"
                [voyageId]="voyageId" [enableSubmit]="true">
            </cpdss-portal-comments>
        </div>
    </div>
</div>
<cpdss-portal-port-rotation-popup *ngIf="showPortRotationPopup" [visible]="showPortRotationPopup" [vesselId]="vesselId"
    [voyageId]="voyageId" [loadableStudyId]="loadableStudyId" (displayPopup)="closePortRotationPopup($event)">
</cpdss-portal-port-rotation-popup>