<div class="pt-20">
    <form [formGroup]="dischargeStudyForm">
        <div formArrayName="portDetails">
        <div *ngFor="let portDetail of portDetails;let portIndex = index;let last = last" formGroupName="{{portIndex}}">
            <div class="row mb-10">
                <div class="col">
                    {{ 'DISCHARGE_STUDY_PORT_NAME' | translate }}{{portIndex+1}} : <span class="sub-head-color"> {{portDetail.portName}}</span>
                </div>
            </div>
            <div class="row mb-15">
                <div class="pl-15 pr-15">
                    {{ 'DISCHARGE_STUDY_INSTRUCTION' | translate }} <span class="ml-5 sub-head-color"> {{getFeild(portIndex,'instruction','instruction')}}</span>
                   
                </div>
                
                <div  class="pl-15 pr-15">
                    {{ 'DISCHARGE_STUDY_DRAFT_RESTRICTION_VIEW_PLAN' | translate }}
                    <span class="ml-5 sub-head-color">{{getFeild(portIndex,'draftRestriction')}}</span>
                </div>
                <div  class="pl-15 pr-15">
                    {{ 'DISCHARGE_STUDY_COW_VIEW_PLAN' | translate }}
                    <span class="ml-5 sub-head-color">{{getFeild(portIndex,'cow','name')}}</span>
                </div>
                <div  class="pl-15 pr-15">
                    {{'DISCHARGE_STUDY_VIEW_DISCHARGE_RATE' | translate}}
                    <span class="ml-5 sub-head-color">{{getFeild(portIndex,'dischargeRate')}}
                    {{'DISCHARGE_STUDY_VIEW_DISCHARGE_RATE_UNIT' | translate}}</span>
                </div>
            </div>
            <div>
                <cpdss-portal-datatable [tableId]="'discharge_cargo'" [form]="getFeild(portIndex,'cargoDetail')" [columns]="columns"
                    [value]="portDetail.cargoDetail" [listData]="listData">
                </cpdss-portal-datatable>
            </div>

            <div class="pt-20" *ngIf="getFeild(portIndex,'isBackLoadingEnabled')">
                <div class="mb-10 sub-head-color">{{'DISCHARGE_STUDY_BACK_LOADING' | translate}}</div>
                <cpdss-portal-datatable [tableId]="'discharge_cargo_back_loading'" [form]="getFeild(portIndex,'backLoadingDetails')" [columns]="backLoadingColumns"
                    [value]="portDetail?.backLoadingDetails"  [listData]="listData"
                    [showTotal]="true">
                </cpdss-portal-datatable>
            </div>
            <br>
        </div>
    </div>
    </form>
</div>