<div class="confirmation-wrapper" [ngClass]="{'show': isActive}">
<p-toast id="confirmation_alert" position="center" styleClass="confirmation-dialog" key="confirmation-alert" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="container-fluid">
            <div class="row">
                <div class="col mb-10">
                    <h6>{{message?.summary | translate}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-1"><i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i></div>
                <div class="col">
                    <p class="no-bottom-margin">{{message?.detail| translate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button type="button" class="btn btn-main mr-5" id="confirmation_alert_confirm_btn" (click)="onConfirm()"
                       >{{message?.data?.confirmLabel| translate}}</button>
                        <button type="button" id="confirmation_alert_reject_btn" (click)="onReject()"
                        class="btn btn-main">{{message?.data?.rejectLabel| translate}}</button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
</div>
