/*Created with Adobe RoboHelp.*/
.RH-LAYOUT-CENTERPANEL-topic-box h1, .RH-LAYOUT-FOOTER-container h1 {
  font-weight: bold;
  font-size: 32px;
  font-family: Lato;
  color: #005199;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2, .RH-LAYOUT-FOOTER-container h2 {
  font-weight: bold;
  font-size: 28px;
  font-family: Calibri;
  color: #0c5a9a;
}
.RH-LAYOUT-CENTERPANEL-topic-box h3, .RH-LAYOUT-FOOTER-container h3 {
  font-weight: bold;
  font-size: 24px;
  font-family: Calibri;
  color: #0058A9;
}
.RH-LAYOUT-CENTERPANEL-topic-box h4, .RH-LAYOUT-FOOTER-container h4 {
  font-weight: bold;
  font-size: 20px;
  font-family: Calibri;
  color: #095697;
}
.RH-LAYOUT-CENTERPANEL-topic-box h5, .RH-LAYOUT-FOOTER-container h5 {
  font-weight: bold;
  font-size: 16px;
  font-family: Calibri;
  color: #003580;
}
.RH-LAYOUT-CENTERPANEL-topic-box h6, .RH-LAYOUT-FOOTER-container h6 {
  font-weight: bold;
  font-size: 14px;
  color: #006BFF;
}
.RH-LAYOUT-CENTERPANEL-topic-box p, .RH-LAYOUT-FOOTER-container p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.textbody, .RH-LAYOUT-FOOTER-container p.textbody {
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  font-family: Lato;
  font-size: 16px;
  line-height: 2;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.expandspot, .RH-LAYOUT-FOOTER-container a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.expandtext, .RH-LAYOUT-FOOTER-container span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.dropspot, .RH-LAYOUT-FOOTER-container a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.glossterm, .RH-LAYOUT-FOOTER-container a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.glosstext, .RH-LAYOUT-FOOTER-container span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol, .RH-LAYOUT-FOOTER-container ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  counter-reset: item1;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ul, .RH-LAYOUT-FOOTER-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-caption, .RH-LAYOUT-FOOTER-container a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.minitoc-caption, .RH-LAYOUT-FOOTER-container p.minitoc-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list, .RH-LAYOUT-FOOTER-container ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list ol, .RH-LAYOUT-FOOTER-container ol.minitoc-list ol {
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-list-item, .RH-LAYOUT-FOOTER-container a.minitoc-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box div.breadcrumbs, .RH-LAYOUT-FOOTER-container div.breadcrumbs {}
.RH-LAYOUT-CENTERPANEL-topic-box span.breadcurmbs-home-prefix, .RH-LAYOUT-FOOTER-container span.breadcurmbs-home-prefix {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcurmbs-home, .RH-LAYOUT-FOOTER-container a.breadcurmbs-home {}
.RH-LAYOUT-CENTERPANEL-topic-box .breadcurmbs-separator, .RH-LAYOUT-FOOTER-container .breadcurmbs-separator {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-link, .RH-LAYOUT-FOOTER-container a.breadcrumbs-link {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-topic, .RH-LAYOUT-FOOTER-container a.breadcrumbs-topic {}
.RH-LAYOUT-CENTERPANEL-topic-box p.seealso-caption, .RH-LAYOUT-FOOTER-container p.seealso-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.seealso-list, .RH-LAYOUT-FOOTER-container ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.seealso-list-item, .RH-LAYOUT-FOOTER-container a.seealso-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box p.reltopics-caption, .RH-LAYOUT-FOOTER-container p.reltopics-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.reltopics-list, .RH-LAYOUT-FOOTER-container ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.reltopics-list-item, .RH-LAYOUT-FOOTER-container a.reltopics-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Disc, .RH-LAYOUT-FOOTER-container ul.Disc {
  list-style-type: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Circle, .RH-LAYOUT-FOOTER-container ul.Circle {
  list-style-type: circle;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Decimal, .RH-LAYOUT-FOOTER-container ol.Decimal {
  list-style-type: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
  --evenrows-theme-color: #bfbfbf;
  --evenrows-row-color: rgba(191, 191, 191, 0.5);
  --hdrevenrows-theme-color: #ed7d31;
  --hdrevenrows-row-color: rgba(237, 125, 49, 0.25);
  --hdrevenrows-brdr-color: rgba(237, 125, 49, 0.5);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.evenrows, .RH-LAYOUT-FOOTER-container table.evenrows {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.evenrows td, .RH-LAYOUT-FOOTER-container table.evenrows td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--evenrows-theme-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.evenrows tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.evenrows tr:nth-child(even) td {
  background-color: var(--evenrows-row-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows, .RH-LAYOUT-FOOTER-container table.hdrevenrows {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows td, .RH-LAYOUT-FOOTER-container table.hdrevenrows td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--hdrevenrows-brdr-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows tr:first-child td, .RH-LAYOUT-FOOTER-container table.hdrevenrows tr:first-child td {
  background-color: var(--hdrevenrows-theme-color);
  color: #FFFFFF;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.hdrevenrows tr:nth-child(even) td {
  background-color: var(--hdrevenrows-row-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets, .RH-LAYOUT-FOOTER-container ol.Bullets {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 16px;
  counter-reset: item1;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li>ol, .RH-LAYOUT-FOOTER-container ol.Bullets>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  counter-reset: item2;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.Bullets>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 4px;
  counter-reset: item3;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.Bullets>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, square);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: Lato;
  font-size: 16px;
  color: #000000;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.Bullets>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 4px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li:before, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: Lato;
  color: #000000;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li>ol, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  counter-reset: item2;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, decimal)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li>ol>li, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.Bullets>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, circle);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: Lato;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li>ol>li, .RH-LAYOUT-FOOTER-container ol.Bullets>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 0px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li:before, .RH-LAYOUT-FOOTER-container ol.Bullets>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-family: Lato;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Bullets>li, .RH-LAYOUT-FOOTER-container ol.Bullets>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 16px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li>ol>li>ol {
  list-style: none;
  --prefix-size: 41px;
  --prefix-fixed-size: true;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 4px;
  counter-reset: item3;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, lower-roman)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.numbers-cpdss>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.numbers-cpdss>li>ol>li>ol>li {
  --prefix-size: 41px;
  --prefix-fixed-size: true;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 4px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}