<div class="row pt-30 heading-border no-gutters mb-10">
  <div class="col-md-6">
    <h5 class="">{{'LOADING_DISCHARGING_BERTH_HEADER' | translate}}</h5>
  </div>
  <div class="col-md-6 text-right" *ngIf="editMode">
    <a id="add_berth_btn"
      [ngStyle]="{'pointer-events': (disableAddBtn || (berthFormArray.controls?.length === availableBerths?.length)) ? 'none' : null}"
      class="plus-icon plus-icon-rounded" (click)="addBerth(null)"> </a>
  </div>
</div>

<form [formGroup]="berthForm" autocomplete="off">
  <div formArrayName="berth" class="row no-gutters">
    <div [formGroupName]="i" class="col-6 mb-5" *ngFor="let berthData of berthFormArray.controls; let i = index;">
      <div class="error-icon-wrapper dropdown-berth pr-15 mr-5">
        <ng-container *ngIf="berthData.controls && berthData.controls.edit.value">
          <p-dropdown id="{{'berth_select_'+ i}}" styleClass="form-control dropdown-panel-auto" [filter]="true"
            [options]="availableBerths" optionLabel="berthName" [formControl]="berthData.controls['name']"
            (onChange)="onBerthChange($event, i)" placeholder="{{'LOADING_DISCHARGING_BERTH_SELECT_LABEL' | translate}}"
            [readonly]="!editMode" resetFilterOnHide="true">
          </p-dropdown>
        </ng-container>
        <ng-container>
          <cpdss-portal-validation-error [errors]="getErrorDetails(i)" [errorMessages]="errorMesages.berth">
          </cpdss-portal-validation-error>
        </ng-container>

        <ng-container *ngIf="!berthData.controls.edit.value">
          <div class="bg-highlight" (click)="selectBerth(berthData, i)">
            <span class="v-top">{{(i+1) + '. '}}</span><label
              class="mb-0 content-berth">{{berthData?.controls?.name?.value?.berthName}}</label>
            <div class="pull-right">
              <span *ngIf="editMode"><a type="button" id="edit-berth-btn" class="pencil-icon mr-5"
                  (click)="editBerth(berthData, i)"></a></span>
              <span *ngIf="editMode"><a type="button" id="delete-berth-btn" class="delete-icon"
                  (click)="deleteBerth(berthData, i)"></a></span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</form>
<div class="row pt-10">
  <div class="col-md-12">
    <form [formGroup]="berthDetailsForm" id="fg_load_discharge_details">
      <div class="container-fluid">
        <div class="row item-row-wrapper">
          <div class="col">

            <div class="row">
              <label>{{'LOADING_DISCHARGING_BERTH_SELECTED_HEADER' | translate}}</label>
            </div>
            <div class="row form-group">
              <label for="berth-name" class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_NAME_LABEL' |
                translate}}</label>
              <div class="col">
                <input type="text" *ngIf="editMode;else berthName" [negative]="false" class="form-control"
                  id="berth-name" formControlName="berthName"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_NAME_PLACE_HOLDER' | translate}}"
                  (change)="change('berthName')" readonly>
                <ng-template #berthName>
                  <div class="text-right">{{berthDetailsFormControl?.berthName?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-depth" class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_DEPTH_LABEL'
                |
                translate}}</label>
              <div class="col">
                <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" id="berth-depth"
                  *ngIf="editMode;else maxShipDepth" formControlName="maxShipDepth"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_DEPTH_PLACE_HOLDER' | translate}}"
                  (change)="change('maxShipDepth')" [readonly]="false">
                <ng-template #maxShipDepth>
                  <div class="text-right">{{berthDetailsFormControl?.maxShipDepth?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-slong-hose"
                class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_ALONG_HOSE_LABEL' |
                translate}}</label>
              <div class="col error-icon-wrapper">
                <textarea type="text" class="form-control" id="berth-slong-hose" *ngIf="editMode;else hoseConnections"
                  formControlName="hoseConnections"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_ALONG_HOSE_PLACE_HOLDER' | translate}}"
                  (change)="change('hoseConnections')" [readonly]="false"></textarea>
                <ng-template #hoseConnections>
                  <div class="text-right">{{berthDetailsFormControl?.hoseConnections?.value}}</div>
                </ng-template>
                <cpdss-portal-validation-error [errors]="fieldError('hoseConnections')"
                  [errorMessages]="errorMesages.hoseConnections"></cpdss-portal-validation-error>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-sea-draft"
                class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_SEA_DRAFT_LABEL' |
                translate}}</label>
              <div class="col">
                <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" id="berth-sea-draft"
                  *ngIf="editMode;else seaDraftLimitation" formControlName="seaDraftLimitation"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_SEA_DRAFT_PLACE_HOLDER' | translate}}"
                  (change)="change('seaDraftLimitation')" [readonly]="false">
                <ng-template #seaDraftLimitation>
                  <div class="text-right">{{berthDetailsFormControl?.seaDraftLimitation?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-air-draft"
                class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_AIR_DRAFT_LABEL' |
                translate}}</label>
              <div class="col">
                <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" id="berth-air-draft"
                  *ngIf="editMode;else airDraftLimitation" formControlName="airDraftLimitation"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_AIR_DRAFT_PLACE_HOLDER' | translate}}"
                  (change)="change('airDraftLimitation')" [readonly]="false">
                <ng-template #airDraftLimitation>
                  <div class="text-right">{{berthDetailsFormControl?.airDraftLimitation?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group" *ngIf="operation === OPERATIONS.DISCHARGING">
              <label class="col-5 no-left-padding">{{'DISCHARGING_BERTH_SELECTED_CARGO_CIRCULATION_AIR_PURGE_LABEL' |
                translate}}</label>
              <div class="col">
                <label class="checkbox-custom pr-20">{{'DISCHARGING_CARGO_CIRCULATION'
                  | translate}}
                  <input type="checkbox" *ngIf="editMode;else cargoCirculation" formControlName="cargoCirculation"
                    (change)="change('cargoCirculation')">
                  <span class="checkmark"></span>
                </label>
                <ng-template #cargoCirculation>
                  <div class="text-right">{{berthDetailsFormControl?.cargoCirculation?.value}}</div>
                </ng-template>
                <label class="checkbox-custom pr-20">{{'DISCHARGING_AIR_PURGE'
                  | translate}}
                  <input type="checkbox" *ngIf="editMode;else airPurge" formControlName="airPurge" (change)="change('airPurge')">
                  <span class="checkmark"></span>
                </label>
                <ng-template #airPurge>
                  <div class="text-right">{{berthDetailsFormControl?.airPurge?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-manofold-height" class="col-5 no-left-padding">{{(operation === OPERATIONS.DISCHARGING ?
                'DISCHARGING_BERTH_SELECTED_MANIFOLD_HEIGHT_LABEL' : 'LOADING_BERTH_SELECTED_MANIFOLD_HEIGHT_LABEL')
                | translate}}</label>
              <div class="col">
                <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                  id="berth-manofold-height" *ngIf="editMode;else maxManifoldHeight" formControlName="maxManifoldHeight"
                  placeholder="{{(operation === OPERATIONS.DISCHARGING ? 'DISCHARGING_BERTH_SELECTED_MANIFOLD_HEIGHT_PLACE_HOLDER' : 'LOADING_BERTH_SELECTED_MANIFOLD_HEIGHT_PLACE_HOLDER') | translate}}"
                  (change)="change('maxManifoldHeight')" [readonly]="false">
                <ng-template #maxManifoldHeight>
                  <div class="text-right">{{berthDetailsFormControl?.maxManifoldHeight?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group" *ngIf="operation === OPERATIONS.DISCHARGING">
              <label for="berth-manofold-pressure"
                class="col-5 no-left-padding">{{'DISCHARGING_BERTH_SELECTED_MANIFOLD_PRESSURE_LABEL'
                | translate}}</label>
              <div class="col">
                <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                  id="berth-manofold-height" *ngIf="editMode;else maxManifoldPressure"
                  formControlName="maxManifoldPressure"
                  placeholder="{{(operation === OPERATIONS.DISCHARGING ? 'DISCHARGING_BERTH_SELECTED_MANIFOLD_PRESSURE_PLACE_HOLDER' : 'LOADING_BERTH_SELECTED_MANIFOLD_PRESSURE_PLACE_HOLDER') | translate}}"
                  (change)="change('maxManifoldPressure')">
                <ng-template #maxManifoldPressure>
                  <div class="text-right">{{berthDetailsFormControl?.maxManifoldPressure?.value}}</div>
                </ng-template>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-manofold-height"
                class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_LINE_DISPLACEMENT_LABEL'
                | translate}}</label>
              <div class="col error-icon-wrapper">
                <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control"
                  id="berth-line -displacement" *ngIf="editMode;else lineDisplacement"
                  formControlName="lineDisplacement"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_LINE_DISPLACEMENT_PLACE_HOLDER' | translate}}"
                  (change)="change('lineDisplacement')" [readonly]="false">
                <ng-template #lineDisplacement>
                  <div class="text-right">{{berthDetailsFormControl?.lineDisplacement?.value}}</div>
                </ng-template>
                <cpdss-portal-validation-error [errors]="fieldError('lineDisplacement')"
                  [errorMessages]="errorMesages.lineDisplacement"></cpdss-portal-validation-error>
              </div>
            </div>
            <div class="row form-group">
              <label for="berth-regulation-restriction"
                class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_REGULATION_RESTRICTION_LABEL'
                | translate}}</label>
              <div class="col error-icon-wrapper">
                <textarea type="text" class="form-control" id="berth-regulation-restriction"
                  *ngIf="editMode;else regulationAndRestriction" formControlName="regulationAndRestriction"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_REGULATION_RESTRICTION_PLACE_HOLDER' | translate}}"
                  (change)="change('regulationAndRestriction')" [readonly]="false"></textarea>
                <ng-template #regulationAndRestriction>
                  <div class="text-right">{{berthDetailsFormControl?.regulationAndRestriction?.value}}</div>
                </ng-template>
                <cpdss-portal-validation-error [errors]="fieldError('regulationAndRestriction')"
                  [errorMessages]="errorMesages.regulationAndRestriction">
                </cpdss-portal-validation-error>
              </div>
            </div>

            <div class="row form-group">
              <label for="berth-itemsToBeAgreedWith"
                class="col-5 no-left-padding">{{'LOADING_DISCHARGING_BERTH_SELECTED_ITEMS_TO_BE_AGREED_WITH_LABEL'
                | translate}}</label>
              <div class="col  error-icon-wrapper">
                <textarea type="text" class="form-control" id="berth-itemsToBeAgreedWith"
                  *ngIf="editMode;else itemsToBeAgreedWith" formControlName="itemsToBeAgreedWith"
                  placeholder="{{'LOADING_DISCHARGING_BERTH_SELECTED_ITEMS_TO_BE_AGREED_WITH_PLACE_HOLDER' | translate}}"
                  (change)="change('itemsToBeAgreedWith')" [readonly]="false"></textarea>
                <ng-template #itemsToBeAgreedWith>
                  <div class="text-right">{{berthDetailsFormControl?.itemsToBeAgreedWith?.value}}</div>
                </ng-template>
                <cpdss-portal-validation-error [errors]="fieldError('itemsToBeAgreedWith')"
                  [errorMessages]="errorMesages.itemsToBeAgreedWith"></cpdss-portal-validation-error>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
