<div class="tank-outer-pattern cargo" [ngClass]="options?.class">
    <div class="ship-front-pattern"></div>
    <div class="ship-rear-pattern">
    </div>
    <div class="tank-inner-wrapper-pattern">
        <div class="tank-column-pattern" *ngFor="let group of tanks"
            [ngStyle]="{'width':getTankGroupWidthPercentage(tanks[0],group,tanks[tanks.length-1])}">
            <div *ngFor="let tank of group" [ngStyle]="{'grid-column': tank?.gridColumn}"
                [class.active]="tank?.id === selectedTankId"
                (click)="options?.isSelectable && onTankSelect($event, tank?.id)">
                <div [ngStyle]="{'background-color':tank.commodity?.colorCode, 'height': (tank?.commodity && options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled) + '%'}"
                    class="tank-level-pattern">

                </div>
                <p-overlayPanel #op appendTo="body" styleClass="tank-tooltip {{!(tank?.commodity && tank?.commodity[options?.weightField]) ? 'empty' : ''}}" >
                    <ul *ngIf="tank" class="row list-unstyled">
                        <li class="col-5">{{'TANK_LAYOUT_TANK'| translate}} </li>
                        <li class="col-7">{{tank?.shortName}}</li>
                        <ng-container *ngIf="tank?.commodity && tank?.commodity[options?.weightField]">
                            <li class="col-5">{{'TANK_LAYOUT_CARGO'| translate}}</li>
                            <li class="col-7">
                                {{tank?.commodity[options?.commodityNameField] ? tank?.commodity[options?.commodityNameField] : ''}}
                            </li>
                            <li class="col-5">{{'TANK_LAYOUT_ULLAGE'| translate}}</li>
                            <li class="col-7">
                                {{tank?.commodity[options?.ullageField] ? (tank?.commodity[options?.ullageField] | number :'1.2-2') : 0}}
                                {{options?.ullageUnit}}</li>
                            <li class="col-5">{{'TANK_LAYOUT_API'| translate}}</li>
                            <li class="col-7">
                                {{(tank?.commodity[options?.densityField] ? (tank?.commodity[options?.densityField] |  number ) : 0 ) | number: '1.2-2'}}
                            </li>
                            <li class="col-5">{{'TANK_LAYOUT_QUANTITY'| translate}}</li>
                            <li class="col-7">
                                {{tank?.commodity[options?.weightField] ? (tank?.commodity[options?.weightField] | quantityDecimalFormat : options?.weightUnit)  : 0}}
                                {{options?.weightUnit}}
                            </li>
                            <li class="col-5">{{'TANK_LAYOUT_PERCENTAGE'| translate}}</li>
                            <li class="col-7"> {{options?.fillingPercentageField ?
                            (tank?.commodity[options?.fillingPercentageField] | number :'1.2-2') : (tank?.percentageFilled | number :'1.2-2')}}%</li>
                        </ng-container>
                    </ul>
                </p-overlayPanel>
                <div class="tank-btn-rounded" *ngIf="options?.showTooltip" (mouseenter)="tank && op.toggle($event)"
                (mouseleave)="tank && op.toggle($event)"></div>

                <h5 class="tank-name">{{tank?.shortName}}
                </h5>
                <ng-container *ngIf="tank?.commodity">
                    <span *ngIf="options?.showCommodityName"
                        class="tank-commodity-name">{{tank?.commodity?.cargoAbbreviation}}</span>
                    <div class="tank-item-valign">
                        <div *ngIf="options?.showVolume" class="tank-commodity-volume">
                            {{tank?.commodity[options?.volumeField] | quantityDecimalFormat :options?.volumeUnit }}
                            {{options?.volumeUnit}}</div>
                        <span *ngIf="options?.showWeight"
                            class="tank-commodity-weight">{{tank?.commodity[options?.weightField] | quantityDecimalFormat : options?.weightUnit }}
                            {{options?.weightUnit}}</span>
                           
                    
                    </div>
                    <span *ngIf="options?.showUllage"
                    class="tank-commodity-ullage">{{tank?.commodity[options?.ullageField] | number :'1.2-2' }}
                    {{options?.ullageUnit}}</span>
                    <span *ngIf="options?.showFillingPercentage"
                        class="tank-filling-percentage">{{options?.fillingPercentageField ?
                        (tank?.commodity[options?.fillingPercentageField] | number :'1.2-2'): (tank?.percentageFilled | number :'1.2-2')}}%</span>
                </ng-container>
            </div>
        </div>
    </div>
</div>
