<div class="row">
    <div class="col-4">
        <div class="row">
            <cpdss-portal-plan-side-panel style="width: 100%;"></cpdss-portal-plan-side-panel>
        </div>
    </div>
    <div class="col-md-8">
        <cpdss-portal-arrival-condition></cpdss-portal-arrival-condition>
        <cpdss-portal-departure-condition></cpdss-portal-departure-condition>
        <div class="row border-bottom border-secondary pb-5">
            <div class="col-md-12 pt-20">
                <label>CARGO TYPE TOPPING OFF SCIENCE</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-5">
                <!-- <div class="row border-bottom border-secondary">
                    <div class="col-md-3">
                        <label>Topping Off Rate</label>
                    </div>
                    <div class="col-md-9 pb-5">
                        <button class="btn btn-main">Initial</button>
                        <button class="btn btn-main">Final</button>
                    </div>
                </div> -->
                <div class="row">
                    <cpdss-portal-topping-off-tank-table></cpdss-portal-topping-off-tank-table>
                </div>
            </div>
        </div>
    </div>
</div>