<div class="container-fluid">
  <div class="row">
    <div class="col text-uppercase pt-5">
      {{selectedPortName}}
    </div>
    <div class="col text-right">
      <button class="btn btn-main mr-10" id="discharge-plan-view-error" [disabled]="disablePlanViewErrorBtn"
        (click)="viewError()">{{'DISCHARGING_INFORMATION_VIEW_ERROR_BUTTON_LABEL' |translate}}</button>
      <button class="btn btn-main mr-10" id="in-use" [disabled]="true">
        <span class="pi pi-check check-rounded v-t-bottom"></span>
        {{'DISCHARGING_INFORMATION_IN_USE_BUTTON_LABEL' |translate}}
      </button>
      <button class="btn btn-main mr-10" id="actual" [disabled]="true">
        <span class="pi pi-check check-rounded v-t-bottom"></span>
        {{'DISCHARGING_INFORMATION_ACTUAL_BUTTON_LABEL' |translate}}
      </button>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center loading-and-discharging-tab">
      <a (click)="switchTab(OPERATION_TAB.INFORMATION)"
        [ngClass]="{'active' : currentTab === OPERATION_TAB.INFORMATION, 'disabled' : !dischargingInfoTabPermission?.view}"
        class="tab-btn">
        {{'DISCHARGING_INFORMATION' | translate}}
        <div *ngIf="dischargingInformationComplete else incomplete" class="pt-5">
          <div class="tab-status-icon pi pi-check completed"></div> {{'COMPLETE'|translate}}
        </div>
        <ng-template #incomplete>
          <div class="pt-5">
            <div class="tab-status-icon pi pi-check"></div> {{'INCOMPLETE'|translate}}
          </div>
        </ng-template>
      </a>

      <a (click)="switchTab(OPERATION_TAB.INSTRUCTION)"
        [ngClass]="{'active' : currentTab === OPERATION_TAB.INSTRUCTION, 'disabled' : !dischargingInstructionTabPermission?.view}"
        class="tab-btn">
        {{'DISCHARGING_INSTRUCTION' | translate}}
        <div *ngIf="dischargingInstructionComplete else incomplete" class="pt-5">
          <div class="tab-status-icon pi pi-check completed"></div> {{'COMPLETE'|translate}}
        </div>
        <ng-template #incomplete>
          <div class="pt-5">
            <div class="tab-status-icon pi pi-check"></div> {{'INCOMPLETE'|translate}}
          </div>
        </ng-template>
      </a>

      <button class="btn btn-main tab-center-btn" id="generate-discharge-plan-btn" (click)="generateDischargingPlan()"
        [disabled]="(!dischargingInformationComplete || !dischargingInstructionComplete || disablePlanGenerateBtn)">{{'GENERATE_DISCHARGING_PLAN' | translate}}</button>

      <a (click)="switchTab(OPERATION_TAB.SEQUENCE)"
        [ngClass]="{'active' : currentTab === OPERATION_TAB.SEQUENCE, 'disabled' : !dischargeSequenceGenerated || !dischargingSequenceTabPermission?.view}"
        class="tab-btn">
        {{'DISCHARGING_SEQUENCE' | translate}}
        <div *ngIf="dischargeSequenceGenerated else sequenceNotGenerated" class="pt-5">
          <div class="tab-status-icon pi pi-check completed"></div> {{'GENERATED_CLICK'|translate}}
        </div>
        <ng-template #sequenceNotGenerated>
          <div class="pt-5">
            <div class="tab-status-icon pi pi-check"></div> {{'NOT_GENERATED'|translate}}
          </div>
        </ng-template>
      </a>

      <a (click)="switchTab(OPERATION_TAB.PLAN)"
        [ngClass]="{'active' : currentTab === OPERATION_TAB.PLAN, 'disabled' : !dischargePlanGenerated || !dischargingPlanTabPermission?.view}"
        class="tab-btn">
        {{'DISCHARGING_PLAN' | translate}}
        <div *ngIf="dischargePlanGenerated else planNotGenerated" class="pt-5">
          <div class="tab-status-icon pi pi-check completed"></div> {{'GENERATED_CLICK'|translate}}
        </div>
        <ng-template #planNotGenerated>
          <div class="pt-5">
            <div class="tab-status-icon pi pi-check"></div> {{'NOT_GENERATED'|translate}}
          </div>
        </ng-template>
      </a>
    </div>
  </div>

  <cpdss-portal-discharging-information (dischargingInformationId)="setDischargingInfoId($event)" [cargos]="cargos"
    [vesselId]="vesselId" *ngIf="currentTab === OPERATION_TAB.INFORMATION" [voyageId]="voyageId"
    [portRotationId]="portRotationId" [permission]="dischargingInfoTabPermission">
  </cpdss-portal-discharging-information>

  <div class="row" *ngIf="currentTab === OPERATION_TAB.INSTRUCTION">
    <cpdss-portal-discharging-instruction #dischargingInstruction [vesselId]="vesselId" [voyageId]="voyageId"
      [portRotationId]="portRotationId" [dischargeInfoId]="dischargeInfoId"
      [permission]="dischargingInstructionTabPermission"></cpdss-portal-discharging-instruction>
  </div>

  <div class="row" *ngIf="currentTab === OPERATION_TAB.SEQUENCE">
    <div class="col">
      <cpdss-portal-discharging-sequence [vesselId]="vesselId" [voyageId]="voyageId" [dischargeInfoId]="dischargeInfoId"
        [operation]="OPERATIONS.DISCHARGING" [permission]="dischargingSequenceTabPermission">
      </cpdss-portal-discharging-sequence>
    </div>
  </div>

  <div class="row" *ngIf="currentTab === OPERATION_TAB.PLAN">
    <div class="col">
      <cpdss-portal-discharging-plan [cargos]="cargos" [vesselId]="vesselId" [voyageId]="voyageId"
        [dischargeInfoId]="dischargeInfoId" [portRotationId]="portRotationId"
        [permission]="dischargingPlanTabPermission"></cpdss-portal-discharging-plan>
    </div>
  </div>

  <cpdss-portal-error-log-popup [(visible)]="errorPopUp" (visibleChange)="viewError()"
    [header]="'GENERATED_PLAN_ERROR_MESSAGE_HEADING'" [errorMessage]="errorMessage"></cpdss-portal-error-log-popup>

</div>
