<p-dialog id="dialog_pattern_view_more_popup"
    header="{{'PATTERN_VIEW_MORE_CASE_LABEL' |translate}} {{selectedLoadablePattern?.caseNumber}} {{'PATTERN_VIEW_MORE_POPUP_HEADER' | translate}}"
    [(visible)]="display" [modal]="true" styleClass="pattern-view-more-popup" [draggable]="false" [responsive]="true"
    [closable]="false" *ngIf="display">
    <div class="row pb-15 pt-15">
        <div class="col  text-center">
            <a class="tab-btn tab-btn-default" [ngClass]="{'active': selectedTab === tankType.CARGO}"
                id="pattern_view_more_cargo_tab" (click)="onTabClick(tankType.CARGO)">{{'PATTERN_VIEW_MORE_CARGO_TAB' |
                translate}}
            </a>
            <a class="tab-btn tab-btn-default" [ngClass]="{'active': selectedTab === tankType.BALLAST}"
                id="pattern_view_more_ballast_tab"
                (click)="onTabClick(tankType.BALLAST)">{{'PATTERN_VIEW_MORE_BALLAST_TAB' | translate}}
            </a>
        </div>
        <div class="col pattern-view-sidebar"></div>
    </div>
    <div class="row">

        <div class="col">
            <cpdss-portal-grade-loading-order *ngIf="selectedTab === tankType.CARGO"
                [loadablePatternCargoDetails]="selectedLoadablePattern.loadablePatternCargoDetails"
                [showCaseLabel]="false" [index]="index">
            </cpdss-portal-grade-loading-order>
            <cpdss-portal-constraint *ngIf="selectedTab === tankType.CARGO" [constraint]="selectedLoadablePattern.constraints"></cpdss-portal-constraint>
            <div class="col col-11 m-auto" *ngIf="selectedTab === tankType.CARGO">
                <cpdss-portal-cargo-tank-layout [tanks]="cargoTanks" [options]="cargoTankOptions">
                </cpdss-portal-cargo-tank-layout>
            </div>
            <div class="col-11 m-auto pattern-view-more-ballast" *ngIf="selectedTab === tankType.BALLAST">
                <cpdss-portal-ballast-layout [tanks]="centerBallastTanks" [rearTanks]="rearBallastTanks"
                    [frontTanks]="frontBallastTanks" [options]="ballastTankOptions">
                </cpdss-portal-ballast-layout>
            </div>
        </div>
        <div class="col pattern-view-sidebar">
            <div class="row" >
               <div class="col mb-10" *ngIf="selectedTab === tankType.CARGO">
                <cpdss-portal-unit-dropdown (unitChange)="onUnitChange($event)" ></cpdss-portal-unit-dropdown>
               </div>
            </div>
            <cpdss-portal-cargo-priority-grid [tableCol]="cargoTableCol" *ngIf="selectedTab === tankType.CARGO"
                [styleClass]="'table-pattern-view-more'"
                [loadablePatternCargoDetails]="selectedLoadablePattern?.loadablePatternCargoDetails"
                [totalHeader]="'PATTERN_VIEW_MORE_CARGO_GRID_FOOTER_TOTAL'" [showTotalDifference]="false"
                [showMoreButton]='false'>
            </cpdss-portal-cargo-priority-grid>
            <div class="row" *ngIf="selectedTab === tankType.BALLAST">
                <div class="col">
                    {{'PATTERN_VIEW_MORE_BALLAST_TOTAL' | translate}}
                </div>
                <div class="col">
                    {{totalBallast | number :'1.2-2'}}&nbsp;{{currentQuantitySelectedUnit }}
                </div>
            </div>
            <cpdss-portal-synoptical-grid
                [loadablePlanSynopticRecord]="selectedLoadablePattern?.loadablePlanSynopticRecord">
            </cpdss-portal-synoptical-grid>
        </div>
    </div>

    <div class="row pt-25"  *ngIf="selectedTab === tankType.CARGO">
        <div class="col  mr-30">
            <h5 class="heading-border secondary-text pb-10 mb-10">{{'PATTERN_VIEW_MORE_POPUP_CARGO_TO_BE_LOADED_HEADER'
                | translate}}</h5>
        </div>
    </div>
    <div class="row"  *ngIf="selectedTab === tankType.CARGO">
        <div class="col  ml-30 mr-30">
            <cpdss-portal-datatable [tableId]="'cargoTobeLoaded'" [columns]="cargoTobeLoadedColumns"
                [value]="cargoTobeLoaded" [scrollable]="false">
            </cpdss-portal-datatable>
        </div>
    </div>
    <p-footer>
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-main" (click)="closeDialog()"
                    id="pattern-view-more-popup-cancel" focusTrap>{{'PATTERN_VIEW_MORE_POPUP_CANCEL_BUTTON' |
                    translate}}</button>
                <button type="button" class="btn btn-main" id="pattern-view-more-popup-view-plan"
                    (click)="viewPlan()" autofocus focusTrap>{{'PATTERN_VIEW_MORE_POPUP_VIEW_PLAN_BUTTON' |
                    translate}}</button>

            </div>
        </div>
    </p-footer>
</p-dialog>