<div class="row">
    <div class="col">
        <cpdss-portal-grade-loading-order [loadablePatternCargoDetails]="loadablePattern.loadablePatternCargoDetails"
            [index]="index">
        </cpdss-portal-grade-loading-order>
        <cpdss-portal-constraint [constraint]="loadablePattern.constraints"></cpdss-portal-constraint>
        <cpdss-portal-cargo-tank-layout [options]="cargoTankOptions" [tanks]="tanks"></cpdss-portal-cargo-tank-layout>
    </div>
    <div class="col-5">
        <cpdss-portal-cargo-priority-grid [tableCol]="tableCol" [styleClass]="'table-pattern'" [loadablePatternCargoDetails]="loadablePattern.loadablePatternCargoDetails"
            [totalHeader]="'CARGO_PRIORITY_GRID_FOOTER_TOTAL'" (isCommingle)="showComminglePopup($event)" (patternViewMore)="patternViewMore($event)">
        </cpdss-portal-cargo-priority-grid>
    </div>
</div>