
<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col vessel-info-wrapper">
            <div class="row">
                <div class="col">
                    <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo">
                    </cpdss-portal-vessel-info>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="col-form-label pr-10 text-uppercase">{{
                        'DISCHARGE_STUDY_DETAILS_VOYAGE_DROPDOWN_LABEL' | translate }}</label>

                    <p-dropdown id="voyage_dropdown" styleClass="dropdown-w-180" [options]="voyages"
                        [(ngModel)]="selectedVoyage" filter="true" optionLabel="voyageNo"
                        (onChange)="onVoyageChange($event)" resetFilterOnHide="true"></p-dropdown>
                </div>
            </div>
            <div class="row" *ngIf="dischargeStudies?.length">
                <div class="col">
                    <label class="col-form-label pr-10 text-uppercase">{{ 'DISCHARGE_STUDY_LIST_DROPDOWN' | translate }}</label>
        
                    <p-dropdown id="discharge_study_dropdown" appendTo="body" styleClass="dropdown-w-180" [options]="dischargeStudies"
                        [(ngModel)]="selectedDischargeStudy" filter="true" optionLabel="name"
                        (onChange)="onDischargeStudyChange($event)" resetFilterOnHide="true"></p-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"  *ngIf="!dischargeStudies?.length && voyages">
                    <p class="text-uppercase text-center text-danger">{{'DISCHARGE_STUDY_PORTS_VIEW_PLAN_NOT_AVAILABLE' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <div class="">
                <button id="generate_plan" class="btn btn-main mr-10">{{'DISCHARGE_STUDY_VIEW_CONFIRM_PLAN' |
                    translate}}</button>
    
                <button id="view_plan" class="btn btn-main"
                    (click)="backToDischargeStudy()">{{'DISCHARGE_STUDY_VIEW_BACK_TO_DISCHARGE_STUDY' | translate
                    }}</button>
            </div>
        </div>
        
    </div>
    <div *ngIf="dischargeStudies?.length && !dischargeStudyPlanDetails?.length">
        {{'DISCHARGE_PLAN_VIEW_NO_PLAN_GENERATED' |translate}}
    </div>
    <cpdss-portal-view-plan *ngIf="ports && cargos && selectedDischargeStudy" [cargos]="cargos" [ports]="ports" [vesselId]="vesselId" [voyageId]="voyageId" [voyage]="selectedVoyage"
        [dischargeStudyId]="dischargeStudyId" [dischargeStudy]="selectedDischargeStudy" (dischargeStudyPlan)="planDetails($event)"></cpdss-portal-view-plan>

</div>
