<p-table [value]="values" styleClass="body-header-row-span-table">
    <ng-template pTemplate="colgroup" >
        <colgroup>
            <col class="table-header-machinery">
            <col class="checkbox-column">
            <col class="name-column">
            <col class="">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>CARGO MACHINERY IN USE</th>
            <th>USING</th>
            <th>NAME</th>
            <th>CAPACITY(M3)</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index>
        <ng-container *ngFor="let column of row.columns; let i=index">
            <tr>
                <td *ngIf="i === 0" [attr.rowspan]="row.columns.length">{{row.machine}}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="column.isUsing" (change)="onUse(column)">
                </td>
                <td>{{column?.pumpName}}</td>
                <td>
                    <input type="text" cpdssPortalNumberDecimal [(ngModel)]="column.capacity" class="form-control" [disabled]="!column.isUsing" (change)="onChange(column)">
                </td>
            </tr>
        </ng-container>    
    </ng-template>
</p-table>