<div>
    <div  class="row">
       Commingled Cargo Details
    </div>
    <div  class="row">
        <p-table #datatable [columns]="columns" [value]="value">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        <table>
                            <tr>
                                <th>{{col.header}}</th>
                            </tr>
                            <tr>
                                <th *ngFor="let subCol of col?.subColumns">
                                    <span>{{subCol.header}}</span>
                                </th>
                            </tr>
                        </table>
                    </th>
                </tr>
               
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span *ngIf="col?.field; else sub_col">{{col?.header}}</span>
                        <ng-template #sub_col>
                            <ng-container *ngFor="let sub of col.subColumns">
                                {{sub.header}}j
                            </ng-container>
                        </ng-template>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>