<div class="tank-outer-pattern">
    <div class="ship-front-pattern"></div>
    <div class="ship-rear-pattern">
        <div class="rear-top-pattern"></div>
        <div class="rear-bottom-pattern">

        </div>
    </div>
    <div class="tank-inner-wrapper-pattern">
        <div class="tank-column-pattern">
            <div style="background:#14a0da;">
                <h5 class="tank-name">1P</h5>
            </div>
            <div style="background: #e9a15b">
                <h5 class="tank-name">1C</h5>
            </div>
            <div style="background:#226bff">
                <h5 class="tank-name">1S</h5>
            </div>
        </div>
        <div class="tank-column-pattern">
            <div style="background:#14a0da;">
                <h5 class="tank-name">1P</h5>
            </div>
            <div style="background: #e9a15b">
                <h5 class="tank-name">1C</h5>
            </div>
            <div style="background:#226bff">
                <h5 class="tank-name">1S</h5>
            </div>
        </div>
        <div class="tank-column-pattern">
            <div style="background:#14a0da;">
                <h5 class="tank-name">1P</h5>
            </div>
            <div style="background: #e9a15b">
                <h5 class="tank-name">1C</h5>
            </div>
            <div style="background:#226bff">
                <h5 class="tank-name">1S</h5>
            </div>
        </div>
        <div class="tank-column-pattern">
            <div style="background:#14a0da;">
                <h5 class="tank-name">1P</h5>
            </div>
            <div style="background: #e9a15b">
                <h5 class="tank-name">1C</h5>
            </div>
            <div style="background:#226bff">
                <h5 class="tank-name">1S</h5>
            </div>
        </div>
        <div class="tank-column-pattern two-column-tank">
            <div>
                <div style="background:#14a0da;">
                    <h5 class="tank-name">1S</h5>
                </div>
                <div style="background: #e9a15b">
                    <h5 class="tank-name">1S</h5>
                </div>
            </div>
            <div style="background:#226bff">
                <h5 class="tank-name">1S</h5>
            </div>
            <div>
                <div style="background: #e9a15b">
                    <h5 class="tank-name">1S</h5>
                </div>
                <div style="background:#226bff">
                    <h5 class="tank-name">1S</h5>
                </div>
            </div>
        </div>
    </div>
</div>
