.rear-tank-wrapper {
    position: absolute;
    left: 15px;
    bottom: 0;
    top: 0;
    width: 50px;

    >div {
        border: 1px solid;
        position: relative;
        width: 100%;
        height: 20%;

        &.active {
            border-width: 3px;
            outline-offset: -2px;
        }

        .tank-level {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        .tank-name {
            position: absolute;
            left: 3px;
            right: 3px;
            top: 17px;
            z-index: 2;
            text-align: center;
            font-size: 12px;
        }
        .tank-commodity-ullage{
            display: none;
        }
        &:last-child {
            border-bottom: 0;

            .tank-name {
                top: 4px;
            }
        }
    }
}

.front-tank-wrapper {
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 0;
    width: 50px;

    >div {
        position: relative;
        width: 100%;
        &:nth-child(2){
            border-top: 2px solid;
          }
        &.active {
            border-width: 3px;
            outline-offset: -2px;
        }

        .tank-level {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }
        .front-tank-content{
            position: absolute;
            bottom: 10%;
            left: 5px;
            .tank-commodity-ullage{
                display: none;
            }
        }
        .tank-name {
            position:static;
            left: 3px;
            right: 3px;
            top: 17px;
            z-index: 2;
            text-align: center;
            font-size: 12px;
        }

        &:last-child {
            border-bottom: 0;

            .tank-name {
                top: 4px;
            }
        }
        .tank-filling-percentage{
            position: static;
        }
        &:last-child{
            .front-tank-content{
                top: 10%;
                bottom: auto;
            }
        }
    }

}

.ship-front-pattern.ship-front-content{
    z-index: 2;
    &:after{
        display: none;
    }
    .front-tank-wrapper > div:nth-child(2){
        border-top: 0;
    }
}
