<div class="tank-outer-pattern" [ngClass]="options?.class">
    <div class="ship-front-pattern">
        <div class="front-tank-wrapper">
            <ng-container *ngFor="let group of frontTanks">
                <div *ngFor="let tank of group" [ngClass]="{'active': tank?.id === selectedTankId}"
                    [ngStyle]="{'visibility': tank?.categoryId !== 2? 'hidden': 'visible'}"
                    (click)="options?.isSelectable && onTankSelect($event, tank?.id)">
                    <div class="tank-level"
                        [ngStyle]="{'height': (tank?.commodity && options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled) + '%', 'background-color': tank?.commodity?.colorCode}">
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="ship-front-pattern ship-front-content">
        <div class="front-tank-wrapper">
            <ng-container *ngFor="let group of frontTanks">
                <div *ngFor="let tank of group" [ngClass]="{'active': tank?.id === selectedTankId}"
                    [ngStyle]="{'visibility': tank?.categoryId !== 2? 'hidden': 'visible'}"
                    (click)="onTankSelect($event, tank?.id)">

                    <div class="front-tank-content">
                        <p-overlayPanel #op appendTo="body" styleClass="tank-tooltip ballast-tooltip {{!(tank?.commodity && tank?.commodity[options?.weightField]) ? 'empty' : ''}}">
                            <ul *ngIf="tank" class="row list-unstyled">
                                <li class="col-7">{{'TANK_LAYOUT_TANK'| translate}}</li>
                                <li class="col-5">{{tank?.shortName}}</li>
                                <ng-container *ngIf="tank?.commodity && tank?.commodity[options?.weightField]">
                                    <li class="col-7">{{'TANK_LAYOUT_ULLAGE'| translate}}</li>
                                    <li class="col-5">
                                        {{tank?.commodity[options?.ullageField] ? tank?.commodity[options?.ullageField] : 0}}
                                        {{options?.ullageUnit}}</li>
                                    <li class="col-7">{{'TANK_LAYOUT_SG'| translate}}</li>
                                    <li class="col-5">
                                        {{tank?.commodity[options?.densityField] ? tank?.commodity[options?.densityField] : 0}}
                                    </li>
                                    <li class="col-7">{{'TANK_LAYOUT_QUANTITY'| translate}}</li>
                                    <li class="col-5">
                                        {{tank?.commodity[options?.weightField]? tank?.commodity[options?.weightField] : 0}} {{options?.weightUnit}}
                                    </li>
                                    <li class="col-7">{{'TANK_LAYOUT_PERCENTAGE'| translate}}</li>
                                    <li class="col-5">{{tank?.commodity? options?.fillingPercentageField ?
                                    tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled : 0}}%
                                    </li>
                                </ng-container>
                            </ul>
                        </p-overlayPanel>
                        <div class="tank-name">
                            <div class="tank-btn-rounded" *ngIf="options?.showTooltip"
                                (mouseover)="tank && op.toggle($event)" (mouseout)="tank && op.toggle($event)"></div>
                            {{tank?.shortName}}
                        </div>
                        <ng-container *ngIf="tank?.commodity">
                            <span *ngIf="options?.showUllage"
                                class="tank-commodity-ullage">{{tank?.commodity[options?.ullageField]}}
                                {{options?.ullageUnit}}</span>
                            <span *ngIf="options?.showFillingPercentage"
                                class="tank-filling-percentage">{{options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled}}%</span>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="ship-rear-pattern">
        <div class="rear-top-pattern"></div>
        <div class="rear-bottom-pattern"></div>
        <ng-container *ngFor="let group of rearTanks">
            <div *ngFor="let tank of group" class="rear-tank-pattern"
                [ngClass]="{'active': tank?.id === selectedTankId}"
                [ngStyle]="{'visibility': tank?.categoryId !== 2? 'hidden': 'visible'}"
                (click)="onTankSelect($event, tank?.id)">
                <div class="tank-level"
                    [ngStyle]="{'height': (tank?.commodity && options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled) + '%', 'background-color': tank?.commodity?.colorCode}">
                </div>
                <div class="rear-tank-ullage-and-percentage">
                    <p-overlayPanel #op appendTo="body" styleClass="tank-tooltip ballast-tooltip {{!(tank?.commodity && tank?.commodity[options?.weightField]) ? 'empty' : ''}}">
                        <ul *ngIf="tank" class="row list-unstyled">
                            <li class="col-7">{{'TANK_LAYOUT_TANK'| translate}}</li>
                            <li class="col-5"> {{tank?.shortName}}</li>
                            <ng-container *ngIf="tank?.commodity && tank?.commodity[options?.weightField]">
                                <li class="col-7">{{'TANK_LAYOUT_ULLAGE'| translate}}</li>
                                <li class="col-5">
                                    {{tank?.commodity[options?.ullageField] ? tank?.commodity[options?.ullageField] : 0}}
                                    {{options?.ullageUnit}}</li>
                                <li class="col-7">{{'TANK_LAYOUT_SG'| translate}}</li>
                                <li class="col-5">
                                    {{tank?.commodity[options?.densityField] ? tank?.commodity[options?.densityField] : 0}}
                                </li>
                                <li class="col-7">{{'TANK_LAYOUT_QUANTITY'| translate}}</li>
                                <li class="col-5">
                                    {{tank?.commodity[options?.weightField]? tank?.commodity[options?.weightField]: 0}} {{options?.weightUnit}}
                                </li>
                                <li class="col-7">{{'TANK_LAYOUT_PERCENTAGE'| translate}}</li>
                                <li class="col-5">{{tank?.commodity? options?.fillingPercentageField ?
                                tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled : 0}}%
                                </li>
                            </ng-container>
                        </ul>
                    </p-overlayPanel>
                    <div class="tank-name">
                        <div class="tank-btn-rounded" *ngIf="options?.showTooltip"
                            (mouseover)="tank && op.toggle($event)" (mouseout)="tank && op.toggle($event)"></div>
                        {{tank?.shortName}}
                    </div>
                    <ng-container *ngIf="tank?.commodity">

                        <div *ngIf="options?.showFillingPercentage" class="tank-filling-percentage">
                            {{options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled}}%
                        </div>
                        <span *ngIf="options?.showUllage"
                            class="tank-commodity-ullage">{{tank?.commodity[options?.ullageField]}}
                            {{options?.ullageUnit}}</span>

                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- <div class="rear-tank-wrapper">
        
    </div> -->
    <div class="tank-inner-wrapper-pattern">
        <div class="tank-column-pattern" *ngFor="let group of tanks"
            [ngStyle]="{'width':getTankGroupWidthPercentage(tanks[0],group,tanks[tanks.length-1])}">
            <div *ngFor="let tank of group"
                [ngStyle]="{'grid-column': tank?.gridColumn, 'visibility': tank?.categoryId !== 2? 'hidden': 'visible'}"
                [class.active]="tank?.id === selectedTankId" (click)="onTankSelect($event, tank?.id)">
                <div [ngStyle]="{'background-color':tank.commodity?.colorCode, 'height': (tank?.commodity && options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled) + '%'}"
                    class="tank-level-pattern"></div>
                <p-overlayPanel #op appendTo="body" styleClass="ballast-tooltip tank-tooltip {{!(tank?.commodity && tank?.commodity[options?.weightField]) ? 'empty' : ''}}">
                    <ul *ngIf="tank" class="row list-unstyled">
                        <li class="col-7">{{'TANK_LAYOUT_TANK'| translate}}</li>
                        <li class="col-5">{{tank?.shortName}}</li>
                        <ng-container *ngIf="tank?.commodity && tank?.commodity[options?.weightField]">
                            <li class="col-7">{{'TANK_LAYOUT_ULLAGE'| translate}}</li>
                            <li class="col-5">
                                {{tank?.commodity[options?.ullageField] ? tank?.commodity[options?.ullageField] : 0}}
                                {{options?.ullageUnit}}</li>
                            <li class="col-7">{{'TANK_LAYOUT_SG'| translate}}</li>
                            <li class="col-5">
                                {{tank?.commodity[options?.densityField] ? tank?.commodity[options?.densityField] : 0}}
                            </li>
                            <li class="col-7">{{'TANK_LAYOUT_QUANTITY'| translate}}</li>
                            <li class="col-5">
                                {{tank?.commodity[options?.weightField]? tank?.commodity[options?.weightField]: 0}} {{options?.weightUnit}}
                            </li>
                            <li class="col-7">{{'TANK_LAYOUT_PERCENTAGE'| translate}}</li>
                            <li class="col-5">{{tank?.commodity? options?.fillingPercentageField ?
                            tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled : 0}}%
                            </li>
                        </ng-container>
                    </ul>
                </p-overlayPanel>
                <div class="tank-btn-rounded" *ngIf="options?.showTooltip" (mouseover)="tank && op.toggle($event)"
                (mouseout)="tank && op.toggle($event)"></div>
                <h5 class="tank-name">
                   
                    {{tank?.shortName}}
                </h5>
                <ng-container *ngIf="tank?.commodity">
                    <span *ngIf="options?.showUllage"
                        class="tank-commodity-ullage">{{tank?.commodity[options?.ullageField]}}
                        {{options?.ullageUnit}}</span>
                    <span *ngIf="options?.showFillingPercentage"
                        class="tank-filling-percentage">{{options?.fillingPercentageField ? tank?.commodity[options?.fillingPercentageField] : tank?.percentageFilled}}%</span>
                </ng-container>
            </div>
        </div>
    </div>

</div>