<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col pr-0">
                <h5 class="text-uppercase secondary-text heading-border pt-15 pb-10">Comments</h5>
            </div>
        </div>
        <div class="row mb-15">
            <div class="col ml-30">
                <textarea type="text" class="form-control" 
                placeholder="Enter Comment"></textarea>
                
            </div>
            <div><button class="btn btn-main" >Submit</button></div>
            
        </div>
        <div class="row">
            <div class="col ml-30">
            <div *ngFor="let item of [1,2,3]">
                <div class="text-secondary pb-10">Uttam Kumar, 07-17-2020 15:12:34 UTC</div>
                <div class="ml-30"><i class="icon-api-temp mr-10" ></i> sample test sample test sample test sample test</div>
                <hr>
            </div>
        </div>
        </div>
    </div>
</div>

