<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col pr-0">
                <h5 class="text-uppercase secondary-text heading-border pt-15 pb-10">{{'COMMENTS' | translate}}</h5>
            </div>
        </div>
        <form class="row mb-15" [formGroup]="commentForm">
            <div class="col ml-30">
                <textarea type="text" class="form-control" 
                [placeholder]="'ENTER_COMMENTS' | translate" #comment  (keyup.enter)="submitComments()" maxlength="100" formControlName="comment"></textarea>
                <p class="text-danger"  *ngIf="fieldError('comment')">{{'COMMENTS_REQUIRED'| translate}}</p>
            </div>
            <div><button type="button" class="btn btn-main" id="comment-save" *ngIf="enableSubmit" (click)="submitComments()" >{{'SUBMIT_COMMENT' | translate}}</button></div>
            
        </form>
        <div class="row">
            <div class="col ml-30">
            <div *ngFor="let commentsDetail of commentsDetails">
                <div class="text-secondary pb-10">{{commentsDetail?.userName}}, {{commentsDetail?.dataAndTime}} {{'COMMENTS_TIME' | translate}}</div>
                <div class="ml-30"><i class="icon-api-temp mr-10" ></i> {{commentsDetail?.comment}}</div>
                <hr>
            </div>
        </div>
        </div>
    </div>
</div>

