<div class="row mt-10" (mousemove)="synchronizeTooltips($event)" (touchmove)="synchronizeTooltips($event)"
  (touchstart)="synchronizeTooltips($event)" *ngIf="stageTickPositions">
  <div class="col-12">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'ganttChart'"
      *ngIf="cargoSequenceGanttChart && cargoSequenceChartSeries" [options]="cargoSequenceGanttChart"
      [callbackFunction]="cargoSequenceGanttChartCallback" [(update)]="updateCargoTankChart" [oneToOne]=true
      (chartInstance)="setCargoTankChartInstance($event)" class="sequence-chart cargo-sequence-chart">
    </highcharts-chart>
  </div>
  <div class="col-12" *ngIf="operation === OPERATIONS.DISCHARGING">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'ganttChart'"
      *ngIf="cargoPumpSequenceGanttChart && cargoPumpSequenceChartSeries" [options]="cargoPumpSequenceGanttChart"
      [(update)]="updateCargoPumpChart" [oneToOne]=true (chartInstance)="setCargoPumpChartInstance($event)"
      class="sequence-chart cargo-sequence-chart cargo-pumb-sequence-chart">
    </highcharts-chart>
  </div>
  <div class="col-12">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'ganttChart'"
      *ngIf="ballastSequenceGanttChart && ballastSequenceChartSeries" [options]="ballastSequenceGanttChart"
      [(update)]="updateBallastTankChart" [oneToOne]=true (chartInstance)="setBallastTankChartInstance($event)"
      class="sequence-chart ballast-sequence">
    </highcharts-chart>
  </div>
  <div class="col-12">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'ganttChart'"
      *ngIf="ballastPumpSequenceGanttChart && ballastPumpSequenceChartSeries" [options]="ballastPumpSequenceGanttChart"
      [(update)]="updateBallastPumpChart" [oneToOne]=true (chartInstance)="setBallastPumpChartInstance($event)"
      class="sequence-chart ballast-pump-sequence">
    </highcharts-chart>
  </div>
  <div class="col-12">
    <highcharts-chart [Highcharts]="Highcharts" *ngIf="flowRateAreaChart && flowRateChartSeries"
      [options]="flowRateAreaChart" [(update)]="updateFlowRateChart" [oneToOne]=true
      (chartInstance)="setFlowRateChartInstance($event)" class="sequence-chart flow-rate-chart">
    </highcharts-chart>
  </div>
  <div class="col-12">
    <highcharts-chart [Highcharts]="Highcharts" *ngIf="stabilityGanttChart && stabilityChartSeries"
      [options]="stabilityGanttChart" [(update)]="updateStabilityParamsChart" [oneToOne]=true
      (chartInstance)="setStabilityParamsChartInstance($event)" class="sequence-chart stabilityparams-chart">
    </highcharts-chart>
  </div>
</div>
