.sidebar-landing{
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    height: calc(100vh - 395px);
    padding-top: 73px;
}

.sidebar-right-landing{
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    &.tank-parameters-right{
        height: calc(100vh - 395px);
        padding-top: 73px;
    }
}

.port-stbd-list{
    width: 215px;
    min-width: 215px;
    max-width: 215px;
}

@media  (max-width:1400px){
    .sidebar-landing, .tank-parameters-right{
        padding-top: 7px!important;
    }
}
.activeVoyageLabel{
    font-weight: bold;
    padding: 10px;
}
.content-scroll{
    max-height: 100%;
    overflow-y: auto;
}