<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col vessel-info-wrapper">

                <cpdss-portal-vessel-info *ngIf="vesselInfo" [vesselDetails]="vesselInfo"></cpdss-portal-vessel-info>
            </div>
            <div class=""  *ngIf="vesselInfo && voyageInfo">
                <label for="">{{'VOYAGE_STATUS_ACTIVE_VOYAGE'| translate }}</label>
                <p-dropdown styleClass="dropdown-w-100" [options]="voyageInfo"  optionLabel="voyageNo" [(ngModel)]="selectedVoyage"
               ></p-dropdown>
            </div> 
            <div class="col">
                <a class="btn btn-link icon-btn plus-icon-rounded" (click)="showDialog()"
                    id="show-popup">{{'NEW_VOYAGE_BUTTON_VOYAGE_STATUS' | translate}}</a>
                <a class="btn btn-link icon-btn pencil-icon" (click)="showEditPortRotation()" id="show-edit-port-rotation-popup">{{'EDIT_PORT_ROTATION' |
                    translate}}</a>
                <cpdss-portal-unit-dropdown (unitChange)="onUnitChange($event)"></cpdss-portal-unit-dropdown>
            </div>
            <div class="pr-15" >
                {{'SHIP_LANDING_VOYAGE_DISTANCE' | translate}}
            </div>
            <div class="pr-15" >
                 {{voyageStatusTransformationService.voyageDistance}} {{'PORT_ROTATION_RIBBON_DISTANCE_UNIT' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <cpdss-portal-port-rotation-ribbon [vesselDetails]="vesselInfo" *ngIf="vesselInfo && selectedVoyage"  [voyageDetails]="selectedVoyage"  (portDetails)="getPortDetails($event)"></cpdss-portal-port-rotation-ribbon>
            </div>
           
        </div>
        <cpdss-portal-new-voyage-popup [vesselDetails]="vesselInfo" *ngIf="display && vesselInfo"
            (displayPopUp)="displayPopUpTab($event)">
        </cpdss-portal-new-voyage-popup>

        <cpdss-portal-edit-port-rotation  *ngIf="displayEditPortPopup && vesselInfo && selectedVoyage"
            (displayPopUp)="displayEditPortRotationPopUpTab($event)" [vesselDetails]="vesselInfo"  [voyageDetails]="selectedVoyage">
        </cpdss-portal-edit-port-rotation>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <cpdss-portal-parameter-list  *ngIf="bunkerConditions"  [bunkerConditions]="bunkerConditions"></cpdss-portal-parameter-list>
            </div>
            <div class="col-sm-4" *ngIf="voyageStatusResponse">
                <cpdss-portal-ship-landing-tanks [vesselId]="vesselInfo?.id" [voyageId]="selectedVoyage?.id" [loadableStudyId]="selectedVoyage?.confirmedLoadableStudyId" [shipLandingTanks]="voyageStatusResponse" [selectedPortDetails]="selectedPortDetails" [currentQuantitySelectedUnit]="currentQuantitySelectedUnit"></cpdss-portal-ship-landing-tanks>
            </div>
            <div class="col-sm-4">
                <cpdss-portal-cargo-details *ngIf="cargoConditions && cargoQuantities" [cargoConditions]="cargoConditions" [cargoQuantities]="cargoQuantities" [currentQuantitySelectedUnit]="currentQuantitySelectedUnit"></cpdss-portal-cargo-details>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <cpdss-portal-draft-condition *ngIf="voyageStatusResponse?.stabilityConditions" [draftCondition]="voyageStatusResponse?.stabilityConditions"></cpdss-portal-draft-condition>
            </div>
        </div>
    </div>
</div>