.sidebar-landing{
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    height: calc(100vh - 355px);
}

.sidebar-right-landing{
    width: 280px;
    max-width: 280px;
    min-width: 280px;
    &.tank-parameters-right{
        height: calc(100vh - 355px);
    }
}

.port-stbd-list{
    width: 215px;
    min-width: 215px;
    max-width: 215px;
}