.notification-panel {
  width: 100%;
  height: calc(100vh - 100px);
  border-radius: 10px;
  padding: 10px;
}

.notification-list {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
}

.notification-item {
  display: flex;
  width: 100%;
  padding-top: 5px;

  .flag-container {
    width: 12%;
  }

  .notification-details {
    width: 88%;
    padding-right: 5px;

    p {
      height: 10px;
    }

    .text-medium {
      font-size: 11px;
      color: black;
    }
  }
}

.notification-item:hover {
  cursor: pointer;
}

.switch-tabs {
  display: flex;
  margin-bottom: 5px;

  div {
    width: 50%;
  }

  div a {
    padding: 5px 10px;
  }
}

.filters {
  margin-bottom: 5px;
  width: 100%;

  div input {
    width: 100%;
  }
}

.filters div:first-child {
  width: 100%;
}

.filters div:last-child {
  display: flex;
  width: 100%;
  margin-bottom: 5px;

  label {
    padding-right: 5px;
    width: 40%;
    font-size: 11px
  }

  .calendar {
    width: 60%;
  }
}
