<header>
    <div class="logo"><img src="../../assets/images/logo.png"></div>
    <div class="header-nav">
        <ul class="nav">
            <li class="nav-item" [routerLink]="['voyage-status']" routerLinkActive="active">
                <div class="menu-item-icon status"></div>
                <div class="menu-item-text">{{ 'STATUS' | translate }}</div>
            </li>
            <li class="nav-item" [routerLink]="['cargo-planning']" routerLinkActive="active">
                <div class="menu-item-icon cargo-planning"></div>
                <div class="menu-item-text">{{'CARGO_PLANNING' | translate}}</div>
            </li>
            <li class="nav-item" [routerLink]="['operations']" routerLinkActive="active">
                <div class="menu-item-icon voyages"></div>
                <div class="menu-item-text">Operations</div>
            </li>
            <li class="nav-item" [routerLink]="['voyages']" routerLinkActive="active">
                <div class="menu-item-icon voyages"></div>
                <div class="menu-item-text">Voyages</div>
            </li>
            <li class="nav-item" [routerLink]="['admin']" routerLinkActive="active">
                <div class="menu-item-icon voyages"></div>
                <div class="menu-item-text">Admin</div>
            </li>
        </ul>
    </div>
    <div>
        <ul class="nav right pt-10">
            <li class="nav-item  active">
                <a class="header-menu-item-right sign-in-icon"></a>
            </li>
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a></a>
            </li>
        </ul>
    </div>
</header>