<header>
    <div class="logo">
        <img [src]="companyLogo"><span class="cpdss"></span>
    </div>
    <div class="header-nav">
        <ul class="nav">
            <li [ngClass]="{'nav-item dropdown':true ,'show': isSubMenu[i] }" (click)="showSubmenu(list.subMenu, i)"
                (focusout)="hide(list.subMenu, i)" *ngFor="let list of menuList; let i = index"
                [routerLink]="list.menuLink" routerLinkActive="active">
                <div class="menu-item-icon {{list.menuIcon}}"></div>
                <div class="menu-item-text">{{ list.menu | translate}}</div>
                <div class="dropdown-menu" *ngIf="list.subMenu.length>0 && isSubMenu[i]">
                    <a class="dropdown-item" href="#" *ngFor="let subMenu of list.subMenu">{{subMenu.name}}</a>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <ul class="nav right pt-10">
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a></a>
            </li>
            <li class="nav-item">
                <a></a>
            </li>
            <li tabindex="-1" class="nav-item dropdown" [ngClass]="{'active': showUserIconDropdown}"
                (focusout)="onUserIconMenuToggle()">
                <a class="header-menu-item-right sign-in-icon" id="user-icon-button" (click)="onUserIconMenuToggle()">
                </a>
                <div class="dropdown-menu dropdown-menu dropdown-menu-right" [ngClass]="{'show': showUserIconDropdown}">
                    <a class="dropdown-item" (click)="logout()" id="logout-button">{{'LOGOUT'| translate}}</a>
                </div>
            </li>
        </ul>
    </div>
</header>