
<form [formGroup]="loadingRatesFormGroup" id="fg_load_discharge_details">
   
    <div class="container-fluid">
        <div class="row item-row-wrapper">
            <div class="col">
                <div class="row form-group">
                    <label for="max_loading_rate"
                        class="col-5 no-left-padding">{{'Max loading rate' | translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="number" class="form-control" *ngIf="editMode;else maxLoadingRef"
                        id="max_loading_rate" formControlName="maxLoadingRate"  placeholder="{{'LOADING_RATE_MAX_LOADING_PLACEHOLDER' | translate}}"
                        (change)="onChange('maxLoadingRate')" [readonly]="false">
                        <ng-template #maxLoadingRef><span>{{maxLoadingRate?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('maxLoadingRate')"
                            [errorMessages]="errorMesages?.maxLoadingRate"></cpdss-portal-validation-error>
                    </div>
                      
                </div>
                <div class="row form-group">
                    <label for="reduced_loading_rate"
                        class="col-5 no-left-padding">{{'LOADING_RATE_REDUCED_LOADING_RATE' | translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" *ngIf="editMode;else reducedLoadingRef"
                        id="reduced_loading_rate" formControlName="reducedLoadingRate"  placeholder="{{'LOADING_RATE_REDUCED_LOADING_RATE_PLACEHOLDER' | translate}}"
                        (change)="onChange('reducedLoadingRate')" [readonly]="false">
                        <ng-template #reducedLoadingRef><span>{{reducedLoadingRate?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('reducedLoadingRate')"
                        [errorMessages]="errorMesages?.reducedLoadingRate"></cpdss-portal-validation-error>
                    </div>
                     
                </div>
                <div class="row form-group">
                    <label for="min_loading_rate"
                        class="col-5 no-left-padding">{{'LOADING_RATE_MIN_LOADING_RATE' | translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" *ngIf="editMode;else initialLoadingRate"
                        id="min_loading_rate" formControlName="initialLoadingRate"  placeholder="{{'LOADING_RATE_MIN_LOADING_RATE_PLACEHOLDER' | translate}}"
                        (change)="onChange('initialLoadingRate')" [readonly]="false">
                        <ng-template #initialLoadingRate><span>{{initialLoadingRate?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('initialLoadingRate')"
                            [errorMessages]="errorMesages?.initialLoadingRate"></cpdss-portal-validation-error>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="min_debellast_loading_rate"
                        class="col-5 no-left-padding">{{'LOADING_RATE_MIN_DEBALLAST_RATE' | translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" *ngIf="editMode;else minDeballstRef"
                        id="min_debellast_loading_rate" formControlName="minDeBallastingRate"  placeholder="{{'LOADING_RATE_MIN_DEBALLAST_RATE_PLACEHOLDER'| translate}}"
                        (change)="onChange('minDeBallastingRate')" [readonly]="false">
                        <ng-template #minDeballstRef><span>{{minDeBallastingRate?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('minDeBallastingRate')"
                        [errorMessages]="errorMesages.minDeBallastingRate"></cpdss-portal-validation-error>
                    </div>
                   
                </div>
                <div class="row form-group">
                    <label for="max_de_ballast_loading_rate"
                        class="col-5 no-left-padding">{{'LOADING_RATE_MAX_DEBALLAST_RATE'| translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" *ngIf="editMode;else maxDeballstRef"
                        id="max_de_ballast_loading_rate" formControlName="maxDeBallastingRate"  placeholder="{{'LOADING_RATE_MAX_DEBALLAST_RATE_PLACEHOLDER'| translate}}"
                        (change)="onChange('maxDeBallastingRate')" [readonly]="false">
                        <ng-template #maxDeballstRef><span>{{maxDeBallastingRate?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('maxDeBallastingRate')"
                            [errorMessages]="errorMesages.maxDeBallastingRate"></cpdss-portal-validation-error>
                    </div>
                    
                </div>  
                <div class="row form-group">
                    <label for="notice_time_reduction_loading_rate"
                        class="col-5 no-left-padding">{{'LOADING_RATE_NOTICE_TIME_FOR_RATE_REDUCTION'| translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" *ngIf="editMode;else rateRecuctionRef"
                        id="notice_time_reduction_loading_rate" formControlName="noticeTimeRateReduction"  placeholder="{{'LOADING_RATE_NOTICE_TIME_FOR_RATE_REDUCTION_PLACEHOLDER'| translate}}"
                        (change)="onChange('noticeTimeRateReduction')" [readonly]="false">
                        <ng-template #rateRecuctionRef><span>{{noticeTimeRateReduction?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('noticeTimeRateReduction')"
                            [errorMessages]="errorMesages.noticeTimeRateReduction"></cpdss-portal-validation-error>
                    </div> 
                </div>   
                <div class="row form-group">
                    <label for="notice_time_stopping_loading_rate"
                        class="col-5 no-left-padding">{{'LOADING_RATE_NOTICE_TIME_FOR_STOPPING_LOADING'| translate}}</label>
                    <div class="col error-icon-wrapper">
                        <input type="text" cpdssPortalNumberDecimal [negative]="false" class="form-control" *ngIf="editMode;else stopingLoadingRef"
                        id="notice_time_stopping_loading_rate" formControlName="noticeTimeStopLoading"  placeholder="{{'LOADING_RATE_NOTICE_TIME_FOR_STOPPING_LOADING_PLACEHOLDER'| translate}}"
                        (change)="onChange('noticeTimeStopLoading')" [readonly]="false">
                        <ng-template #stopingLoadingRef><span>{{noticeTimeStopLoading?.value}}</span></ng-template>
                        <cpdss-portal-validation-error [errors]="fieldError('noticeTimeStopLoading')"
                        [errorMessages]="errorMesages.noticeTimeStopLoading"></cpdss-portal-validation-error>
                    </div>
                    
                </div>        
                
            </div>
           

        </div>
    </div>
</form>