<p-dialog id="dialog_newLoadableStudyPopup" header="{{'UPDATE ULLAGE' | translate}}" [visible]="true" *ngIf="display"
    [modal]="true" styleClass="arrival-condition-pop-up" [draggable]="false" [responsive]="true" [minY]="70"
    [closable]="false">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <label for="">{{'ULLAGE_UPDATE_PORT_LABEL' | translate}}</label>
                <span class="pl-20">
                    <label>{{ selectedPortName ? selectedPortName : ''}}</label>
                </span>
            </div>
            <div class="col-md-4">
                <label for="">{{'LOADABLE_PLAN_ULLAGE_UPDATE_STATUS_LABEL' | translate}}</label>
                <span class="pl-20">
                    <label *ngIf="status === ULLAGE_STATUS.ARRIVAL && operation === OPERATIONS.LOADING">{{
                        'ULLAGE_UPDATE_STATUS_LABEL_LOADING_ARRIVAL' | translate}}</label>
                    <label *ngIf="status === ULLAGE_STATUS.DEPARTURE && operation === OPERATIONS.LOADING">{{
                        'ULLAGE_UPDATE_STATUS_LABEL_LOADING_DEPARTURE' | translate}}</label>
                    <label *ngIf="status === ULLAGE_STATUS.ARRIVAL && operation === OPERATIONS.DISCHARGING">{{
                        'ULLAGE_UPDATE_STATUS_LABEL_DISCHARGING_ARRIVAL' | translate}}</label>
                    <label *ngIf="status === ULLAGE_STATUS.DEPARTURE && operation === OPERATIONS.DISCHARGING">{{
                        'ULLAGE_UPDATE_STATUS_LABEL_DISCHARGING_DEPARTURE' | translate}}</label>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="pt-15">
                    <div class="col  text-center">
                        <a class="tab-btn tab-btn-default tank-tabs tank-icon"
                            [ngClass]="{'active': selectedTab === tankType.CARGO}" pTooltip="{{'CARGO' | translate}}"
                            tooltipPosition="top" id="ship_landing_cargo_tab" (click)="onTabClick(tankType.CARGO)">
                        </a>
                        <a class="tab-btn tab-btn-default tank-tabs ballast-icon"
                            [ngClass]="{'active': selectedTab === tankType.BALLAST}"
                            pTooltip="{{'BALLAST' | translate}}" tooltipPosition="top" id="ship_landing_ballast_tab"
                            (click)="onTabClick(tankType.BALLAST)">
                        </a>
                        <a class="tab-btn tab-btn-default tank-tabs bunker-icon"
                            [ngClass]="{'active': selectedTab === tankType.BUNKER}" pTooltip="{{'BUNKER' | translate}}"
                            tooltipPosition="top" id="ship_landing_bunker_tab" (click)="onTabClick(tankType.BUNKER)">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-20">
            <div class="col-5 auto-layout">
                <cpdss-portal-datatable [showTotalClass]="'text-left'" [showTotal]="true" [scrollable]="false"
                    *ngIf="selectedTab === tankType.CARGO" [value]="cargoQuantities" [filterable]="false"
                    [tableId]="'cargo_list'" [selectionMode]="selectionMode" (columnClick)="onRowSelection($event)"
                    [(selection)]="selectedTank" (editComplete)="cargoEditCompleted($event)" [form]="cargoTankForm"
                    [editMode]="editMode" [columns]="cargoColumns"></cpdss-portal-datatable>
                <cpdss-portal-datatable [showTotalClass]="'text-left'" [showTotal]="true" [scrollable]="false"
                    [selectionMode]="selectionMode" [form]="ballastTankForm" [editMode]="editMode"
                    *ngIf="selectedTab === tankType.BALLAST" (editComplete)="ballastEditCompleted($event)"
                    [value]="ballastQuantities" [filterable]="false" [tableId]="'ballast_list'"
                    (columnClick)="onRowSelection($event)" [(selection)]="selectedTank" [columns]="ballastColumns">
                </cpdss-portal-datatable>
                <cpdss-portal-datatable [showTotalClass]="'text-left'" [scrollable]="false" [showTotal]="true"
                    [selectionMode]="selectionMode" *ngIf="selectedTab === tankType.BUNKER" [value]="bunkerTanksList"
                    [filterable]="false" [tableId]="'bunker_table'" (columnClick)="onRowSelection($event)"
                    (editComplete)="bunkerEditCompleted($event)" [(selection)]="selectedTank" [form]="bunkerTankForm"
                    [editMode]="editMode" [columns]="bunkerColumns"></cpdss-portal-datatable>
            </div>
            <div class="col-7">
                <div class="row" *ngIf="selectedTab === tankType.CARGO">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">
                                {{'LOADABLE_PLANE_CARGO_GRADE' | translate}}
                            </div>
                            <div class="col">
                                <p-dropdown styleClass="form-control" [(ngModel)]="selectedCargo"
                                    [options]="gradeDropdown" appendTo="body" id="cargo_name"
                                    optionLabel="cargoAbbrevation" focusTrap resetFilterOnHide="true" [filter]="true"
                                    (onChange)="changeCargo($event)"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-5">
                                <label for="" class="mb-0">{{'LOADABLE_PLAN_ULLAGE_UPDATE_SHOW_AS_LABEL'|
                                    translate}}</label>
                            </div>
                            <div class="col">
                                <p-dropdown [(ngModel)]="showAs" filter="true" styleClass="form-control"
                                    (onChange)="showAsChange($event)" [disabled]="status === ULLAGE_STATUS.ARRIVAL"
                                    [options]="showAsOptions" optionLabel="label" resetFilterOnHide="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="upload-file v-bottom">
                            {{'ULLAGE_UPDATE_FILE_UPLOAD_LABEL' | translate}}
                            <input type="file" name="fl_attachMail" #fileUpload
                                title="No file selected"  focusTrap (change)="excelUpload($event)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col loading-discharging-tank-layout m-auto" *ngIf="selectedTab === tankType.CARGO">

                        <div class="col">
                            <div class="row pt-10">
                                <div class="col-2">{{'LOADABLE_PLANE_CARGO_GRADE' | translate}}</div>
                                <div class="col">
                                    <ul class="list-inline tank-order mb-5">
                                        <li class="pt-5 list-inline-item"
                                            *ngFor="let cargoDetail of ullageResponseData?.billOfLaddingList; let i = index;">
                                            <span class="badge-custom mr-5" class="badge-custom"
                                                [ngClass]="cargoDetail?.isCommingle ? 'commingle' : ''"
                                                [ngStyle]="!cargoDetail?.isCommingle && {'background': cargoDetail.cargoColor}">
                                                {{cargoDetail.cargoAbbrevation}} </span> <span *ngIf="i !== (ullageResponseData?.billOfLaddingList?.length - 1)"
                                                class="ml-5 mr-5">></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col text-right">
                                    <ng-container *ngIf="percentageFilled">
                                        <span>{{percentageFilled }}</span><span>{{'LOADABLE_PLAN_FILLED' |
                                            translate}}</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <cpdss-portal-cargo-tank-layout [(selectedTankId)]="selectedTankId"
                                        [tanks]="cargoTanks" [options]="cargoTankOptions">
                                    </cpdss-portal-cargo-tank-layout>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-11 m-auto loading-discharging-tank-layout  loadable-plan-ballast"
                        *ngIf="selectedTab === tankType.BALLAST">
                        <cpdss-portal-ballast-layout [(selectedTankId)]="selectedTankId" [tanks]="centerBallastTanks"
                            [rearTanks]="rearBallastTanks" [frontTanks]="frontBallastTanks"
                            [options]="ballastTankOptions">
                        </cpdss-portal-ballast-layout>

                    </div>
                    <div class="col col-7 m-auto landing-page-tank-wrapper" *ngIf="selectedTab === tankType.BUNKER">
                        <div class="row">
                            <div class="col pb-10 pt-10">
                                <span class="mr-10 text-uppercase text-secondary">{{'SHIP_LANDING_TYPE'|
                                    translate}}</span>
                                <ng-container *ngFor="let fuelType of fuelTypes">
                                    <span class="badge-custom mr-5" *ngIf="fuelType?.shortName"
                                        [ngStyle]="{'background-color': fuelType?.colorCode}">{{fuelType?.shortName}}</span>
                                </ng-container>

                            </div>
                            <div class="col-3 pt-10 text-right">
                                <ng-container *ngIf="percentageFilled">
                                    <span>{{percentageFilled }}</span><span>{{'LOADABLE_PLAN_FILLED' |
                                        translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                        <cpdss-portal-bunkering-layout [(selectedTankId)]="selectedTankId" [tanks]="bunkerTanks"
                            [rearTanks]="rearBunkerTanks" [options]="ohqTankOptions">
                        </cpdss-portal-bunkering-layout>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="selectedTab === tankType.CARGO && status === ULLAGE_STATUS.DEPARTURE" class="row pt-25">
            <div class="col-md-4 pb-10">
                <label>{{'LOADABLE_PLAN_BL_FIGURE_HEADING'| translate}}</label>
            </div>
        </div>
        <div *ngIf="selectedTab === tankType.CARGO && status === ULLAGE_STATUS.DEPARTURE" class="row">
            <div class="col">
                <form>
                    <ng-container>
                        <p-table [value]="blFigure.items" [columns]="blFigureColumns" dataKey="cargoName">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">{{col?.header | translate}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                <ng-container>
                                    <ng-container *ngFor="let column of rowData;let index=index">
                                        <ng-container>
                                            <ng-container
                                                *ngTemplateOutlet="rowTemplate;context:{rowData: column.cargo, rowIndex: rowIndex, columns: columns , index:index}">
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-template #rowTemplate let-rowData="rowData" let-rowIndex="rowIndex"
                                    let-columns="columns" let-index="index">
                                    <ng-container>
                                        <tr>
                                            <ng-container *ngFor="let col of columns; let subIndex = index">
                                                <ng-container
                                                    *ngTemplateOutlet="cell;context:{rowData: rowData, column: col, colIndex: subIndex, rowIndex: rowIndex, columns: columns , index:index}">
                                                </ng-container>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-template>

                                <ng-template #cell let-rowData="rowData" let-col="column" let-colIndex="colIndex"
                                    let-rowIndex="rowIndex" let-columns="columns" let-index="index">

                                    <td (click)="onClick($event, rowData, rowIndex, col)" [pEditableColumn]="rowData"
                                        [pEditableColumnField]="col.field" [pEditableColumnRowIndex]="rowIndex"
                                        *ngIf="isCellVisable(index, col)" [ngSwitch]="col.fieldType"
                                        [attr.rowspan]="calculateRowSpan(index, colIndex , rowIndex)">

                                        <ng-container *ngSwitchCase="fieldType.NUMBER">

                                            <ng-container *ngIf="editMode && rowData[col.field]?.isEditMode">
                                                <div class="error-icon-wrapper">
                                                    <input type="text" cpdssPortalNumberDecimal [negative]="false" [min]="0"
                                                        class="form-control" id="{{rowIndex+col.field+index}}"
                                                        [formControl]="getControl(rowIndex,index,col.field)"
                                                        (blur)="onEditComplete($event,rowData,col.field,rowIndex,index)">
                                                    <cpdss-portal-validation-error
                                                        [errors]="fieldError(rowIndex,index,col.field)"
                                                        [errorMessages]="col?.errorMessages">
                                                    </cpdss-portal-validation-error>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="!editMode || !rowData[col.field]?.isEditMode">
                                                <span>{{rowData[col.field].value| number:col?.numberFormat}}</span>
                                            </ng-container>

                                        </ng-container>

                                        <ng-container *ngSwitchCase="fieldType.TEXT">
                                            <ng-container *ngIf="editMode && rowData[col.field]?.isEditMode">
                                                <div class="error-icon-wrapper">
                                                    <input type="text" class="form-control"
                                                        id="{{rowIndex+col.field+index}}"
                                                        [formControl]="getControl(rowIndex,index,col.field)"
                                                        (blur)="onEditComplete($event,rowData, col.field, rowIndex,index)">
                                                    <cpdss-portal-validation-error
                                                        [errors]="fieldError(rowIndex,index,col.field)"
                                                        [errorMessages]="col?.errorMessages">
                                                    </cpdss-portal-validation-error>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="!editMode || !rowData[col.field]?.isEditMode">
                                                <span>{{rowData[col.field].value}}</span>
                                            </ng-container>

                                        </ng-container>
                                        <ng-container *ngSwitchCase="fieldType.BADGE">
                                            <span class="badge-custom" [ngStyle]="{'background': rowData.cargoColor}">{{rowData[col.field]}}</span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="fieldType.ACTION">
                                            <i class="pi pi-minus-circle" *ngIf="index !== 0"
                                                (click)="deleteConfirm(rowIndex,index)"></i>
                                            <i class="pi pi-plus-circle" *ngIf="index === 0"
                                                (click)="newCargo(rowIndex,index)"></i>
                                        </ng-container>


                                        <ng-container *ngSwitchDefault>
                                            {{rowData[col.field]}}
                                        </ng-container>

                                    </td>

                                </ng-template>

                            </ng-template>
                            <ng-template pTemplate="footer" let-columns>
                                <tr>
                                    <td colspan="2">{{'LOADABLE_QUANTITY_TOTAL' | translate}}</td>
                                    <td>{{blFigureTotal?.bbl | quantityDecimalFormat: 'OBSBBLS'}}</td>
                                    <td>{{blFigureTotal?.lt | quantityDecimalFormat: 'LT' }}</td>
                                    <td>{{blFigureTotal?.mt |quantityDecimalFormat: 'MT'}}</td>
                                    <td>{{blFigureTotal?.kl | quantityDecimalFormat: 'KL'}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </form>
            </div>
        </div>
        <div *ngIf="selectedTab === tankType.CARGO && status === ULLAGE_STATUS.DEPARTURE" class="row">
            <div class="col-md-4 pt-20">
                {{'LOADABLE_PLAN_CARGO_QUANTITY_TABLE' | translate}}
            </div>
        </div>
        <div *ngIf="selectedTab === tankType.CARGO && status === ULLAGE_STATUS.DEPARTURE" class="row">
            <div class="col-md-12 pt-20">
                <p-table [value]="cargoQuantityList">
                    <ng-template pTemplate="header">
                        <tr>
                            <th rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_NAME' | translate}}</th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_NOMINATION_FIG_IN_BBLS' |
                                translate}}</th>
                            <th rowspan="2"></th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_BBLS@60F'| translate}}</th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_LT'| translate}}</th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_MT'| translate}}</th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_KL@15C'| translate}}</th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_API'| translate}}</th>
                            <th class="text-right" rowspan="2">{{'LOADABLE_PLAN_CARGO_GRADE_TEMP'| translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-index>
                        <tr>
                            <td rowspan="4"><span class="badge-custom" [ngStyle]="{'background': row.cargoColor}">{{row.cargoAbbrevation}}</span></td>
                            <td class="text-right" rowspan="4">{{row.nominationTotal | quantityDecimalFormat: 'OBSBBLS'}}</td>
                            <td>{{'ULLAGE_UPDATE_PLAN_LABEL' | translate}}</td>
                            <td class="text-right">{{row.plan.bbl | quantityDecimalFormat : QUANTITY_UNIT.BBLS}}</td>
                            <td class="text-right">{{row.plan.lt | quantityDecimalFormat : QUANTITY_UNIT.LT}}</td>
                            <td class="text-right">{{row.plan.mt | quantityDecimalFormat : QUANTITY_UNIT.MT}}</td>
                            <td class="text-right">{{row.plan.kl | quantityDecimalFormat : QUANTITY_UNIT.KT}}</td>
                            <td class="text-right">{{row.plan.api?.toFixed(2)}}</td>
                            <td class="text-right">{{row.plan.temp?.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>{{'ULLAGE_UPDATE_ACTUAL_LABEL' | translate}}</td>
                            <td class="text-right">{{row.actual.bbl | quantityDecimalFormat : QUANTITY_UNIT.BBLS}}</td>
                            <td class="text-right">{{row.actual.lt | quantityDecimalFormat : QUANTITY_UNIT.LT}}</td>
                            <td class="text-right">{{row.actual.mt | quantityDecimalFormat : QUANTITY_UNIT.MT}}</td>
                            <td class="text-right">{{row.actual.kl | quantityDecimalFormat : QUANTITY_UNIT.KL}}</td>
                            <td class="text-right">{{row.actual?.api?.toFixed(2)}}</td>
                            <td class="text-right">{{row.actual?.temp?.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>{{'ULLAGE_UPDATE_BLFIG_LABEL' | translate}}</td>
                            <td class="text-right">{{row.blFigure.bbl | quantityDecimalFormat : QUANTITY_UNIT.BBLS}}</td>
                            <td class="text-right">{{row.blFigure.lt | quantityDecimalFormat : QUANTITY_UNIT.LT}}</td>
                            <td class="text-right">{{row.blFigure.mt | quantityDecimalFormat : QUANTITY_UNIT.MT}}</td>
                            <td class="text-right">{{row.blFigure.kl | quantityDecimalFormat : QUANTITY_UNIT.KL}}</td>
                            <td class="text-right">{{row.blFigure.api?.toFixed(2)}}</td>
                            <td class="text-right">{{row.blFigure.temp?.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>{{'ULLAGE_UPDATE_DIFF_LABEL' | translate}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.bbl != 0}">{{row.difference.bbl | quantityDecimalFormat : QUANTITY_UNIT.BBLS}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.lt != 0}">{{row.difference.lt | quantityDecimalFormat : QUANTITY_UNIT.LT}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.mt != 0}">{{row.difference.mt | quantityDecimalFormat : QUANTITY_UNIT.MT}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.kl != 0}">{{row.difference.kl | quantityDecimalFormat : QUANTITY_UNIT.KL}}</td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>{{'ULLAGE_UPDATE_DIFFPER_LABEL' | translate}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.bbl != 0}">{{row.diffPercentage.bbl}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.lt != 0}">{{row.diffPercentage.lt}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.mt != 0}">{{row.diffPercentage.mt}}</td>
                            <td class="text-right" [ngClass]="{'text-danger' : row.difference.kl != 0}">{{row.diffPercentage.kl}}</td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <p-footer>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-main" (click)="closeDialog()" id="new-loadable-study-popup-cancel"
                    focusTrap>{{'NEW_LOADABLE_STUDY_POPUP_CANCEL_BUTTON' | translate}}</button>
                <button (click)="saveUllage(false)" class="btn btn-main" id="new-loadable-study-popup-save"
                    form="fg_newLoadableStudy" autofocus focusTrap [disabled]="isDischargeStarted || !permission?.view">{{'SAVE' |
                    translate}}</button>
                <button (click)="saveUllage(true)" class="btn btn-main" id="new-loadable-study-popup-save"
                    form="fg_newLoadableStudy" autofocus focusTrap
                    [disabled]="isDischargeStarted || !permission?.view">{{'ULLAGE_UPDATE_SAVE_AND_VALIDATE_LABEL' |
                    translate}}</button>
            </div>
        </div>
    </p-footer>
</p-dialog>