<div class="row">
    <div class="col mt-15 table-pattern-synoptical">
        <p-table #datatable [columns]="tableCol" [value]="tableRow" styleClass="table-pattern-view-more body-header-row-span-table">
            <ng-template #row pTemplate="header" let-rowData let-columns>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngFor="let col of columns">{{col.header | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <th *ngIf="rowData?.header" [attr.rowspan]="rowData.rowspan">{{rowData.header | translate}}</th>
                    <th>{{rowData.subHeader | translate}}</th>
                    <ng-container *ngFor="let col of columns;let index = index">
                            <td>{{loadablePlanSynopticRecord[rowData.field]}}</td>
                    </ng-container>
                    </tr>
            </ng-template>
        </p-table>
    </div>
</div>